﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.WinterSummer

@{
    ViewBag.Title = "寒暑假新增";
}

<h2>寒暑假新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>WinterSummer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.EndDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.WinterSummer>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <p>
           <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁" />
            <input class="btn btn-success" type="submit" value="新增" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
