seTemplateCore(System.Web.Razor.Text.ITextDocument,System.Nullable{System.Threading.CancellationToken})">
      <summary>This type/member supports the .NET Framework infrastructure and is not intended to be used directly from your code.</summary>
    </member>
    <member name="T:System.Web.Razor.StateMachine`1">
      <summary>This type/member supports the .NET Framework infrastructure and is not intended to be used directly from your code.</summary>
      <typeparam name="TReturn"></typeparam>
    </member>
    <member name="M:System.Web.Razor.StateMachine`1.#ctor">
      <summary>This type/member supports the .NET Framework infrastructure and is not intended to be used directly from your code.</summary>
    </member>
    <member name="P:System.Web.Razor.StateMachine`1.CurrentState">
      <summary>This type/member supports the .NET Framework infrastructure and is not intended to be used directly from your code.</summary>
    </member>
    <member name="P:System.Web.Razor.StateMachine`1.StartState">
      <summary>This type/member supports the .NET Framework infrastructure and is not intended to be used directly from your code.</summary>
    </member>
    <member name="M:System.Web.Razor.StateMachine`1.Stay">
      <summary>This type/member su