﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.TermsofService

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TermsofService</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)

        </div>
        <div class="editor-field">
              @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
          @*  @Html.TextBoxFor(model => model.Content, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.TermsofService>.GetDisplayName("Content")})*@
            @Html.ValidationMessageFor(model => model.Content)


        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

        <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

}
