﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.TermsofService

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TermsofService</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
          @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <div class="confirm-group">
            <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁" />
            <input class="btn btn-success" type="submit" value="確定" /> 
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

}
