﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Driver

@{
    ViewBag.Title = "駕駛管理新增";
}

<h2>駕駛管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Driver</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Driver>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StaffNo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StaffNo, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Driver>.GetDisplayName("StaffNo")})
            @Html.ValidationMessageFor(model => model.StaffNo)


        </div>


         <div class="editor-label">
           @Html.LabelFor(model => model.Account)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)<input id="btnCheck" type="button" class="btn btn-primary" value="檢查帳號" />
            @Html.ValidationMessageFor(model => model.Account) <span>@ViewBag.Message</span>
            
        </div>
          <div class="editor-label">
         @Html.LabelFor(model => model.Password)

        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            
        </div>

     
        <div align="center">
            <input class="btn btn-primary" type="submit" value="新增" />
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script>
         $("#btnCheck").click(function () {
             if ($("#Account").val() == "") {
                 alert("帳號不可空白");
                 return;
             }
             $.get("CheckAccount", { userName: $("#Account").val() }).done(function (data) {

                 alert(data);

             }).fail(function () { alert("連線錯誤!"); });
         });
</script>
}