﻿@model PtBusToSchool.Models.Driver

@{
    ViewBag.Title = "駕駛管理刪除";
}

<h2>駕駛管理刪除</h2>

<h3 style="text-align: center;color:red;">你確定要刪除嗎?</h3>
<fieldset style="text-align: center;padding: 20px;">
    <legend>Driver</legend>

         @Html.DisplayNameFor(model => model.Subject)
        @Html.DisplayFor(model => model.Subject)
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div align="center">
        <input class="btn btn-danger" type="submit" value="刪除" /> 
        <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
    </div>
}
