﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.Driver

@{
    ViewBag.Title = "駕駛管理編輯";
}

<h2>駕駛管理編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Driver</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Driver>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StaffNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StaffNo,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Driver>.GetDisplayName("StaffNo") })
           
        </div>


          <div class="editor-label">
             @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
             @Html.DisplayFor(model => model.Account)
             @Html.HiddenFor(model => model.Account)
        </div>

     <div class="editor-label">
             @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.Password("NewPassword")
            <input type="hidden" id="hash" name="hash" value="@(Model.Password)" >
            @Html.HiddenFor(model=>model.PasswordSalt)  
        </div>
 





        @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)




        <div align="center">
            <input class="btn btn-primary" type="submit" value="更新" /> 
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
