﻿@using MvcPaging
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.Driver>


@{
    ViewBag.Title = "駕駛資訊管理";
}


<style>
    .popup_tip label {
        width: 130px;
    }
</style>

<h2>@ViewBag.Title 
    <a id="AddDriver" class="popup_btn btn btn-primary" href="#AddDriverPanel">新增駕駛</a>

</h2>

<div class="top">
    @*@Html.ActionLink("新增", "Create", new { ParentId = @ViewBag.ParentId },new { @class = "btn btn-primary" })*@
</div>

    @using (Html.BeginForm())
{
<div class="input-text-group">
<div>
               
               <!--
               <label for=""> @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
               </label>
                -->
  <label for=""> @Html.DisplayNameFor(model => model.FirstOrDefault().StaffNo)
               </label>
  @Html.InputSearchBox("SearchByStaffNo", ViewData["SearchByStaffNo"])
                <label for="">駕駛姓名</label>

                @Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
         <input class="btn btn-primary" type="submit" value="搜尋" />

	</div>
    </div>
    @*<div class="input-date-group">
	<div>
	<label for="">發布日期</label>

    <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
        <input class="btn btn-primary" type="submit" value="搜尋" />

    </div>
    
    </div>*@

    
}

<table class="table table-v">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StaffNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstOrDefault().State)*@
            狀態
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.StaffNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            <input type="button" class="popup_btn EditDriver btn btn-primary" id="@item.Id" href="#EditDriverPanel" value="編輯" />
            <input type="hidden" value="@item.Id" id="ID" />
            @*@Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })*@
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @*@Html.ActionLink("刪除", "Delete", new { id=item.Id },new { @class = "btn btn-danger" })*@
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div id="AddDriverPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增駕駛</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>
                        <label for=""><font color="red">*</font>帳號</label>
                        <input id="Account" name="Account" /><input id="CheckAccount" type="button" class="btn btn-primary btnCheck" value="檢查帳號" />
                        <div>(新增後，不能修改帳號，務必輸入正確。)</div>
                        <span id="Accountmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>密碼</label>
                        <input id="Password" name="Password" type="password" />
                        <span id="Passwordmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>確認密碼</label>
                        <input id="Passwordagain" name="Passwordagain" type="password" />
                        <span id="Passwordagainmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>員工編號</label>
                        <input id="StaffNo" name="StaffNo" /><input id="CheckStaffNo" type="button" class=" btn btn-primary btnCheck" value="檢查員工編號" />
                        <div>(新增後，不能修改員工編號，務必輸入正確。)</div>
                        <span id="StaffNomessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>駕駛人姓名</label>
                        <input id="Name" name="Name" />
                        <span id="Namemessage" style="color: red"></span>
                    </div>
                    <div class="confirm-group">
                        <a href="" class="closeWindow btn btn-primary">取消</a>
                        <input id="CreateDriver" class="btn btn-success CreateDriver" type="button" value="確定" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="EditDriverPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯駕駛</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>
                        <label for="">帳號</label>
                        <input id="EditAccount" name="EditAccount" disabled/>
                        <span id="EditAccountmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">密碼</label>
                        <input id="EditPassword" name="EditPassword" type="password" />
                        <span id="EditPasswordmessage" style="color: red"></span>
                        <div>(密碼已經加密，不修改請保持空白)</div>
                    </div>
                    <div>
                        <label for="">確認密碼</label>
                        <input id="EditPasswordagain" name="EditPasswordagain" type="password" />
                        <span id="EditPasswordagainmessage" style="color: red"></span>
                        <div>(密碼不修改請保持空白)</div>
                    </div>
                    <div>
                        <label for="">員工編號</label>
                        <input id="EditStaffNo" name="EditStaffNo" disabled/>
                        <span id="EditStaffNomessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>駕駛人姓名</label>
                        <input id="EditName" name="EditName" />
                        <span id="EditNamemessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>狀態</label>
                        <select id="EditDriverState" name="EditDriverState"></select>
                        <span id="EditCarStatusmessage" style="color: red"></span>
                    </div>
                    
                </div>
                <div class="confirm-group">
                    <input id="DriverId" class="DriverId" type="hidden" />
                    <a href="" class="closeWindow btn btn-primary">取消</a>
                    <input id="EditDriverBtn" class="btn btn-success EditDriverBtn" type="button" value="確定" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });

        $("#CheckAccount").click(function () {
            if ($("#Account").val() == "") {
                alert("帳號不可空白");
                return;
            }
            //alert($("#Account").val());
            $.ajax({
                url: '@Url.Action("CheckAccount", "Driver")',
                data: { account: $("#Account").val() },
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    alert(data["Message"]);
                }
            });
        });

        $("#CheckStaffNo").click(function () {
            if ($("#StaffNo").val() == "") {
                alert("員工編號不可空白");
                return;
            }
            //alert($("#StaffNo").val());
            $.ajax({
                url: '@Url.Action("CheckStaffNo", "Driver")',
                data: { staffNo: $("#StaffNo").val() },
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    alert(data["Message"]);
                }

            });
        });
        $("#Passwordagain").blur(function () {
            if ($("#Password").val() !== $("#Passwordagain").val()) {
                $("#Passwordagainmessage").text("與密碼不符");
            } else {
                $("#Passwordagainmessage").text("");
            }
        });
        $("#CreateDriver").click(function () {
            if ($("#Name").val() === "") {
                $("#Namemessage").text("請輸入姓名");
                $("#Name").focus();
            } else {
                $("#Namemessage").text("");
            }
            if ($("#StaffNo").val() === "") {
                $("#StaffNomessage").text("請輸入員工編號");
                $("#StaffNo").focus();
            } else {
                $.ajax({
                    url: '@Url.Action("CheckStaffNo", "Driver")',
                    data: { staffNo: $("#StaffNo").val() },
                    type: 'get',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $("#StaffNomessage").text(data["Message"]);
                    }
                });
                if ($("#StaffNomessage").text() === "此員工編號尚未使用!") { $("#StaffNomessage").text(""); }
                console.log($("#StaffNomessage").text());
            }
            if ($("#Passwordagain").val() === "") {
                $("#Passwordagainmessage").text("請輸入確認密碼");
                $("#Passwordagain").focus();
            } else {
                if ($("#Password").val() !== $("#Passwordagain").val()) {
                    $("#Passwordagainmessage").text("與密碼不符");
                    $("#Passwordagain").focus();
                } else {
                    $("#Passwordagainmessage").text("");
                }
            }
            if ($("#Password").val() === "") {
                $("#Passwordmessage").text("請輸入密碼");
                $("#Password").focus();
            } else {
                $("#Passwordmessage").text("");
            }
            if ($("#Account").val() === "") {
                $("#Accountmessage").text("請輸入帳號");
                $("#Account").focus();
            } else {
                $.ajax({
                    url: '@Url.Action("CheckAccount", "Driver")',
                    data: { account: $("#Account").val() },
                    type: 'get',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $("#Accountmessage").text(data["Message"]);
                    }
                });
                    if ($("#Accountmessage").text() === "此帳號尚未使用!") { $("#Accountmessage").text(""); }
                }

            if ($("#Account").val() !== "" && $("#Password").val() !== "" && $("#Passwordagain").val() !== "" && $("#StaffNo").val() !== "" && $("#Name").val() !== "" && $("#Accountmessage").text() === "" && $("#Passwordmessage").text() === "" && $("#Passwordagainmessage").text() === "" && $("#StaffNomessage").text() === "" && $("#Namemessage").text() === "") {
                //console.log($("#Account").val() + "," + $("#Password").val() + "," + $("#Passwordagain").val() + "," + $("#StaffNo").val() + "," + $("#Name").val());
                var account = $("#Account").val();
                var password = $("#Password").val();
                var staffNo = $("#StaffNo").val();
                var name = $("#Name").val();
                $.ajax({
                    url: '@Url.Action("CreateDriver", "Driver")',
                    data: { Account: account, Password: password, StaffNo: staffNo, Subject: name },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("新增成功");
                            location.href = '@Url.Action("index", "Driver")';
                        } else {
                            alert("新增失敗");
                        }
                    }
                });
            }
        });

        $(".EditDriver").click(function () {
            var driverId = $(this).attr('id');
            var state = '';
            //alert(driverId);
            $.ajax({
                url: '@Url.Action("GetDriverState", "Driver")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        var count = data["Count" + i].split('#');
                        state += '<option value="' + count[0] + '">' + count[1] + "</option>";
                        i++;
                    });
                    //console.log(state);
                    document.querySelector('#EditDriverState').innerHTML = state;
                }
            });

            $.ajax({
                url: '@Url.Action("GetDriverData", "Driver")',
                data: { id: driverId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $("#DriverId").val(data["Id"]);
                    $("#EditAccount").val(data["Account"]);
                    $("#EditStaffNo").val(data["StaffNo"]);
                    $("#EditName").val(data["Subject"]);
                    $("#EditDriverState").val(data["State"]);
                }
            });
        });

        $("#EditDriverBtn").click(function () {
            //alert($("#DriverId").val());
            if ($("#EditName").val() === "") {
                $("#EditNamemessage").text("請輸入姓名");
                $("#EditName").focus();
            } else {
                $("#EditNamemessage").text("");
            }

            if ($("#EditPassword").val() !== "" && $("#EditPassword").val() !== $("#EditPasswordagain").val()) {
                if ($("#EditPasswordagain").val() !== "") {
                    $("#EditPasswordagainmessage").text("與密碼不符");
                    $("#EditPasswordagain").focus();
                    return;
                } else {
                    $("#EditPasswordagainmessage").text("請輸入確認密碼");
                    $("#EditPasswordagain").focus();
                    return;
                }
            } else if ($("#EditPassword").val() !== "" && $("#EditPassword").val() === $("#EditPasswordagain").val()) {
                $("#EditPasswordagainmessage").text("");
            }

            if ($("#EditName").val() !== "" && $("#EditPasswordmessage").text() === "" && $("#EditPasswordagainmessage").text() === "" && $("#EditNamemessage").text() === "") {
                //console.log($("#Account").val() + "," + $("#Password").val() + "," + $("#Passwordagain").val() + "," + $("#StaffNo").val() + "," + $("#Name").val());
                var driverId = $("#DriverId").val();
                var password = $("#EditPassword").val();
                var name = $("#EditName").val();
                var state = $("#EditDriverState").val();
                $.ajax({
                    url: '@Url.Action("EditDriver", "Driver")',
                    data: { Id: driverId, Password: password, Subject: name, State: state },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("更新成功");
                            location.href = '@Url.Action("index", "Driver")';
                        } else {
                            alert("更新失敗");
                        }
                    }
                });
            }
        });
    </script>
}

