﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.CarSite

@{
    ViewBag.Title = "站點新增";
}

<h2>站點新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>CarSite</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEn)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("SubjectEn") })
            @Html.ValidationMessageFor(model => model.SubjectEn)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lat,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("Lat") })
            @Html.ValidationMessageFor(model => model.Lat)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lon,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("Lon") })
            @Html.ValidationMessageFor(model => model.Lon)
       
            
        </div>

        <div align="center">
            <input class="btn btn-primary" type="submit" value="新增" />
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
