﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.CarSite

@{
    ViewBag.Title = "站點編輯";
}

<h2>站點編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CarSite</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("Subject")})

        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEn)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEn,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("SubjectEn") })
           
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lat,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("Lat") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lon,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarSite>.GetDisplayName("Lon") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <div align="center">
            <input class="btn btn-primary" type="submit" value="更新" /> 
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
