﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Reply

@{
    ViewBag.Title = "新增";
    Layout = null;
}

<link rel="stylesheet" href="/Content/fonts/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/Content/bootstrap.min.css?170628" />
<link href="/Content/site.css" rel="stylesheet" />
<link href="/Content/style.css?170324" rel="stylesheet" />
<link href="/Content/css-stars.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<style>
    body {
        padding: 25px;
    }
    input,textarea,select {
        background: #f7f7f7;
    }
    input {
        width: 100%;
        max-width: 100%;
        border: 1px solid #CCC;
    }
    textarea {
        border: 1px solid #CCC;
    }
    .input-text-group div {
        padding: 0;
    }
    .float-center {
        width: 569px;
        margin: 0 auto;
    }
    @@media (max-width: 767px) {
        .float-center {
        width: 100%;
        }
    }
</style>


<div class="float-center">

            <div class="input-text-group">
                <div>

            @Html.LabelFor(model => model.Name)
            <input id="Name" name="Name" value="@ViewBag.Name"><span id="Namemessage" style="color: red"></span>
            </div>

            <div>
                @Html.LabelFor(model => model.Phone)
                <input id="StudentId" name="StudentId" value="@ViewBag.StudentId" type="hidden"><input id="Phone" name="Phone" value="@ViewBag.Phone" disabled="disabled"><span id="Phonemessage" style="color: red"></span>
            </div>

                <label for="">評分</label>
                <select id="Evaluation" name="Evaluation">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <span id="Evaluationmessage" style="color: red"></span>

            <div>
                @Html.LabelFor(model => model.Title)
                <input id="Title" name="Title" /><span id="Titlemessage" style="color: red"></span>
            </div>
            <div>
                <label for="">上傳圖片1</label>
                <input id="UpFiles1" type="file" name="UpFiles1" /><span id="UpFiles1message" style="color: red"></span>
            </div>

            <div>
                <label for="">上傳圖片2</label>
                <input id="UpFiles2" type="file" name="UpFiles2" /><span id="UpFiles2message" style="color: red"></span>
            </div>

            <div>
                <label for="">上傳圖片3</label>
                <input id="UpFiles3" type="file" name="UpFiles3" /><span id="UpFiles3message" style="color: red"></span>

            </div>
            <div>
               @Html.LabelFor(model => model.Content)
                    <textarea id="textarea" name="Content" style="height: 200px; width: 100%; max-width: 100%;" ></textarea><span id="Contentmessage" style="color: red"></span>
            </div>
        </div>
        
<div class="confirm-group">

         <input id="CreateReply" class="btn btn-primary jq-btn" type="button" value="送出" /> 

</div>

    
        
  </div>    

  
<script src="/Scripts/jquery-1.9.1.js"></script>
<script src="/js/jquery.barrating.js"></script>

   
   


@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")

<script>
    $('#Evaluation').barrating({
        theme: 'css-stars'
    });
  
    $('#UpFiles1').change(function () {

        if ($('#UpFiles1')[0].files[0].size > 3145728) {
            $('#UpFiles1message').text("上傳圖片檔案最大3MB");
        } else {
            var formData = new FormData();
            $('#UpFiles1message').text("");
            formData.append('UpFiles', $('#UpFiles1')[0].files[0]);
            CreateCarLine1(formData);
        }
    });
    $('#UpFiles2').change(function () {
        if ($('#UpFiles2')[0].files[0].size > 3145728) {
            $('#UpFiles2message').text("上傳圖片檔案最大3MB");

        } else {
            $('#UpFiles2message').text("");
            var formData = new FormData();
            formData.append('UpFiles', $('#UpFiles2')[0].files[0]);
            CreateCarLine2(formData);
        }
    });
    $('#UpFiles3').change(function () {

        if ($('#UpFiles3')[0].files[0].size > 3145728) {
            $('#UpFiles3message').text("上傳圖片檔案最大3MB");

        } else {
            $('#UpFiles3message').text("");
            var formData = new FormData();
            formData.append('UpFiles', $('#UpFiles3')[0].files[0]);
            CreateCarLine3(formData);
        }


    });

    function CreateCarLine1(formData) {

        $.ajax({
            url: '@Url.Action("Upfilecheck", "Reply")',
            //data: { CarId: CarId, Subject: Subject, SubjectEn: SubjectEn, MaxPassengers: MaxPassengers, MinPassengers: MinPassengers, UpFiles: UpFiles },
            data: formData,
            type: 'post',
            contentType: false, // 告诉jQuery不要去這置Content-Type
            processData: false, // 告诉jQuery不要去處理發送的數據 
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data["Message"] === "Success") {

                } else {
                    $('#UpFiles1message').text(data["Message"]);
                }

            }
        });
    }
    function CreateCarLine2(formData) {

        $.ajax({
            url: '@Url.Action("Upfilecheck", "Reply")',
            //data: { CarId: CarId, Subject: Subject, SubjectEn: SubjectEn, MaxPassengers: MaxPassengers, MinPassengers: MinPassengers, UpFiles: UpFiles },
            data: formData,
            type: 'post',
            contentType: false, // 告诉jQuery不要去這置Content-Type
            processData: false, // 告诉jQuery不要去處理發送的數據 
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data["Message"] === "Success") {

                } else {
                    $('#UpFiles2message').text(data["Message"]);
                }

            }
        });
    }
    function CreateCarLine3(formData) {

        $.ajax({
            url: '@Url.Action("Upfilecheck", "Reply")',
            //data: { CarId: CarId, Subject: Subject, SubjectEn: SubjectEn, MaxPassengers: MaxPassengers, MinPassengers: MinPassengers, UpFiles: UpFiles },
            data: formData,
            type: 'post',
            contentType: false, // 告诉jQuery不要去這置Content-Type
            processData: false, // 告诉jQuery不要去處理發送的數據 
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data["Message"] === "Success") {

                } else {
                    $('#UpFiles3message').text(data["Message"]);
                }

            }
        });
    }

    $('#CreateReply').click(function () {
        if ($("#Name").val() === "") {
            $("#Namemessage").text("請輸入姓名");
        } else {
            $("#Namemessage").text("");
        }
        if ($("#Phone").val() === "") {
            $("#Phonemessage").text("請輸入電話");
        } else {
            $("#Phonemessage").text("");
        }
     
        if ($('.br-current-rating').text() === "") {
            $("#Evaluationmessage").text("請選擇評分");
        } else {
            $("#Evaluationmessage").text("");
        }
        if ($("#Title").val() === "") {
            $("#Titlemessage").text("請輸入主旨");
        } else {
            $("#Titlemessage").text("");
        }
        if ($("#textarea").val() === "") {
            $("#Contentmessage").text("請輸入內容");
        } else {
            $("#Contentmessage").text("");
        }
        if ($("#Namemessage").text() === "" && $("#Phonemessage").text() === "" && $("#Evaluationmessage").text() === "" && $("#Titlemessage").text() === "" && $("#Contentmessage").val() === "" && $("#UpFiles1message").text() === "" && $("#UpFiles2message").text() === "" && $("#UpFiles3message").text() === "") {
 $('#CreateReply').prop("disabled", true);

            var evaluation = $('.br-current-rating').text();
            var formData = new FormData();
            formData.append('Name', $('#Name').val());
            formData.append('StudentId', $('#StudentId').val());
            formData.append('Title', $('#Title').val());
            formData.append('Phone', $('#Phone').val() + "");
            formData.append('Evaluation', evaluation);
            formData.append('Content', $('#textarea').val());
            formData.append('UpFiles1', $('#UpFiles1')[0].files[0]);
            formData.append('UpFiles2', $('#UpFiles2')[0].files[0]);
            formData.append('UpFiles3', $('#UpFiles3')[0].files[0]);


            CreateReply(formData);

        }
        function CreateReply(formData) {


            $.ajax({

                url: '@Url.Action("Create", "Reply")',
                //data: { CarId: CarId, Subject: Subject, SubjectEn: SubjectEn, MaxPassengers: MaxPassengers, MinPassengers: MinPassengers, UpFiles: UpFiles },
                data: formData,
                type: 'post',
                contentType: false, // 告诉jQuery不要去這置Content-Type
                processData: false, // 告诉jQuery不要去處理發送的數據 
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data["Message"] === "Success") {
                        location.href = '@Url.Action("Success", "Reply")';
                    }

                }
            });
        }

    });
</script>
