﻿
@model PtBusToSchool.Models.Reply

@{
    ViewBag.Title = "內容";
}

<h2>內容</h2>

<fieldset>
    <legend>Reply內容</legend>
	<table>
	<tr>
	<td colspan="7">
	 PtBusToSchool.Models.Reply
	</td>

	</tr>
	<tr>
    <td>
         欄位中文名稱
    </td>
    <td>
      欄位名稱
    </td>
	 <td>
       是否主索引
    </td>
	<td>
	是否唯讀
	</td>
	<td>
	 是否外索引
	</td>
	<td>
	型別
	</td>
</tr>

<tr>
    <td>
         @Html.DisplayNameFor(model => model.StudentId)
    </td>
    <td>
       StudentId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Name)
    </td>
    <td>
       Name
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Title)
    </td>
    <td>
       Title
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Content)
    </td>
    <td>
       Content
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.ReContent)
    </td>
    <td>
       ReContent
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Poster)
    </td>
    <td>
       Poster
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.InitDate)
    </td>
    <td>
       InitDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Updater)
    </td>
    <td>
       Updater
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.UpdateDate)
    </td>
    <td>
       UpdateDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
</table>
</fieldset>
<p>
    @Html.ActionLink("編輯","Edit", new { id=Model.Id }) |
     <input type="button" onclick="history.back()" value="回到上一頁" />
</p>
