﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Reply

@{
    ViewBag.Title = "意見回覆編輯";
}

<style>
    fieldset {
        width: 1000px;
        margin: 0 auto;
    }

    .replyImg img {
        display: inline-block;
        margin-right: 1%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 32%;
    }

        .replyImg img:last-of-type {
            margin-right: 0;
        }
</style>

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reply</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="input-text-group">
            <div>
                @Html.LabelFor(model => model.StudentId)
                @Html.Raw(Model.StudentId)
            </div>
        </div>
        <div class="input-text-group">
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.Raw(Model.Name)
            </div>
        </div>

        <div class="input-text-group">
            <div>
                @Html.LabelFor(model => model.Evaluation)
                @if (Model.Evaluation.HasValue)
                {
                    for (int i = 0; i < Model.Evaluation; i++)
                    {
                    <font color="Orange">&#10030;</font>
                    }
                    for (int i = 0; i < (5 - Model.Evaluation); i++)
                    {
                    <font color="black">&#10032;</font>
                    }
                }
                else
                {
                    for (int i = 0; i < 5; i++)
                    {
                    <font color="black">&#10032;</font>
                    }
                }
            </div>
        </div>




        <div class="input-text-group">
            <div>
                @Html.LabelFor(model => model.Title)
                @Html.Raw(Model.Title)
            </div>
        </div>
           <div class="input-text-group">
            <div>
                <Label for="">留言日期</Label>
                @Html.Raw(Model.InitDate)
            </div>
        </div>
        <div class="input-text-group">
            <div>
                @Html.LabelFor(model => model.Content)
                @Html.TextAreaFor(model => model.Content, new { @style = "height:200px;width: 100%;max-width: 100%;background:#f7f7f7;", @disabled = "true", placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Reply>.GetDisplayName("Content") })
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.FileName))
        {
            string[] file = Model.FileName.Split('#');
            <label for="">上傳圖片</label>
            <div class="replyImg">
                @foreach (var item in file)
                {
                     <a href="http://ptdrts.myerstone.com.tw/upfiles/images/@item" target="_blank"><img src="/upfiles/images/@item" alt=""></a>
                }
             </div>
        }
      

        <div class="input-text-group">
            <div>
                @Html.LabelFor(model => model.ReContent)
                @if (!ViewBag.OK)
                {
                    @Html.TextAreaFor(model => model.ReContent, new { @style = "height:200px;width: 100%;max-width: 100%; ", @disabled = "true", placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Reply>.GetDisplayName("ReContent") })
                }
                else
                {
                    @Html.TextAreaFor(model => model.ReContent, new { @style = "height:200px;width: 100%;max-width: 100%; ", placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Reply>.GetDisplayName("ReContent") })

                }
            </div>

        </div>

        
        @if (!ViewBag.OK)
        {
        <div class="input-text-group">
            <div>

                    <font color="red">由@(Model.Updater)於@(Model.UpdateDate)回覆</font>

              </div>

        </div>
        }
         	@Html.HiddenFor(model => model.Phone)
         	@Html.HiddenFor(model => model.FileName)
   	@Html.HiddenFor(model => model.CHTId)
        @Html.HiddenFor(model => model.Evaluation)
        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Content)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.Updater)
        @Html.HiddenFor(model => model.UpdateDate)
        <div class="confirm-group">
            <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁" />
 @if (ViewBag.OK)
 {
            <input class="btn btn-success" type="submit" value="確定" />
 }
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
