﻿@using DocumentFormat.OpenXml.Office2010.ExcelAc
@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model MvcPaging.IPagedList<PtBusToSchool.Models.Reply>

@{
    ViewBag.Title = "學生意見回覆管理";
    List<Member> members = ViewBag.member;

}

<style>
  table.table {
    width: 1600px;
  }
</style>

<h2>@ViewBag.Title</h2>

 @*<p>
    @Html.ActionLink("新增", "Create")
</p>*@


    @using (Html.BeginForm())
{
<div class="input-text-group">
    <div>
                  @*  @Html.DisplayNameFor(model => model.FirstOrDefault().Name)：@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Title)：@Html.InputSearchBox("SearchByTitle", ViewData["SearchByTitle"])*@
            是否回覆 @Html.DropDownList("SearchByStatus", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))), "請選擇")
    </div>
</div>
<div class="input-date-group">
	<div>
	留言日期 <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
        <input class="btn btn-primary" type="submit" value="搜尋" />
        <input class="btn btn-primary" type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>

 </div>



}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)
        </th>
        <th width="100">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
 <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Evaluation)
        </th>
        <th width="500" style="">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
       <th>
          留言日期
        </th>
        <th>
           是否回覆
        </th>
        <th>
          回覆日期
        </th>
          <th width="300">
          回覆人員
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
  <td>
            @if (item.Evaluation.HasValue)
            {
                for (int i = 0; i < item.Evaluation; i++)
                {
                    <font color="Orange">&#10030;</font>
                }
                for (int i = 0; i < (5 - item.Evaluation); i++)
                {
                    <font color="black">&#10032;</font>
                }
            }
            else
            {
                    for (int i = 0; i < 5; i++)
                {
                    <font color="black">&#10032;</font>
                }
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
            <td>
          @item.InitDate.Value.Date.ToString("yyyy/MM/dd")
        </td>
            @if (!string.IsNullOrEmpty(item.ReContent))
            {
                 <td>已回覆</td>
                <td>@item.UpdateDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd")</td>

                    if (!string.IsNullOrEmpty(item.Updater))
                    {
                        string updater = members.FirstOrDefault(x => x.Account == item.Updater).Name;
                        <td>
                            @updater
                        </td>
                    }
                    else
                    {
                           <td></td>
                    }

            }
            else
            {
                <td>未回覆</td>
                <td></td>
                 <td></td>
            }




<td>
@if (!string.IsNullOrEmpty(item.ReContent))
            {
            @Html.ActionLink("詳情", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
}else{
 @Html.ActionLink("回覆", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
}
@*@Html.ActionLink("內容", "Details", new { id=item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.Id })*@
            @Html.Hidden("ID", item.Id)
        </td>




    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker()
            //$('td:contains("已回覆")').parents('tr').css('color','gray')
            $('td>a.btn:contains("回覆")').removeClass('btn-primary').addClass('btn-danger')

        });

    </script>
}

