﻿@{
   Layout = null;
}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<style>
	body {
		padding: 1em;
		font-family: sans-serif,"微軟正黑體";
	}
	div,h2 {
		color: #969696;
		font-weight: 200;
		text-align: center;
	}
</style>
<div>
	<img src="/svg/love.svg" alt="" width="50%" height="">
</div>
<div>
	<img src="/images/feedback.png" alt="" width="100%">
</div>

@* <h2>感謝您的意見<br>
	我們將會盡快回覆<br/>
如要繼續使用APP請按[返回]<br>
謝謝</h2> *@
