﻿@using PtBusToSchool.Models
@model Cars

@{
    ViewBag.Title = "客運管理新增";
}

<h2>客運管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Car</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Cars>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.CarStyleId)

        </div>
        <div class="editor-field">
       @Html.DropDownList("CarStyleId")
            @Html.ValidationMessageFor(model => model.CarStyleId)
      

            
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DriverId)

        </div>
        <div class="editor-field">
          @Html.DropDownList("DriverId")
            @Html.ValidationMessageFor(model => model.DriverId)

            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Custodian)

        </div>
        <div class="editor-field">
            @Html.DropDownList("Custodian")
            @Html.ValidationMessageFor(model => model.Custodian)


        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.SeatAmount)

        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.SeatAmount,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Cars>.GetDisplayName("SeatAmount") })
            @Html.ValidationMessageFor(model => model.SeatAmount)


        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.StandAmount)

        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.StandAmount,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Cars>.GetDisplayName("StandAmount") })
            @Html.ValidationMessageFor(model => model.StandAmount)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarStatus)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CarStatus, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.CarState)),CarState.正常))
            @Html.ValidationMessageFor(model => model.CarStatus)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
