﻿@using DocumentFormat.OpenXml.Drawing
@using DocumentFormat.OpenXml.Office2010.ExcelAc
@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model IPagedList<PtBusToSchool.Models.Cars>

@{
    ViewBag.Title = "車輛資訊管理";
    List<Driver> CustodianDriver = ViewBag.Custodian;
}

<h2>@ViewBag.Title  <a id="ManageCartype" class="popup_btn btn btn-primary" href="#CartypeListPanel">車種管理</a>
    <a id="AddCar" class="popup_btn btn btn-primary" href="#AddCarPanel">新增車輛</a></h2>

<div class="top">
    @*@Html.ActionLink("新增", "Create" ,new { @class = "btn btn-primary" })*@
    
</div>

@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>
            <label for="">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            </label>

            @Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])

        </div>
        <div>
            @* <label for="">@Html.DisplayNameFor(model => model.FirstOrDefault().CarStatus)</label> *@
            <label for="">目前車況</label>

            @Html.DropDownList("SearchByCarStatus", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.CarState))), "請選擇")
 <input class="btn btn-primary" type="submit" value="搜尋" />
        </div>
    </div>
   @* <div class="input-date-group">
        <div>
            <label for="">發佈日期</label>
            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" />
            ~
            <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
            <input class="btn btn-primary" type="submit" value="搜尋" />

        </div>
    </div>*@
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarStyleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DriverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Custodian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SeatAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StandAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarStatus)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType.Type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CarAndDriver.Subject)
                </td>
                @foreach (var items in CustodianDriver)
                {
                    int CustodianId = Convert.ToInt16(item.Custodian);
                    if (items.Id == CustodianId)
                    {
                    <td>
                        @items.Subject
                    </td>
                        break;
                    }

                }

                <td>
                    @Html.DisplayFor(modelItem => item.SeatAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarStatus)
                </td>
                <td>
                    <input type="button" class="popup_btn EditCar btn btn-primary" id="@item.Id" href="#EditCarPanel" value="編輯" />
                    @*<input type="button" class="popup_btn DeleteCar" id="@item.Id" value="刪除" />*@
                    <input type="hidden" value="@item.Id" id="ID" />
                    @*@Html.ActionLink("編輯", "Edit", new { id=item.Id })
                        @Html.ActionLink("內容", "Details", new { id=item.Id })
                        @Html.ActionLink("刪除", "Delete", new { id=item.Id })*@
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

<div id="CartypeListPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">

            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">車種清單</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div class="top">
                    <a id="AddCartype" class="popup_btn btn btn-primary" href="#AddCartypePanel">新增車種</a>
                </div>
                <table class="Cartypelist table"></table>


                @*<div>
                                 <font color="red">*</font>XX
                                 <input id="Password" name="Password" type="password" />
                                 <span id="Passwordmessage" style="color: red"></span>
                             </div>
                             <div>
                                 <font color="red">*</font>確認密碼
                                  <input id="Passwordagain" name="Passwordagain" type="password" />
                                 <span id="Passwordagainmessage" style="color: red"></span>
                             </div>
                             <div>
                                 <font color="red">*</font>AA
                                 <input id="Name" name="Name"/>
                                 <span id="Namemessage" style="color: red"></span>
                             </div>
                               <div>
                                 <font color="red">*</font>BB
                    <input id="Email" name="Email"/>
                                 <span id="Emailmessage" style="color: red"></span>

                             </div>
                             <div>
                                 權限

                    <div class="Rolelist"></div>
                             </div>
                             <div align="right">

                                 <input id="CreateMember" class="btn btn-primary CreateMember" type="button" value="確定" />
                             </div>
                         </div>

                         <div class="success_msg">
                             新增帳號成功，請以此組帳號密碼登入。
                         </div>
                         <div class="error_msg">
                             帳號格式不正確或是帳號重覆，請重新輸入。
                         </div>*@
            </div>
        </div>
    </div>
</div>

<div id="AddCartypePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增車種</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>
                        <label for=""><font color="red">*</font>車種名稱</label>
                        <input id="Cartype" name="Cartype" />
                        <span id="Cartypemessage" style="color: red"></span>
                    </div>

                </div>
                <div class="confirm-group">
                    <a href="#CartypeListPanel" class="btn btn-primary popup_btn">取消</a>
                    <input id="CreateCartype" class="btn btn-success CreateCartype" type="button" value="確定" />
                </div>

            </div>
        </div>
    </div>
</div>

<div id="EditCartypePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯車種</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>
                        <label for=""><font color="red">*</font>車種名稱</label>
                        <input id="EditCartypeName" name="EditCartypeName" />
                        <span id="EditCartypemessage" style="color: red"></span>
                    </div>


                </div>
                <div class="confirm-group">
                    <input id="CarTypeId" class="CarTypeId" type="hidden" />
                    <a href="#CartypeListPanel" class="btn btn-primary popup_btn">取消</a>
                    <input id="EditCartypeBtn" class="btn btn-success EditCartypeBtn" type="button" value="確定" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeleteCartypePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">刪除車種</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <h2 style="color: red;">您確定要刪除此車種嗎？</h2>
                <div class="input-text-group">
                    <div>
                        <label for="">車種名稱</label>
                        <input id="DeleteCartypeName" name="DeleteCartypeName" disabled>
                    </div>
                </div>

                <div class="confirm-group">
                    <input id="CarTypeId" class="CarTypeId" type="hidden" />
                    <a href="#CartypeListPanel" class="btn btn-primary popup_btn">取消</a>
                    <input id="DeleteCartypeBtn" class="btn btn-danger DeleteCartypeBtn" type="button" value="刪除" />
                </div>

            </div>
        </div>
    </div>
</div>

<div id="AddCarPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增車輛</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>
                        <label for=""><font color="red">*</font>車種</label>
                        @*<input id="CarType" name="CarType" />*@
                        <select id="CarType" name="CarType"></select>
                        <span id="CarTypemessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>車牌</label>
                        <input id="CarNO" name="CarNO" />
                        <span id="CarNOmessage" style="color: red"></span>
                    </div>
                   
                    <div>
                        <label for=""><font color="red">*</font>駕駛人</label>
                        <input id="CarDriverId" class="CarDriverId" type="hidden"/>
                        <input type="text" class="txt" id="CarDriver">
                        
                        <div class="BusList" id="DriverList">
                        <input type="text" autocomplete="off" class="BusSearch" id="DriverSearch" value="" placeholder="請輸入欲搜尋關鍵字">
                            <ul class="BusLink" id="DriverLink"></ul>
                        </div>
                    </div>
                 @*   <div>
                        <label for=""><font color="red">*</font>保管人</label>
                        <select id="CarCustodian" name="CarCustodian"></select>
                        <span id="CarCustodianmessage" style="color: red"></span>
                    </div>*@
                    <div>
                          <label for=""><font color="red">*</font>保管人</label>
                         <input id="CarCustodianId" class="CarCustodianId" type="hidden"/>
                        <input type="text" class="txt" id="CarCustodian" >
                        
                        <div class="BusList" id="CustodianList">
                            <input type="text" class="BusSearch" id="CustodianSearch" value="" autocomplete="off" placeholder="請輸入欲搜尋關鍵字">
                            <ul class="BusLink" id="CustodianLink"></ul>
                        </div>
                    </div>




                    <div>
                        <label for="">座位數</label>
                        <input id="SeatAmount" name="SeatAmount" onkeyup="value=value.replace(/[^\d]/g,'')" />
                        <span id="SeatAmountmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">立位數</label>
                        <input id="StandAmount" name="StandAmount" onkeyup="value=value.replace(/[^\d]/g,'')" />
                        <span id="StandAmountmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>車況</label>
                        @*<input id="CarStatus" name="CarStatus" />*@
                        @*@Html.DropDownList("SearchByCarStatus", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.CarState))), "請選擇")*@
                        <select id="CarStatus" name="CarStatus"></select>
                        <span id="CarStatusmessage" style="color: red"></span>
                    </div>
                </div>
                <div class="confirm-group">
                    <a href="" class="btn btn-primary">取消</a>
                    <input id="CreateCar" class="btn btn-success CreateCar" type="button" value="確定" />
                </div>

            </div>
        </div>
    </div>
</div>

<div id="EditCarPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯車輛</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>
                        <label for=""><font color="red">*</font>車種</label>
                        @*<input id="CarType" name="CarType" />*@
                        <select id="EditCarType" name="EditCarType"></select>
                        <span id="EditCarTypemessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>車牌</label>
                        <input id="EditCarNO" name="EditCarNO" />
                        <span id="EditCarNOmessage" style="color: red"></span>
                    </div>
                    @*    <div>
                        <label for=""><font color="red">*</font>駕駛人</label>
                        <select id="EditCarDriver" name="EditCarDriver"></select>
                        <span id="EditCarDrivermessage" style="color: red"></span>
                    </div>*@
                    <div>
                        <label for=""><font color="red">*</font>駕駛人</label>
                        <input id="EditCarDriverId" class="EditCarDriverId" type="hidden" />
                        <input type="text" class="txt" id="EditCarDriver">

                        <div class="BusList" id="EditDriverList">
                            <input type="text" autocomplete="off" class="BusSearch" id="EditDriverSearch" value="" placeholder="請輸入欲搜尋關鍵字">
                            <ul class="BusLink" id="EditDriverLink"></ul>
                        </div>
                    </div>
                    @* <div>
                        <label for=""><font color="red">*</font>保管人</label>
                        <select id="EditCarCustodian" name="EditCarCustodian"></select>
                        <span id="EditCarCustodianmessage" style="color: red"></span>
                    </div>*@
                     <div>
                        <label for=""><font color="red">*</font>保管人</label>
                        <input id="EditCarCustodianId" class="EditCarCustodianId" type="hidden" />
                        <input type="text" class="txt" id="EditCarCustodian">

                        <div class="BusList" id="EditCustodianList">
                            <input type="text" autocomplete="off" class="BusSearch" id="EditCustodianSearch" value="" placeholder="請輸入欲搜尋關鍵字">
                            <ul class="BusLink" id="EditCustodianLink"></ul>
                        </div>
                    </div>
                    <div>
                        <label for="">座位數</label>
                        <input id="EditSeatAmount" name="EditSeatAmount" onkeyup="value=value.replace(/[^\d]/g,'')" />
                        <span id="EditSeatAmountmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">立位數</label>
                        <input id="EditStandAmount" name="EditStandAmount" onkeyup="value=value.replace(/[^\d]/g,'')" />
                        <span id="EditStandAmountmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>車況</label>
                        @*<input id="CarStatus" name="CarStatus" />*@
                        @*@Html.DropDownList("SearchByCarStatus", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.CarState))), "請選擇")*@
                        <select id="EditCarStatus" name="EditCarStatus"></select>
                        <span id="EditCarStatusmessage" style="color: red"></span>
                    </div>
                </div>
                <div class="confirm-group">
                    <a href="" class="btn btn-primary">取消</a>
                    <input id="CarId" class="CarId" type="hidden" />
                    <input id="EditCarBtn" class="btn btn-success EditCarBtn" type="button" value="確定" />
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
     <script>
         $(document).ready(function () {
             $(".datepicker").datepicker();
         });

         $("#ManageCartype").click(function () {
             var str = '<table>';
             $.ajax({
                 url: '@Url.Action("GetCartype", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        str += '<tr><th><input type="hidden" value="' + count[0] + '">' + count[1] + "</th>";
                        str += '<td style="text-align:right;"><input type="button" class="popup_btn btn btn-primary EditCartype" id="' + count[0] + '" value="編輯" />';
                        str += '<input type="button" class="DeleteCartype btn btn-danger" id="' + count[0] + '" value="刪除" /></td></tr>';
                    });
                    str += "</table>";
                    document.querySelector('.Cartypelist').innerHTML = str;
                }

            });

            $("#AddCartype").click(function () {
                $("#CartypeListPanel").hide();
            });

            $(".EditCartype").click(function () {
                $("#CartypeListPanel").hide();
                $("#EditCartypePanel").show();
                var editcartypeId = $(this).attr('id');
                //alert(editcartypeId);
                $.ajax({
                    url: '@Url.Action("GetCartypeData", "Cars")',
                    data: { id: editcartypeId },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $("#EditCartypeName").val(data["Type"]);
                        $("#CarTypeId").val(data["Id"]);
                    }
                });
            });

            $(".DeleteCartype").click(function () {
                $("#CartypeListPanel").hide();
                $("#DeleteCartypePanel").show();
                var deletecartypeId = $(this).attr('id');
                //alert(deletecartypeId);
                $.ajax({
                    url: '@Url.Action("GetCartypeData", "Cars")',
                    data: { id: deletecartypeId },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $("#DeleteCartypeName").val(data["Type"]);
                        $("#CarTypeId").val(data["Id"]);
                    }
                });
            });
        });



        $("#CreateCartype").click(function () {
            //alert($("#Cartype").val());
            if ($("#Cartype").val() === "") {
                $("#Cartypemessage").text("請輸入車種名稱");
            } else {
                $("#Cartypemessage").text("");
                var cartype = $("#Cartype").val();
                //alert(cartype);
                $.ajax({
                    url: '@Url.Action("CreateCartype", "Cars")',
                    data: { Type: cartype },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("新增成功");
                            location.href = '@Url.Action("index", "Cars")';
                        } else {
                            alert("新增失敗");
                        }
                    }
                });
            }
        });

        $("#EditCartypeBtn").click(function () {
            if ($("#EditCartypeName").val() === "") {
                $("#EditCartypemessage").text("請輸入車種名稱");
            } else {
                $("#EditCartypemessage").text("");
                var cartypeId = $("#CarTypeId").val();
                var cartype = $("#EditCartypeName").val();
                //alert(cartypeId);
                //alert(cartype);
                $.ajax({
                    url: '@Url.Action("EditCartype", "Cars")',
                    data: { Id: cartypeId, Type: cartype },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("更新成功");
                            location.href = '@Url.Action("index", "Cars")';
                        } else {
                            alert("更新失敗");
                        }
                    }
                });
            }
        });

        $("#DeleteCartypeBtn").click(function () {
            var cartypeId = $("#CarTypeId").val();
            //alert(cartypeId);
            $.ajax({
                url: '@Url.Action("DeleteCartype", "Cars")',
                    data: { Id: cartypeId },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("刪除成功");
                            location.href = '@Url.Action("index", "Cars")';
                        } else {
                            alert("刪除失敗");
                        }
                    }
                });
            });

            $("#AddCar").click(function () {
                var type = '';
                var driver = '';
                var status = '';
                var driverstr = '';
                $.ajax({
                    url: '@Url.Action("GetCartype", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        type += '<option value="' + count[0] + '">' + count[1] + "</option>";

                    });
                    document.querySelector('#CarType').innerHTML = type;
                }
            });

            $.ajax({
                url: '@Url.Action("GetDriver", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        driver += '<option value="' + count[0] + '">' + count[1] + "</option>";
                        driverstr += count[0] + ":" + count[1] + "#";
                    });
                    document.querySelector('#CarDriver').innerHTML = driver;
                    document.querySelector('#CarCustodian').innerHTML = driver;
                }
            });

            $.ajax({
                url: '@Url.Action("GetCarStatus", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {

                        var count = data["Count" + i].split('#');
                        if (count[0] === "3") {
                            status += '<option value="' + count[0] + '" selected>' + count[1] + "</option>";
                        } else {
                            status += '<option value="' + count[0] + '">' + count[1] + "</option>";
                        }
                        i++;
                    });
                    //console.log(status);
                    document.querySelector('#CarStatus').innerHTML = status;
                }
            });
            $('#CarDriver option').hide();
            $('#DriverList').hide();
            $('#DriverList #DriverLink li').remove();
            $('#CustodianList').hide();
            $('#CustodianList #CustodianLink li').remove();
            driverstr = driverstr + "#";
            driverstr = driverstr.replace("##", "");
            var driverarr = driverstr.split('#');
            var driverli = '';
            var t = 0;
            $.each(driverarr, function () {
                var drivercount = driverarr[t].split(':');
                if (t === 0) {
                    $('#CarDriverId').val(drivercount[0]);
                    $('#CarDriver').val(drivercount[1]);
                    $('#CarCustodianId').val(drivercount[0]);
                    $('#CarCustodian').val(drivercount[1]);
                }
                driverli += '<li><a data-id="' + drivercount[0] + '" href="#">' + drivercount[1] + '</a></li>';
                t++;
            });
            document.querySelector('#DriverLink').innerHTML = driverli;
            document.querySelector('#CustodianLink').innerHTML = driverli;
            $('.txt').on('focus', function () {
                $(this).attr('readonly', '');
                $(this).parent('div').siblings().find('.BusList').hide();
                $(this).next('.BusList').show();
            });
            $('.txt').on('blur', function () {
                $(this).removeAttr('readonly');
            });
            $('.BusList').on('blur', function () {
                $('#DriverList').hide();
            });
            $('#DriverSearch').on('input', function () {
                driverli = '';
                for (var i = 0; i < driverarr.length; i++) {
                    var drivercount = driverarr[i].split(':');
                    if (drivercount[1].indexOf($(this).val()) !== -1) {
                        driverli += '<li><a data-id="' + drivercount[0] + '" href="#">' + drivercount[1] + '</a></li>';
                    }
                }
                $('#DriverList #DriverLink li').remove();
                document.querySelector('.BusLink').innerHTML = driverli;
            });
            $('#DriverList #DriverLink').on('click', 'a', function (e) {
                e.preventDefault();
                $('#CarDriver').val($(this).text());
                $('#DriverList').hide();
                $('#CarDriverId').val($(this).attr('data-id'));
                $('#CarCustodian').val($(this).text());
                $('#CarCustodianId').val($(this).attr('data-id'));
            });


            $('#CarCustodian').on('focus', function () {

                $('#CustodianList').show();
            });
            $('#CustodianSearch').on('input', function () {
                driverli = '';
                for (var i = 0; i < driverarr.length; i++) {
                    var drivercount = driverarr[i].split(':');
                    if (drivercount[1].indexOf($(this).val()) !== -1) {
                        driverli += '<li><a data-id="' + drivercount[0] + '" href="#">' + drivercount[1] + '</a></li>';
                    }
                }
                $('#CustodianList #CustodianLink li').remove();
                document.querySelector('#CustodianLink').innerHTML = driverli;
            });
            $('#CustodianList #CustodianLink').on('click', 'a', function (e) {
                e.preventDefault();
                $('#CarCustodian').val($(this).text());
                $('#CustodianList').hide();
                $('#CarCustodianId').val($(this).attr('data-id'));
            });



        });

        $("#CreateCar").click(function () {
            //alert($("#Cartype").val());
            if ($("#CarNO").val() === "") {
                $("#CarNOmessage").text("請輸入車牌號碼");
            } else {
                $("#CarNOmessage").text("");
                var carstyle = $("#CarType").val();
                var carno = $("#CarNO").val();
                var cardriver = $('#CarDriverId').val()
                var carcustodian = $("#CarCustodianId").val();
                var seatamount = $("#SeatAmount").val();
                var standamount = $("#StandAmount").val();
                var carstatus = ($("#CarStatus").val());
                if (seatamount === "") { seatamount = 0; }
                if (standamount === "") { standamount = 0; }
                //alert(carstyle + "," + carno + "," + cardriver + "," + carcustodian + "," + seatamount + "," + standamount + "," + carstatus + ".");
                $.ajax({
                    url: '@Url.Action("CreateCar", "Cars")',
                        data: { Subject: carno, DriverId: cardriver, Custodian: carcustodian, SeatAmount: seatamount, StandAmount: standamount, CarStatus: carstatus, CarStyleId: carstyle },
                        type: 'post',
                        cache: false,
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            if (data["Message"] === "Success") {
                                $(".popup_tip").hide();
                                alert("新增成功");
                                location.href = '@Url.Action("index", "Cars")';
                            } else if (data["Message"] === "已有此車牌") {
                                alert("新增失敗，已有此車牌！");
                            } else {
                                alert("新增失敗");
                            }
                        }
                    });
                }
            });

            $(".EditCar").click(function () {
                var editcarId = $(this).attr('id');
                var type = '';
                var driver = '';
                var status = '';
                var driverstr = '';
                //alert(editcarId);
                $.ajax({
                    url: '@Url.Action("GetCartype", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        type += '<option value="' + count[0] + '">' + count[1] + "</option>";
                    });
                    document.querySelector('#EditCarType').innerHTML = type;


                }
            });

            @*$.ajax({
                url: '@Url.Action("GetDriver", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        driver += '<option value="' + count[0] + '">' + count[1] + "</option>";
                    });
                    document.querySelector('#EditCarDriver').innerHTML = driver;
                    document.querySelector('#EditCarCustodian').innerHTML = driver;
                }
            });*@

            $.ajax({
                url: '@Url.Action("GetDriver", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        driver += '<option value="' + count[0] + '">' + count[1] + "</option>";
                        driverstr += count[0] + ":" + count[1] + "#";
                    });
                    document.querySelector('#EditCarDriver').innerHTML = driver;
                    document.querySelector('#EditCarCustodian').innerHTML = driver;
                }
            });

            $.ajax({
                url: '@Url.Action("GetCarStatus", "Cars")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {

                        var count = data["Count" + i].split('#');
                        status += '<option value="' + count[0] + '">' + count[1] + "</option>";
                        i++;
                    });
                    //console.log(status);
                    document.querySelector('#EditCarStatus').innerHTML = status;
                }
            });

            $('#EditCarDriver option').hide();
            $('#EditDriverList').hide();
            $('#EditDriverList #EditDriverLink li').remove();
            $('#EditCustodianList').hide();
            $('#EditCustodianList #EditCustodianLink li').remove();
            driverstr = driverstr + "#";
            driverstr = driverstr.replace("##", "");
            var driverarr = driverstr.split('#');
            var driverli = '';
            var t = 0;
            $.each(driverarr, function () {
                var drivercount = driverarr[t].split(':');
                if (t === 0) {
                    $('#EditCarDriverId').val(drivercount[0]);
                    $('#EditCarDriver').val(drivercount[1]);
                    $('#EditCarCustodianId').val(drivercount[0]);
                    $('#EditCarCustodian').val(drivercount[1]);
                }
                driverli += '<li><a data-id="' + drivercount[0] + '" href="#">' + drivercount[1] + '</a></li>';
                t++;
            });
            document.querySelector('#EditDriverLink').innerHTML = driverli;
            document.querySelector('#EditCustodianLink').innerHTML = driverli;
            $('.txt').on('focus', function () {
                $(this).attr('readonly', '');
                $(this).parent('div').siblings().find('.BusList').hide();
                $(this).next('.BusList').show();
            });
            $('.txt').on('blur', function () {
                $(this).removeAttr('readonly');
            });
            $('.BusList').on('blur', function () {
                $('#DriverList').hide();
            });
            $('#EditDriverSearch').on('input', function () {
                driverli = '';
                for (var i = 0; i < driverarr.length; i++) {
                    var drivercount = driverarr[i].split(':');
                    if (drivercount[1].indexOf($(this).val()) !== -1) {
                        driverli += '<li><a data-id="' + drivercount[0] + '" href="#">' + drivercount[1] + '</a></li>';
                    }
                }
                $('#EditDriverList #EditDriverLink li').remove();
                document.querySelector('#EditDriverList .BusLink').innerHTML = driverli;
            });
            $('#EditDriverList #EditDriverLink').on('click', 'a', function (e) {
                e.preventDefault();
                $('#EditCarDriver').val($(this).text());
                $('#EditDriverList').hide();
                $('#EditCarDriverId').val($(this).attr('data-id'));
                $('#EditCarCustodian').val($(this).text());
                $('#EditCarCustodianId').val($(this).attr('data-id'));
            });

            $('#EditCarCustodian').on('focus', function () {

                $('#EditCustodianList').show();
            });
            $('#EditCustodianSearch').on('input', function () {
                driverli = '';
                for (var i = 0; i < driverarr.length; i++) {
                    var drivercount = driverarr[i].split(':');
                    if (drivercount[1].indexOf($(this).val()) !== -1) {
                        driverli += '<li><a data-id="' + drivercount[0] + '" href="#">' + drivercount[1] + '</a></li>';
                    }
                }
                $('#EditCustodianList #EditCustodianLink li').remove();
                document.querySelector('#EditCustodianList .BusLink').innerHTML = driverli;
            });
            $('#EditCustodianList #EditCustodianLink').on('click', 'a', function (e) {
                e.preventDefault();
                $('#EditCarCustodian').val($(this).text());
                $('#EditCustodianList').hide();
                $('#EditCarCustodianId').val($(this).attr('data-id'));
            });

            $.ajax({
                url: '@Url.Action("GetCarData", "Cars")',
                data: { id: editcarId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $("#CarId").val(data["Id"]);
                    $("#EditCarType").val(data["CarStyleId"]);
                    $("#EditCarNO").val(data["Subject"]);
                    $("#EditCarDriver").val(data["DriverName"]);
                    $("#EditCarCustodian").val(data["CustodianName"]);
                    $("#EditSeatAmount").val(data["SeatAmount"]);
                    $("#EditStandAmount").val(data["StandAmount"]);
                    $("#EditCarStatus").val(data["CarStatus"]);
                    $("#EditCarDriverId").val(data["DriverId"]);
                    $("#EditCarCustodianId").val(data["Custodian"]);
                }
            });
        });

        $("#EditCarBtn").click(function () {

            if ($("#EditCarNO").val() === "") {
                $("#EditCarNOmessage").text("請輸入車牌號碼");
            } else {
                $("#EditCarNOmessage").text("");
                var carId = $("#CarId").val();
                var cartype = $("#EditCarType").val();
                var carno = $("#EditCarNO").val();
                var cardriver = $("#EditCarDriverId").val();
                var carcustodian = $("#EditCarCustodianId").val();
                var seatamount = $("#EditSeatAmount").val();
                var standamount = $("#EditStandAmount").val();
                var carstatus = ($("#EditCarStatus").val());
                if (seatamount === "") { seatamount = 0; }
                if (standamount === "") { standamount = 0; }
                //alert(carstyle + "," + carno + "," + cardriver + "," + carcustodian + "," + seatamount + "," + standamount + "," + carstatus + ".");
                //alert(cartypeId);
                //alert(cartype);
                $.ajax({
                    url: '@Url.Action("EditCar", "Cars")',
                    data: { Id: carId, Subject: carno, DriverId: cardriver, Custodian: carcustodian, SeatAmount: seatamount, StandAmount: standamount, CarStatus: carstatus, CarStyleId: cartype },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("更新成功");
                            location.href = '@Url.Action("index", "Cars")';
                        } else if (data["Message"] === "已有此車牌") {
                            alert("更新失敗，已有此車牌！");
                        } else {
                            alert("更新失敗");
                        }
                    }
                });
            }
        });

        $(".DeleteCar").click(function () {
            var carId = $(this).attr('Id');
            //alert(carId);
            if (!window.confirm('你確定要刪除此車輛嗎?')) {
                return false;
            } else {
                $.ajax({
                    url: '@Url.Action("DeleteCar", "Cars")',
                    data: { Id: carId },
                    type: 'post',
                    //contentType: false, // 告诉jQuery不要去這置Content-Type
                    //processData: false, // 告诉jQuery不要去處理發送的數據     //若加這兩行，上面data要包成FormData才能傳值
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("刪除成功");
                            location.href = '@Url.Action("index", "Cars")';
                        } else {
                            alert("刪除失敗");
                        }
                    }
                });
            }
        });
    </script>
}
