﻿
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -屏東客運後台管理系統</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css?@DateTime.Now.ToString("HHmmsss")" />
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css" />
    <link href="~/Scripts/jquery.pageslide/jquery.pageslide.css" rel="stylesheet" />
    <link href="~/Content/style.css?@DateTime.Now.ToString("HHmmsss")" rel="stylesheet" />
    <link href="~/Content/style-edit.css?@DateTime.Now.ToString("HHmmsss")" rel="stylesheet" />
    <link href="~/Content/GridviewScroll.css?@DateTime.Now.ToString("HHmmsss")" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="media/js/libs/fixes/html5.js"><\/script>')</script>
  <![endif]-->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    

</head>
<body id="gowater" class="sidebar-max gowater">
    <div class="navbar ">
        <div class="navbar-inner">
            <div class="header-bg">
                
                <a style="display:none;" class="mobile-menu-toggle js-toggle-menu hamburger-menu open" href="#">
                  <span class="menu-item"></span>
                  <span class="menu-item"></span>
                  <span class="menu-item"></span>
               </a>
               <style>
                .logo .float {
                color: white;
                line-height: 1.5;
                float: left;
                }
                .logo img {
                margin-right: 10px;
            }
                .logo a {
                display: inline-block;
            }
            
               </style>
                <div class="logo">
                    <a href="http://ptdrts.myerstone.com.tw/">
                        <div class="float">
                        <img src="/images/logo.png" height="45" alt="">
                        </div>
                        <div class="float">
                            屏東汽車客運股份有限公司 <br>
                        校園彈性運輸預約暨媒合派遣服務系統
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>

                <ul class="user_menu" style="color: white; list-style-type: none;">
                    <li class="">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                    <span class="icon-align-justify icon-white"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-toggle-button">
    </div>

    <div id="sidebar" class="">
       @*  <div class="profile">
        </div>
        <div class="profile-name">使用者姓名</div> *@
        <ul class="sidebar-menu on-click" id="main-menu">
            @{
                var menu = @ViewBag.menu;
            }
            @Html.Raw(@menu)

        </ul>

               
        
        @*  <a href="#" id="sidebar-resizer"> <i class="min icon-resize-small"></i> <i class="max icon-resize-full"></i> </a> *@
    </div>
  
    <div id="content" class="">

        <div class="page" id="page-dashboard">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>

    <div id="changePasswordPanel" class="popup_background">
        <div class="popup_content animated bounceInUp">
            <div class="closepop">
                <img width="30" height="30" src="~/images/close-btn.svg" alt="">
                <h3 style="color: white">修改密碼</h3>
            </div>
            <div class="banner">
                <div class="popup_tip">
                   
                </div>

                <div class="success_msg">
                    系統已依照您的變更修改密碼。
                </div>
                <div class="error_msg">
                    新密碼確認與新密碼不符，請重新輸入。
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/modernizr-2.5.3.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>
     <script src="~/Scripts/madmin.js"></script> 
    <script src="~/Scripts/application.js"></script>
    <script src="~/Scripts/jquery.twzipcode.js"></script>
    <script src="~/Scripts/ui.datepicker-zh-TW.js"></script>
    @* <script src="~/js/tableHeadFixer.js"></script> *@
    <script src="~/js/gridviewScroll.min.js"></script>
    <script src="~/js/all.js"></script>



    <script>
        $(document).ready(function () {
            //若為必填，則自動加*
            $("[data-val-required]").parent().prev().children().prepend("<span style='color:red'>*</span>");
            $("[placeholder]").each(function () {
                $(this).attr('placeholder', "請輸入" + $(this).attr('placeholder'));

            });
            $('a:contains("回列表")').addClass("btn");
            $('a:contains("回列表")').parent().addClass("bottom-btn");

            // $(".colorbox-iframe").colorbox({ iframe: true, width: "80%", height: "80%", escKey: true });
            $('a:contains("Back to List")').addClass('btn btn-primary btn-gray').text('回列表');
            $('a:contains("Edit")').addClass('btn btn-primary').text('編輯');
            $('a:contains("Details")').text('詳細內容');
            $('a:contains("Delete")').text('刪除');
            $('a:contains("create")').text('新增');
            $('a:contains("Delete")').text('刪除');
            $('a:contains("回列表")').addClass("btn btn-primary  btn-gray")

            $('h3:contains("Are you sure you want to delete this?")').text('你確定要刪除此筆資料?');
        });
        $('#printMe').click(function () {
            window.print();
        });
        $('.fa-ga').parent().attr('target', '_blank').attr('href', 'https://www.google.com/intl/zh-TW_tw/analytics/');
        $('a:contains("流量瀏覽")').on('click', function (e) {
            e.preventDefault()
            window.open('https://www.google.com/analytics/web/?et&authuser=0&pli=1#report/defaultid/a71404779w108901719p113501425/', '_blank');
        })
        $('#twzipcode').twzipcode({
            'detect': true
        });

        



       
    </script>

    @*需要把Scripts拉到Head 裡來 *@
    @RenderSection("scripts", required: false)
</body>
</html>

