﻿@if (Request.IsAuthenticated) {
    <text>
         <i class="icon-user"></i> 您好，@User.Identity.Name !  

        @using (Html.BeginForm("LogOff", "Member", FormMethod.Post, new { id = "logoutForm" })) { @Html.AntiForgeryToken() }

      今天是<span class="year"></span><span class="month"></span><span class="date"></span><span class="week"></span>

      <a id="changePassword" class="btn btn-primary popup_btn" href="/member/changePassword">修改密碼</a>
      <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">登出</a>
     
    </text>
} else {

   @*  <a href="@(Url.Action("Login", "Member"))">
        <i class="icon-user"></i>
        <span>登入</span>
    </a> *@

}
