﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Students

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Students</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StudentId,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("StudentId") })
            @Html.ValidationMessageFor(model => model.StudentId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("Name") })
            @Html.ValidationMessageFor(model => model.Name)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentsState)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StudentsState, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.StudentsState))))
            @Html.ValidationMessageFor(model => model.StudentsState)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReservationNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ReservationNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("ReservationNum") })
            @Html.ValidationMessageFor(model => model.ReservationNum)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TakeNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TakeNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("TakeNum") })
            @Html.ValidationMessageFor(model => model.TakeNum)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoCheckNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NoCheckNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("NoCheckNum") })
            @Html.ValidationMessageFor(model => model.NoCheckNum)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CancelNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CancelNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("CancelNum") })
            @Html.ValidationMessageFor(model => model.CancelNum)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
