﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.Students

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Students</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StudentId,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("StudentId") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("Name") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentsState)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StudentsState, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.StudentsState))))
            @Html.ValidationMessageFor(model => model.StudentsState)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReservationNum)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ReservationNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("ReservationNum") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TakeNum)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TakeNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("TakeNum") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoCheckNum)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NoCheckNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("NoCheckNum") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CancelNum)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CancelNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Students>.GetDisplayName("CancelNum") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
