﻿@using MvcPaging
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.Students>

@{
    ViewBag.Title = "學生預約紀錄查詢";
}

<h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
{
<div class="input-text-group">
<div>
    <label for="">
     @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)
     </label>
     @Html.InputSearchBox("SearchByStudentId", ViewData["SearchByStudentId"])

    <label for="">
      @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
      </label>
    @Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
</div>
</div>

<div class="input-text-group">
<div>
    <label for="">
    @Html.DisplayNameFor(model => model.FirstOrDefault().StudentsState)
    </label>
    @Html.DropDownList("SearchByStudentsState", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.StudentsState))),"請選擇")
        <input class="btn btn-primary" type="submit" value="搜尋" />
	</div>
    </div>
    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StudentsState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TakeNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NoCheckNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CancelNum)
        </th>
        <th>
          使用紀錄
        </th>
           <th>
        停權紀錄
        </th>
     
    </tr>
<tbody>
@foreach (var item in Model.OrderByDescending(x=>x.ReservationNum)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentsState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakeNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoCheckNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelNum)
        </td>
        <td>
            @Html.ActionLink("詳情", "StudentDetails", new {id = item.Id},new {@class="btn btn-primary"})

            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @*Html.ActionLink("刪除", "Delete", new { id=item.Id }) *@
            @Html.Hidden("ID", item.Id)
        </td>
        <td>
            @if (item.StudentsStopDetails.Count > 0)
            {
                  @Html.ActionLink("停權清單", "StudentsStopDetail", new {id = item.Id},new {@class="btn btn-danger"})
            }
          
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

