﻿@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model ICollection<StudentReservation>

@{
    ViewBag.Title = "學生預約紀錄查詢";
    List<CarLine> carline = ViewBag.CarLine;
}

<h2>@ViewBag.StudentName<span>的預約清單</span>
    <input type="button" class="btn btn-primary" id="backstudent" value="回學生列表" /></h2>

@using (Html.BeginForm())
{
    <div class="input-date-group">
        <div>
            <label for="">乘車日期</label>
            <input type="text" name="StartDate" class="datepicker" />
            ~
           <input type="text" name="EndDate" class="datepicker" />
            <input class="btn btn-primary" type="submit" value="搜尋" />
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>乘車日期
        </th>
        <th>預約日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Startstation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Endstation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarNo)
        </th>
        <th>狀態
        </th>
        <th>搭乘狀態
        </th>
        <th></th>

    </tr>
    @if (ViewBag.SDate == null)
    {
        <tbody>

            @foreach (var item in Model.OrderByDescending(x => x.ReservationDate))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitDate)
                    </td>

                    <td>
                        @{
                int carlineid = Convert.ToInt16(item.ReservationCarLine);
                        }
                        @foreach (var items in carline.Where(x => x.Id == carlineid))
                        {
                            @Html.Raw(items.Subject)
                        }



                        @*@Html.DisplayFor(modelItem => item.ReservationCarLine)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Startstation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endstation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationCarNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakeStatus)
                    </td>
                    <td>
                        @if (item.TakeStatus == TakeState.未報到)
                        {

@*<input type="button" class="btn btn-danger Editstatus" id="@item.Id" value="其他原因"/>*@
                            <input type="button" class="btn btn-danger popup_btn inputID" id="@item.Id" href="#AddReasonPanel" value="其他原因"/>
                        }
                        @if (item.TakeStatus == TakeState.特殊情況無法搭乘|| item.TakeStatus == TakeState.取消預約)
                        {
                            //<a id="AddReason" class="btn btn-danger " href="#AddReasonPanel">其他原因</a>
                            //Editstatus 
                            <input type="button" class="btn btn-primary popup_btn inputDetailID" id="@item.Id" href="#ReasonDetailPanel" value="詳情"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        DateTime Sdate = ViewBag.SDate;
        DateTime Edate = ViewBag.EDate;


        <tbody>

            @foreach (var item in Model.Where(x => x.ReservationDate >= Sdate && x.ReservationDate < Edate).OrderByDescending(x => x.ReservationDate))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitDate)
                    </td>

                    <td>
                        @{
                int carlineid = Convert.ToInt16(item.ReservationCarLine);
                        }
                        @foreach (var items in carline.Where(x => x.Id == carlineid))
                        {
                            @Html.Raw(items.Subject)
                        }



                        @*@Html.DisplayFor(modelItem => item.ReservationCarLine)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Startstation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endstation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationCarNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakeStatus)
                    </td>
                    <td>
                        @if (item.TakeStatus == TakeState.未報到)
                        {
                            //<a id="AddReason" class="btn btn-danger " href="#AddReasonPanel">其他原因</a>
                            //Editstatus 
                            <input type="button" class="btn btn-danger popup_btn inputID" id="@item.Id" href="#AddReasonPanel" value="其他原因"/>
                        }
                        @if (item.TakeStatus == TakeState.特殊情況無法搭乘|| item.TakeStatus == TakeState.取消預約)
                        {
                            //<a id="AddReason" class="btn btn-danger " href="#AddReasonPanel">其他原因</a>
                            //Editstatus 
                            <input type="button" class="btn btn-primary popup_btn inputDetailID" id="@item.Id" href="#ReasonDetailPanel" value="詳情"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    }

</table>

<div id="AddReasonPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">輸入原因</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div class="input-text-group">
                    <input type="hidden" id="thisId" />
                    <div>
                        <label for=""><font color="red">*</font>原因</label>
                        <textarea id="Reason" cols="50" rows="5" placeholder="詳細的原因..."></textarea>
                        <span id="Reasonmessage" style="color: red"></span>
                    </div>
                </div>
                <div class="confirm-group">
                    <a href="" class="btn btn-primary">取消</a>
                    <input id="CreateReason" class="btn btn-success" type="button" value="確定" />
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ReasonDetailPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">詳情</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div class="input-text-group">

                    <div>
                        <label for="">變更日期</label>
                        <input id="EditDate" disabled>
                    </div>
                    <div>
                        <label for="">變更人員</label>
                        <input id="EditName" disabled>
                    </div>

               
                    <div>
                        <label for="">原因</label>
                        <textarea id="ReasonDetail" cols="50" rows="5" disabled></textarea>
                        
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
        $("#backstudent").click(function () {
            location.href = '@Url.Action("Index", "Students", new { page = Session["studentpage"] })';
        });
        $(".inputID").click(function () {
            $("#Reason").val("");
            $("#thisId").val($(this).attr('Id'));
        });
        $(".inputDetailID").click(function () {
            var studentdetailId = $(this).attr('Id');
 $("#EditDate").val("");
            $("#EditName").val("");
            $("#ReasonDetail").text("");         



            $.ajax({
                url: '@Url.Action("GetReason", "Students")',
                  data: { studentdetailId: studentdetailId },
                  type: 'post',
                  cache: false,
                  async: false,
                  dataType: 'json',
                  success: function (data) {
                    
                      $("#EditDate").val(data["Update"]);
                      $("#EditName").val(data["Updater"]);
                      $("#ReasonDetail").text(data["Reason"]);
                  }

              });







        });
        $("#CreateReason").click(function () {
            if (!window.confirm('你確定要變更此筆搭乘狀態嗎?')) {
                return false;
            }
            var studentdetailId = $("#thisId").val();
            var reason = $("#Reason").val();
            if ($("#Reason").val() === "") {
                $("#Reasonmessage").text("請輸入詳細原因");
            }
            if ($("#Reasonmessage").text() !== "") {
                return;
            }
            $.ajax({
                url: '@Url.Action("CreateReason", "Students")',
                data: { studentdetailId: studentdetailId, reason: reason },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data["Message"] === "Success") {

                        alert("修改成功");
                        window.location.reload();
                    } else {
                        alert("修改失敗");
                    }

                }

            });
        });


       @* $(".Editstatus").click(function () {
            if (!window.confirm('你確定要變更此筆搭乘狀態嗎?')) {
                return false;
            }
            var studentdetailId = $(this).attr('Id');
            $.ajax({
                url: '@Url.Action("ChangeState", "Students")',
                data: { studentdetailId: studentdetailId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data["Message"] === "Success") {

                        alert("修改成功");
                        window.location.reload();
                    } else {
                        alert("修改失敗");
                    }

                }

            });
        });*@
    </script>
}

