﻿@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model ICollection<StudentsStopDetail>

@{
    ViewBag.Title = "學生停權紀錄";
  
}

<h2>@ViewBag.StudentName<span>的停權紀錄</span>
    <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁"></h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StopDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)
        </th>
        <th>狀態
        </th>


    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.StartDate.Date.ToString("yyyy/MM/dd")

                </td>



                @if (item.StopDay == 0)
                {
                    <td>無限期</td>
                    <td>無限期</td>
                     <td style="color: red;">永久停權</td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.StopDay)
                    </td>
                    <td>@item.EndDate.Value.Date.ToString("yyyy/MM/dd")</td>
                    if (item.EndDate.Value.Date <= DateTime.Now.Date)
                    {
                    <td>停權已結束</td>
                    }
                    else
                    {
                    <td style="color: red;">仍在停權中</td>
                    }
                }










            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
   
   
    </script>
}

