﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Emergency

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Emergency</legend>
        <div>
        <label for="">
            @Html.LabelFor(model => model.Subject)
        </label>
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("Subject") })
           <div> @Html.ValidationMessageFor(model => model.Subject)</div>
        </div>
        <div>
       <label for="">
            @Html.LabelFor(model => model.IncidentDate)
        </label>
            @Html.TextBoxFor(model => model.IncidentDate,"{0:d}",new {@class="datepicker",target="" })
           <div> @Html.ValidationMessageFor(model => model.IncidentDate)</div>
        </div>

        <div>
            @Html.LabelFor(model => model.Line)
         @*   @Html.TextBoxFor(model => model.Line,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("Line") })*@
         
         <select id="Line" name="Line">
            <option>------</option>
        </select>
               <div>@Html.ValidationMessageFor(model => model.Line)</div>
        </div>

        <div>
            @Html.LabelFor(model => model.CarNo)
         <select id="CarNo" name="CarNo" >
            <option>------</option>
        </select>
            @*@Html.TextBoxFor(model => model.CarNo, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("CarNo")})*@
           <div> @Html.ValidationMessageFor(model => model.CarNo)</div>
        </div>

        <div>
           <label for=""> @Html.LabelFor(model => model.Momo)
           @Html.TextAreaFor(model => model.Momo, new {@style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("Momo")})
           <div> @Html.ValidationMessageFor(model => model.Momo)</div>
        </div>

        <div class="confirm-group">
            <input class="btn btn-primary" type="submit" value="新增" />
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker({
                onSelect: function (dateText) {
                   GetCarLine(dateText);
                }
            });
            $('#Line').change(function () {
              
               
                GetLineId();
            });
        });
        function GetLineId() {

            var selectedValue = $('#Line option:selected').val();
            if ($.trim(selectedValue).length > 0) {
                alert(selectedValue);
                GetCarNo(selectedValue);
            } else {
                $('#CarNo').empty();
                $('#CarNo').append($('<option></option>').val('').text('請選擇'));
            }


        }

        function GetCarLine(dateText) {
            $.ajax({
                url: '@Url.Action("GetCarLine", "Emergency")',
                data: { dateText: dateText },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                 
                    if (data.length > 0) {
                        $('#Line').empty();
                        $('#Line').append($('<option></option>').val('').text('請選擇'));
                     
                        $.each(data,
                            function (i, item) {

                                
                                $('#Line').append($('<option></option>').val(item.Key).text(item.Value));
                            });

                    }
                    if (data.length === 0) {
                        $('#Line').empty();
                        $('#Line').append($('<option></option>').val('').text('-------'));

                    }
                }
            });
        }
        function GetCarNo(LineId) {
            $.ajax({
                url: '@Url.Action("GetCarNo", "Emergency")',
                data: { LineId: LineId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    
                    if (data.length > 0) {
                        $('#CarNo').empty();
                        $('#CarNo').append($('<option></option>').val('').text('請選擇'));

                        $.each(data,
                            function (i, item) {


                                $('#CarNo').append($('<option></option>').val(item.Key).text(item.Value));
                            });

                    }
                    if (data.length === 0) {
                        $('#CarNo').empty();
                        $('#CarNo').append($('<option></option>').val('').text('-------'));

                    }
                }
            });
        }


    </script>
    
}
