﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.Emergency

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Emergency</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncidentDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IncidentDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.IncidentDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Line)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Line,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("Line") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarNo,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("CarNo") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Momo)
        </div>
        <div class="editor-field">
           @Html.TextAreaFor(model => model.Momo, new {@style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<PtBusToSchool.Models.Emergency>.GetDisplayName("Momo")})
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
