﻿@using MvcPaging
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.Emergency>

@{
    ViewBag.Title = "即時推播通知管理";
}

<h2>@ViewBag.Title
    <a id="AddEmergency" class="popup_btn btn btn-primary" href="#AddEmergencyPanel">新增推播</a>
</h2>

@*@Html.ActionLink("新增", "Create", new { ParentId = @ViewBag.ParentId }, new { @class = "btn btn-primary" })*@

@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>
            <label for="">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            </label>

            @Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])

            <label for="">推播日期</label>

            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
            <input class="btn btn-primary" type="submit" value="搜尋" />

        </div>
    </div>

    
}

<style>
    .popup_content .input-date-group input:not([type="button"]):not([type="checkbox"]):not([type="radio"]){
        width: 150px;
    }
    .input-date-group select
    {
        width: 50px;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IncidentDate)
        </th>
         <th>
          推播人員
        </th>
           <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().State)
        </th>
        @*  <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Line)
        </th>*@
        @* <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarNo)<span>(發車時間)</span>
        </th>*@


        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @if (item.IncidentDate == null)
                    {
                        @item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")
                    }
                    else
                    {
                        @item.IncidentDate.Value.ToString("yyyy/MM/dd HH:mm")

                    }

                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Poster)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNo)
        </td>*@

                <td>
                    @* @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |*@
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @* @Html.ActionLink("刪除", "Delete", new { id=item.Id }) *@
                    @Html.Hidden("ID", item.Id)
                    <input type="button" class="popup_btn EmergencyDetail btn btn-primary"  id="@item.Id" href="#EmergencyDetailPanel" value="詳細資料"/>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="AddEmergencyPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增推播</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-radio-group">
                    <div>
                        <label><font color="red">*</font>推播類型</label>
                        <input type="radio" name="State" class="State" checked="checked" value="0">
                        即時推播
                            <input type="radio" name="State" class="State" value="1">
                            特定日期推播
                    </div>
                </div>
                <div class="input-date-group">
                    <div id="IncidentDateShow">
                        <label for=""><font color="red">*</font>推播日期</label>
                        <input type="text" id="IncidentDate" name="IncidentDate" class="datepicker" />
                            <select name="" id="Hours">
                                @for (int k = 0; k <= 23; k++)
                                {
                                    if (k < 10)
                                    {
                                    <option value=0@(k)>0@(k)</option>
                                    }
                                    else
                                    {
                                    <option value=@k>@k</option>
                                    }

                                }

                            </select>
                        <span>時</span>
                            <select name="" id="Minutes">
                                @for (int k = 0; k <= 59; k++)
                                {
                                    if (k < 10)
                                    {
                                    <option value=0@(k)>0@(k)</option>
                                    }
                                    else
                                    {
                                    <option value=@k>@k</option>
                                    }

                                }

                            </select>
                        <span>分</span>
                        <span style="display: block;margin-left: 140px;color: red;" id="IncidentDatemessage"></span>
                    </div>
                </div>
                <div class="input-text-group">
                    <div>
                        <label for=""><font color="red">*</font>推播主題</label>
                        <input id="Subject" name="Subject" />
                        <span id="Subjectmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>推播內容</label>
                          <textarea id="Momo" cols="50" rows="5" placeholder="請輸入詳細的內容通知..."></textarea>
                        <span id="Momomessage" style="color: red"></span>
                    </div>
                </div>
                <div class="confirm-group">
                    <a href="" class="btn btn-primary">取消</a>
                    <input id="CreateEmergency" class="btn btn-success CreateCar" type="button" value="確定" />
                </div>

            </div>
        </div>
    </div>
</div>

<div id="EmergencyDetailPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">推播詳情</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                   <div id="EmergencyPoster" align="right">
                       
                       </div>
                <div class="input-text-group">

                    <div>
                        <label for="">推播日期</label>
                        <input id="EmergencyDetailIncidentDate" disabled>
                    </div>
                    <div>
                        <label for="">推播類型</label>
                        <input id="EmergencyState" disabled>
                    </div>
                    <div>
                        <label for="">推播主題</label>
                        <input id="EmergencyDetailSubject" disabled>
                    </div>

                    <div>
                        <label for="">推播內容</label>
                        <textarea id="EmergencyDetailMomo" cols="50" rows="5" disabled></textarea>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>





<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $("#IncidentDateShow").hide();
        });

        $(".State").change(function () {
            var state = $("[name=State]:radio:checked").val();

            if (state === "1") {
                $("#IncidentDateShow").show();
            } else {
                $("#IncidentDateShow").hide();
            }


        });
        $("#CreateEmergency").click(function () {
            var state = $("[name=State]:radio:checked").val();
            var statestr = "";
            if (state === "1") {
                statestr = "特定日期推播";
                if ($("#IncidentDate").val() !== "") {
                    var StartDateValid = dateValidationCheck($("#IncidentDate").val());
                    if (StartDateValid) {
                        $("#IncidentDatemessage").text("");
                    } else {
                        $("#IncidentDatemessage").text("請輸入 YYYY/MM/DD 日期格式");
                    }
                } else {
                    $("#IncidentDatemessage").text("請選擇日期或輸入日期");
                }
            } else {
                statestr = "即時推播";
            }


            if ($("#Subject").val() === "") {
                $("#Subjectmessage").text("請輸入事件名稱");
            } else {
                $("#Subjectmessage").text("");
            }
            if ($("#Momo").val() === "") {
                $("#Momomessage").text("請輸入事件內容");
            } else {
                $("#Momomessage").text("");
            }

            if ($("#Momomessage").text() === "" && $("#Subjectmessage").text() === "" && $("#IncidentDatemessage").text() === "") {
                var formData = new FormData();
                formData.append('IncidentDate', $("#IncidentDate").val());
                formData.append('Subject', $("#Subject").val());
                formData.append('Momo', $("#Momo").val());
                formData.append('State', statestr);
                formData.append('Hours', $("#Hours").val());
                formData.append('Minutes', $("#Minutes").val());

                $.ajax({
                    url: '@Url.Action("AddEmergency", "Emergency")',
                    data: formData,
                    type: 'post',
                    contentType: false, // 告诉jQuery不要去這置Content-Type
                    processData: false, // 告诉jQuery不要去處理發送的數據 
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("新增成功");
                            location.href = '@Url.Action("index", "Emergency")';
                        } else {
                            alert("新增失敗");
                        }
                    }
                });
            }
        });
        $(".EmergencyDetail").click(function () {

            var EmergencyId = $(this).attr('Id');

            $.ajax({
                url: '@Url.Action("GetEmergencyDetail", "Emergency")',
                data: { EmergencyId: EmergencyId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $("#EmergencyDetailIncidentDate").val(data["IncidentDate"]);
                    $("#EmergencyDetailSubject").val(data["Subject"]);
                    $("#EmergencyDetailMomo").val(data["Momo"]);
                    $("#EmergencyState").val(data["State"]);
                    $("#EmergencyPoster").text("由"+data["Poster"]+"推播");
                }

            });
        });


    </script>
}