﻿.GridviewScrollHeader TH, .GridviewScrollHeader TD
{
    padding: 10px;
    font-weight: bold;
    white-space: nowrap;
    /*border-right: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    /*background-color: #EFEFEF;*/
    /*vertical-align: bottom;*/
    text-align: center;
    line-height: 1.5;
}
.GridviewScrollHeader TH {
    background: #000;
    color: white;
}
.GridviewScrollItem TD
{
    padding: 5px;
    white-space: nowrap;
    /*border-right: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    background-color: #FFFFFF;
}
.GridviewScrollItem .Freeze
{
    /*background-color: #EFEFEF;*/
}
.GridviewScrollItemHover TD
{
    padding: 5px;
    white-space: nowrap;
    /*border-right: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    background-color: #CCCCCC;
    cursor: pointer;
}
.GridviewScrollItemHover .Freeze
{
    background-color: #CCCCCC;
}
.GridviewScrollItemSelected TD
{
    padding: 5px;
    white-space: nowrap;
    /*border-right: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    background-color: #999999;
    color: #FFFFFF;
}
.GridviewScrollItemSelected .Freeze
{
    background-color: #999999;
}
.GridviewScrollPager 
{
    border-top: 1px solid #ccc;
    background-color: #FFFFFF;
}
.GridviewScrollPager TD
{
    padding-top: 3px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.GridviewScrollPager A
{
    color: #666666;
}

.GridviewScrollPager SPAN
{
    font-size: 16px;
    font-weight: bold;
}