﻿@model IEnumerable<PtBusToSchool.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>群組列表</h2>
<div class="top">
   
   @Html.ActionLink("建立群組", "Create",null, new { @class = "btn btn-primary" })
</div>
<div class="scroll-table">
<table class="table table-v">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
       
        <th>功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id },new { @class = "btn btn-primary" }) 
            
            @Html.ActionLink("刪除", "Delete", new { id=item.Id },new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
</div>


<div id="addAcount" class="popup_background">
      <div class="popup_content animated bounceInUp">
          <div class="closepop">
              <img width="30" height="30" src="~/images/close-btn.svg" alt="">
              <h3 style="color: white">新增帳號</h3>
          </div>
          <div class="banner">
              <div class="popup_tip">
                <div><label for="">帳號</label><input type="text"></div>
                <div><label for="">姓名</label><input type="text"></div>
                <div><label for="">密碼</label><input type="text"></div>
                <div><label for="">群組</label><input type="text"></div>
                <div align="right">
                <a class="btn btn-primary" href="" style="">建立</a>
                </div>
              </div>

              <div class="success_msg">
                  新增帳號成功，請以此組帳號密碼登入。
              </div>
              <div class="error_msg">
                  帳號格式不正確或是帳號重覆，請重新輸入。
              </div>
          </div>

      </div>
  </div>
