﻿
@model PtBusToSchool.Models.MemberChangePassword

@{
    ViewBag.Title = "修改密碼";
}

<h2>修改密碼</h2>
<style>
    fieldset {
    width: 400px;
    margin: 0 auto;
}
input[type=text],
input[type=password] {
    /*width: 100%!important;*/
}
</style>
<h1 style="color: red">@ViewBag.Errormessage</h1>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>修改密碼</legend>

<div class="input-text-group">
 <div>
    <label>原　密　碼</label> @Html.Password("OldPassword")
    <input type="hidden" id="oldpassword" name="oldpassword" value="">
</div>
<div>
    <label>新　密　碼</label>  @Html.EditorFor(model => model.NewPassword)
   
</div>
<div> @Html.ValidationMessageFor(model => model.NewPassword)</div>
<div>
    <label>確認新密碼</label> @Html.EditorFor(model => model.ConfirmPassword)
</div>
<div>
    @Html.ValidationMessageFor(model => model.ConfirmPassword)
    
</div>
</div>
<div align="center" style="padding: 20px 0;">
    @* @Html.ActionLink("回列表", "Index") *@
     <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
     <input class="btn btn-primary" type="submit" value="確認修改" />  @ViewBag.message 
</div>  
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
