﻿@using System.Collections

@using PtBusToSchool.Models
@model PtBusToSchool.Models.Member

@{
    ViewBag.Title = "新增帳號";
}

<h2 class="page-title">
@* <i class="fa fa-pencil-square-o"></i> *@
新增帳號</h2>

@using (Html.BeginForm("Create", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>會員帳號資料</legend>
<table class="table table-h">
    <tr>
        <th width="120">
            @Html.LabelFor(model => model.Account)
            
        </th>
        <td>
             @Html.EditorFor(model => model.Account)<input id="btnCheck" type="button" class="btn btn-primary" value="檢查帳號" />
            @Html.ValidationMessageFor(model => model.Account) <span>@ViewBag.Message</span>
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Password)
            
        </th>
        <td>
             @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </td>
    </tr>
    <tr>
        <th>
              @Html.LabelFor(model => model.Name)
        </th>
        <td>
              @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Gender)
            
        </th>
        <td>
             @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Email)
            
        </th>
        <td>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </td>
    </tr>
   
    <tr style="display: none">
        <th>
            @Html.LabelFor(model => model.MyPic)
            
        </th>
        <td>
            <input type="file" name="upfile" />
            
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.JobTitle)
            
        </th>
        <td>
            @Html.EditorFor(model => model.JobTitle)
            @Html.ValidationMessageFor(model => model.JobTitle)
        </td>
    </tr>
    <tr style="display: none">
        <th>
            @Html.LabelFor(model => model.UnitId)

        </th>
        <td>
            @Html.DropDownListFor(model => model.UnitId, new SelectList(ViewBag.Units as IEnumerable, "Id", "Subject"))
            @Html.ValidationMessageFor(model => model.UnitId)
        </td>
    </tr>
    <tr>
    <th>@Html.LabelFor(model => model.Memo)</th>
    <td> @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px" })
            @Html.ValidationMessageFor(model => model.Memo)</td>
</tr>
  

</table>
     <div class="editor-field" style="display: none">
            @Html.LabelFor(model => model.Permission)
            <div id="tree3"></div>
            @Html.HiddenFor(model => model.Permission)
        </div>    

       
        
        <p>
            <input type="submit" value="儲存" class="btn btn-primary" />
             @Html.ActionLink("回列表", "Index")
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/Member/TreeScript/0" type="text/javascript"></script>
     <script>
         $(document).ready(function () {
             $("#btnCheck").click(function () {
                 if ($("#Account").val() == "") {
                     alert("帳號不可空白");
                     return;
                 }
                 $.get("CheckAccount", { userName: $("#Account").val() }).done(function (data) {

                     alert(data);

                 }).fail(function () { alert("連線錯誤!"); });
             });
         });
    </script>
}
