﻿@using System.Collections
@model List<PtBusToSchool.Models.Member>
@{
    ViewBag.Title = "系統角色權限管理";
}

<h2>
    @ViewBag.Title
    <a id="AddMember" class="popup_btn btn btn-primary" href="#AddMemberPanel">新增帳號</a>
    <a id="AllRoleLists" class="popup_btn btn btn-primary"  href="#RoleListPanel">權限管理</a>
 

</h2>

    @*  @Html.ActionLink("權限管理", "index", "Role", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("建立帳號", "Create", null, new { @class = "btn btn-primary popup_btn" })*@
    
    @* <a class="btn btn-primary popup_btn" href="#addAcount">新增帳號</a> *@

    <table class="table table-v">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th style="display:none" >
                @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
            </th>
            <th style="display:none" >
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th style="display:none" >
                @Html.DisplayNameFor(model => model.FirstOrDefault().JobTitle)
            </th>
            <th>
               功能權限
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="display:none" >
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td style="display:none" >
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="display:none" >
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @foreach (var myRole in item.Roles)
                    {
                        @myRole.Subject
                        <br />
                    }
                </td>
                <td>
                    <input type="button" class="popup_btn EditMember btn btn-primary" id="@item.Id" href="#EditMemberPanel" value="編輯"/>
                    <input type="button" class="popup_btn DelMember btn btn-danger" id="@item.Id" href="#DelMemberPanel" value="刪除"/>
                    @*  @Html.ActionLink("編輯", "Edit", new {id = item.Id}, new {@class = "btn btn-primary"})*@
                    @*@Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
                    @*<input type="hidden" value="@item.Id" id="ID"/>*@
                </td>
            </tr>
        }

    </table>

<div id="DelMemberPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">刪除帳號</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                 <h2 style="color:red">你確定要刪除?</h2>
                <div class="input-text-group">
                <div>
                    <label for="">帳號</label>
                    <input id="DelAccount" disabled>
                </div>
                <div>
                    <label for="">姓名</label>
                    <input id="DelName" disabled>
                </div>
                <div>
                    <label for="">信箱</label>
                    <input id="DelEmail" disabled>
                    
                </div>
                </div>
                <div class="confirm-group">
                        <a href="" class="closeWindow btn btn-primary">取消</a>
                        <input id="DelMembers" class="btn btn-danger DelMembers" type="button" value="刪除" />
                        <input id="DelMemberId" class="DelMemberId" type="hidden" />

                    </div>
            </div>

            <div class="success_msg">
            </div>
            <div class="error_msg">
            </div>
        </div>

    </div>
</div>

<div id="AddMemberPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增帳號</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                <div>
                    <label for=""><font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Account)
                    </label>
                    <input id="Account" name="Account" /><input id="btnCheck" type="button" class="btn btn-primary btnCheck" value="檢查帳號" />
                    <span id="Accountmessage" style="color: red"></span>
                </div>
                <div>
                    <label for=""><font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Password)
                    </label>
                    <input id="Password" name="Password" type="password" />
                    <span id="Passwordmessage" style="color: red"></span>
                </div>
                <div>
                    <label for="">
                    <font color="red">*</font>確認密碼
                    </label>
                     <input id="Passwordagain" name="Passwordagain" type="password" />
                    <span id="Passwordagainmessage" style="color: red"></span>
                </div>
                <div>
                    <label for="">
                    <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </label>
                    <input id="Name" name="Name" />
                    <span id="Namemessage" style="color: red"></span>
                </div>
                <div>
                    <label for="">
                    <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                    </label>
                    <input id="Email" name="Email" />
                    <span id="Emailmessage" style="color: red"></span>

                </div>
                </div>
                <h3>可使用權限</h3>
                <div class="Rolelist input-radio-group"></div>
                <div class="confirm-group">
                    <a href="" class="closeWindow btn btn-primary">取消</a>
                    <input id="CreateMember" class="btn btn-success CreateMember" type="button" value="確定" />
                </div>

            </div>

            <div style="display:none" class="success_msg">
                新增帳號成功，請以此組帳號密碼登入。
            </div>
            <div style="display:none" class="error_msg">
                帳號格式不正確或是帳號重覆，請重新輸入。
            </div>
        </div>

    </div>
</div>

<div id="EditMemberPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯帳號</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                <div>
                    <label for="">@Html.DisplayNameFor(model => model.FirstOrDefault().Password)</label>
                    <input id="EditPassword" name="Password" type="password" />
                    <span id="EditPasswordmessage" style="color: red"></span>
                    <div>(密碼已經加密，不修改請保持空白)</div>
                </div>
                <div>
                    <label for="">確認密碼</label>
                     <input id="EditPasswordagain" name="Passwordagain" type="password" />
                    <span id="EditPasswordagainmessage" style="color: red"></span>
                    <div>(密碼不修改請保持空白)</div>
                </div>
                <div>
                    <label for=""><font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</label>
                    <input id="EditName" name="Name" />
                    <span id="EditNamemessage" style="color: red"></span>
                </div>
                <div>
                    <label for="">
                    <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                    </label>
                    <input id="EditEmail" name="Email" />
                    <span id="EditEmailmessage" style="color: red"></span>

                </div>
                </div>
                <h3> 可使用權限</h3>
                <div class="EditRolelist input-radio-group"></div>
                <div class="confirm-group">
                    <a href="" class="closeWindow btn btn-primary">取消</a>
                    <input id="MemberId" class="MemberId" type="hidden" />
                    <input id="UpdateMember" class="btn btn-success UpdateMember" type="button" value="確定" />
                </div>
            </div>

            <div class="success_msg">
                新增帳號成功，請以此組帳號密碼登入。
            </div>
            <div class="error_msg">
                帳號格式不正確或是帳號重覆，請重新輸入。
            </div>
        </div>

    </div>
</div>





<div id="AddRolePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增權限</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div>
                    <label for=""><font color="red">*</font>權限名稱</label>
                    <input id="Subject" name="Subject" type="text" /><span id="AddSubjectmessage" style="color: red"></span>
                </div>
                <div>
                    <label for="">權限內容</label>
                    <div id="tree3"></div>
                    <input id="Permission" name="Permission" type="hidden" value="">
                </div>
                <div>
                    <label for="">隸屬成員</label>
                    <div>
                        <div style="float: left">
                            @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }),new{@class="listSelect"})
                        </div>
                        <div style="float: left;">
                            <div>
                                <input class="listSelectBtn" type="button" value="＞" id="toRight" />
                            </div>
                            <div>
                                <input class="listSelectBtn" type="button" value="＜" id="toLeft" />
                            </div>
                        </div>
                        <div style="float: left">
                            <select name="MemberListSelect" multiple="multiple" class="listSelect" id="MemberListSelect">
                            </select>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div class="confirm-group">
                    <a href="#RoleListPanel" class="closeWindow btn btn-primary popup_btn">取消</a>
                    <input id="CreateRole" class="btn btn-success CreateRole" type="button" value="確定" />

                </div>
            </div>

            <div class="success_msg">
            </div>
            <div class="error_msg">
            </div>
        </div>

    </div>
</div>
<div id="RoleListPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">權限清單</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="top">
                    <a id="AddRole" class="popup_btn btn btn-primary " href="#AddRolePanel">新增權限</a>
                </div>
                <div class="AllRolelist"></div>

            </div>

            <div class="success_msg">
            </div>
            <div class="error_msg">
            </div>
        </div>

    </div>
</div>
<div id="EditRolePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯權限</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div>
                    <label for=""> <font color="red">*</font>權限名稱</label>
                    <input id="EditSubject" name="EditSubject" type="text" /><span id="EditSubjectmessage" style="color: red"></span>
                </div>
                <div>
                    <label for="">權限內容</label>
                    <div id="tree4"></div>
                    <input id="EditPermission" name="EditPermission" type="hidden" value="">
                </div>
                <div>
                    <label for="">隸屬成員</label>
                    <div>
                        <div style="float: left">
                            <select class="listSelect" id="EditMemberList" multiple="multiple" name="EditMemberList">
                            </select>
                        </div>
                        <div style="float: left;">
                            <div>
                                <input class="listSelectBtn" type="button" value="＞" id="EdittoRight" />
                            </div>
                            <div>
                                <input class="listSelectBtn" type="button" value="＜" id="EdittoLeft" />
                            </div>
                        </div>
                        <div style="float: left">
                            <select class="listSelect" name="EditMemberListSelect" multiple="multiple" id="EditMemberListSelect">
                            </select>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="confirm-group">
                    <a href="#RoleListPanel" class="closeWindow btn btn-primary popup_btn">取消</a>
                        <input id="UpdateRole" class="btn btn-success UpdateRole" type="button" value="確定" />
                        <input id="EditRoleId" class="EditRoleId" type="hidden" />
                        <input id="EditPoster" class="EditPoster" type="hidden" />
                        <input id="EditInitDate" class="EditInitDate" type="hidden" />
                        <input id="EditUpdater" class="EditUpdater" type="hidden" />
                        <input id="EditUpdateDate" class="EditUpdateDate" type="hidden" />

                    </div>
                </div>
            </div>

            <div class="success_msg">
            </div>
            <div class="error_msg">
            </div>
        </div>

    </div>
</div>


<div id="DelRolePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">刪除權限</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div>
                    <label for="">權限名稱</label>
                    <span id="DelSubject"></span>
                </div>
                <div>
                    <label for="">權限內容</label>
                    <div id="tree5"></div>
                </div>
                <div>
                    <label for="">隸屬成員</label>
                    <div>
                        <select class="listSelect" name="DelMemberListSelect" multiple="multiple" id="DelMemberListSelect">
                        </select>

                        <div style="clear: both"></div>
                    </div>
                    <div class="confirm-group">
                    <a href="#RoleListPanel" class="closeWindow btn btn-primary popup_btn">取消</a>
                        <input id="DelRole" class="btn btn-danger DelRole" type="button" value="刪除" />
                        <input id="DelRoleId" class="DelRoleId" type="hidden" />

                    </div>
                </div>
            </div>

            <div class="success_msg">
            </div>
            <div class="error_msg">
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/jquery-ui.custom.js" type="text/javascript"></script>

    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>

    @*<script src="~/Role/TreeScript/0" type="text/javascript"></script>*@

    <script>
        $(document).ready(function () {

        });

        $("#btnCheck").click(function () {
            if ($("#Account").val() == "") {
                alert("帳號不可空白");
                return;
            }

            $.ajax({
                url: '@Url.Action("CheckAccount", "Member")',
                data: { userName: $("#Account").val() },
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    alert(data["Message"]);
                }

            });
        });

        $("#Passwordagain").blur(function () {
            if ($("#Password").val() !== $("#Passwordagain").val()) {
                $("#Passwordagainmessage").text("與密碼不符");
            } else {
                $("#Passwordagainmessage").text("");
            }
        });
    $("#Account").blur(function() {
            var account = $('#Account').val();
            var accountValid = validateEmail(account);

            if (accountValid) {
                $("#Accountmessage").text("");
            } else {
                $("#Accountmessage").text("帳號格式須為Email格式");
            }
        });
        $("#Email").blur(function () {
            var email = $('#Email').val();
            var emailValid = validateEmail(email);

            if (emailValid) {
                $("#Emailmessage").text("");
            } else {
                $("#Emailmessage").text("Email格式不對");
            }
        });
        $("#EditEmail").blur(function () {
            var email = $('#EditEmail').val();
            var emailValid = validateEmail(email);

            if (emailValid) {
                $("#EditEmailmessage").text("");
            } else {
                $("#EditEmailmessage").text("Email格式不對");
            }
        });

        $("#AddMember").click(function () {

            var str = '';
            $.ajax({
                url: '@Url.Action("GetRole", "Member")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');
                        str += '<div><input type="checkbox" name="carSiteArray" value=' + count[0] + '>' + count[1] + '</div>';
                        // if (i % 3 === 0) {
                        //     str += '<br/>';
                        // }
                    });

                    document.querySelector('.Rolelist').innerHTML = str;
                }

            });
        });

        $("#CreateMember").click(function () {
  if ($("#Accountmessage").text() === "帳號格式須為Email格式") {
                $("#Account").focus();
               return;
            }
            if ($("#Account").val() === "") {
                $("#Accountmessage").text("請輸入帳號");
            } else {
                   $.ajax({
                    url: '@Url.Action("CheckAccount", "Member")',
                       data: { userName: $("#Account").val() },
                       type: 'get',
                       cache: false,
                       async: false,
                       dataType: 'json',
                       success: function (data) {           
                           $("#Accountmessage").text(data["Message"]);
                       }
                });
                if ($("#Accountmessage").text() === "這個帳號尚未使用") { $("#Accountmessage").text(""); }
            }
            if ($("#Password").val() === "") {
                $("#Passwordmessage").text("請輸入密碼");
            } else {
                $("#Passwordmessage").text("");
            }
            if ($("#Passwordagain").val() === "") {
                $("#Passwordagainnmessage").text("請輸入確認密碼");
            } else {
                $("#Passwordagainnmessage").text("");
            }
            if ($("#Name").val() === "") {
                $("#Namemessage").text("請輸入姓名");
            } else {
                $("#Namemessage").text("");
            }
            if ($("#Email").val() === "") {
                $("#Emailmessage").text("請輸入信箱");
            } else {
                $("#Emailmessage").text("");
            }
            if ($("#Password").val() !== $("#Passwordagain").val()) {
                $("#PasswordagainEnmessage").text("與密碼不符");
                $("#Passwordagain").focus();
                $("#Passwordagain").select();
            }
            if ($("#Account").val() !== "" && $("#Password").val() !== "" && $("#Passwordagain").val() !== "" && $("#Name").val() !== "" && $("#Email").val() !== "" && $("#Accountmessage").text() === "" && $("#Passwordmessage").text() === "" && $("#Passwordagainnmessage").text() === "" && $("#Namemessage").text() === "" && $("#Emailmessage").text() === "") {


                var role = "";

                $("[name=carSiteArray]:checkbox:checked").each(function () {
                    role += $(this).val() + "、";
                    //alert($(this).val());
                });
                if (role !== "") {
                    role += "、";
                    role = role.replace("、、", "");
                }


                var formData = new FormData();
                formData.append('Account', $("#Account").val());
                formData.append('Password', $("#Password").val());
                formData.append('Name', $("#Name").val());
                formData.append('Email', $("#Email").val());
                formData.append('RoleList', role);
                formData.append('UnitId', 1);

                addMemberRole(formData);

            }

            function addMemberRole(formData) {

                $.ajax({
                    url: '@Url.Action("CreateMemberRole", "Member")',
                    data: formData,
                    type: 'post',
                    contentType: false, // 告诉jQuery不要去這置Content-Type
                    processData: false, // 告诉jQuery不要去處理發送的數據 
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("新增成功");
                            location.href = '@Url.Action("index", "Member")';
                        } else {
                            alert("新增失敗");
                        }


                    }

                });
            }

        });


        $(".DelMember").click(function () {

            var memberId = $(this).attr('Id');

            $.ajax({
                url: '@Url.Action("GetMemberData", "Member")',
                data: { MemberId: memberId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function(data) {
                    $("#DelAccount").val(data["Account"]);
                    $("#DelName").val(data["Name"]);
                    $("#DelEmail").val(data["Email"]);
                    $("#DelMemberId").val(data["Id"]);
                }
            });
            $("#DelMembers").click(function() {
                $.ajax({
                    url: '@Url.Action("DelMemberRole", "Member")',
                    data: { MemberId: $("#DelMemberId").val() },
                     type: 'post',
                     cache: false,
                     async: false,
                     dataType: 'json',
                     success: function (data) {
                         if (data["Message"] === "Success") {
                             $(".popup_tip").hide();
                             alert("刪除成功");
                             location.href = '@Url.Action("index", "Member")';
                            } else {
                                alert("刪除失敗");
                            }
                     
                     }
                 });

            });


        });


        $(".EditMember").click(function() {

            var memberId = $(this).attr('Id');

            $.ajax({
                url: '@Url.Action("GetMemberData", "Member")',
                data: { MemberId: memberId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $("#EditName").val(data["Name"]);
                    $("#EditEmail").val(data["Email"]);
                    $("#MemberId").val(data["Id"]);

                    var allrole = data["AllRole"].split('#');
                    var haverole = data["HaveRole"].split('、');
                    var str = "";
                    for (var i = 0; i < allrole.length; i++) {
                        var yn = true;
                        var allrolecount = allrole[i].split(':');
                        for (var j = 0; j < haverole.length; j++) {
                            if (haverole[j] === allrolecount[0]) {
                                yn = false;
                            }
                        }
                        if (yn) {
                            str += '<div><input type="checkbox" name="EditcarSiteArray" value="'+allrolecount[0]+'">'+allrolecount[1]+'</div>';
                        } else {
                            str += '<div><input type="checkbox" name="EditcarSiteArray" checked="checked" value="'+allrolecount[0]+'" >'+allrolecount[1]+'</div>';
                        }
                        if (i != 0 && i % 3 === 0) {
                            str += '<br/>';
                        }
                    }
                    document.querySelector('.EditRolelist').innerHTML = str;
                }

            });
        });
        $("#CreateMember").click(function () {


            if ($("#EditName").val() === "") {
                $("#EditNamemessage").text("請輸入姓名");
            } else {
                $("#EditNamemessage").text("");
            }
            if ($("#EditEmail").val() === "") {
                $("#EditEmailmessage").text("請輸入信箱");
            } else {
                $("#EditEmailmessage").text("");
            }

        });
        $("#EditPasswordagain").blur(function () {
            if ($("#EditPassword").val() !== $("#EditPasswordagain").val()) {
                $("#EditPasswordagainmessage").text("與密碼不符");
            } else {
                $("#EditPasswordagainmessage").text("");
            }
        });
        $("#UpdateMember").click(function () {
            if ($("#EditPassword").val() !== "" && $("#EditPassword").val() !== $("#EditPasswordagain").val()) {
                if ($("#EditPasswordagain").val() !== "") {
                    $("#EditPasswordagainmessage").text("與密碼不符");
                    return;
                } else {
                    $("#EditPasswordagainmessage").text("請輸入確認密碼");
                    return;
                }
            }

            if ($("#EditName").val() === "") {
                $("#EditNamemessage").text("請輸入姓名");
            } else {
                $("#EditNamemessage").text("");
            }
            if ($("#EditEmail").val() === "") {
                $("#EditEmailmessage").text("請輸入信箱");
            } else {
                $("#EditEmailmessage").text("");
            }
            if ($("#EditName").val() !== "" && $("#EditEmail").val() !== "" && $("#EditPasswordmessage").text() === "" && $("#EditPasswordagainnmessage").text() === "" && $("#EditNamemessage").text() === "" && $("#EditEmailmessage").text() === "") {
                var role = "";

                $("[name=EditcarSiteArray]:checkbox:checked").each(function () {
                    role += $(this).val() + "、";
                    //alert($(this).val());
                });
                if (role !== "") {
                    role += "、";
                    role = role.replace("、、", "");
                }


                var formData = new FormData();
                formData.append('Id', $("#MemberId").val());
                formData.append('Password', $("#EditPassword").val());
                formData.append('Name', $("#EditName").val());
                formData.append('Email', $("#EditEmail").val());
                formData.append('RoleList', role);


                EditMemberRole(formData);

            }

            function EditMemberRole(formData) {

                $.ajax({
                    url: '@Url.Action("EditMemberRole", "Member")',
                    data: formData,
                    type: 'post',
                    contentType: false, // 告诉jQuery不要去這置Content-Type
                    processData: false, // 告诉jQuery不要去處理發送的數據 
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("修改成功");
                            location.href = '@Url.Action("index", "Member")';
                        } else {
                            alert("修改失敗");
                        }


                    }

                });
            }


        });
        $("#AllRoleLists").click(function () {
            var str = '<table class="table">';
            $.ajax({
                url: '@Url.Action("GetRole", "Member")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {

                    var i = 0;
                    $.each(data, function () {
                        i++;
                        var count = data["Count" + i].split('#');

                        str += '<tr><th>' + count[1] + '</th><td style="text-align:right;"><input type="button" class="popup_btn EditRoles btn btn-primary"  id=' + count[0] + ' href="#EditRolePanel" value="編輯"/><input type="button" class="popup_btn DelRoles btn btn-danger"  id=' + count[0] + ' href="#DelRolePanel" value="刪除"/> </td></tr>';
                        //str += '<tr><td>' + count[1] + '</td><td> <a id=' + count[0] + ' class="popup_btn btn btn-primary EditRoles" href="#EditRolePanel">編輯</a><input type="button" class="popup_btn DelRoles"  id=' + count[0] + ' value="刪除"/> </td></tr>';
                    });
                    str += '</table>';

                    document.querySelector('.AllRolelist').innerHTML = str;

                }

            });


            $(".EditRoles").click(function () {

                $("#RoleListPanel").hide();
                $("#EditRolePanel").show();
                $.ajax({
                    url: 'Role/TreeScript/' + $(this).attr('Id'),
                    data: { id: $(this).attr('Id') },
                    type: 'get',
                    cache: false,
                    async: false,
                    success: function (data) {
                        eval(data);
                        $("#tree4").dynatree("getTree").reload();
                    }
                });

                $.ajax({
                    url: '@Url.Action("GetRoleData", "Member")',
                    data: { RoleId: $(this).attr('Id') },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $("#EditRoleId").val(data["Id"]);
                        $("#EditSubject").val(data["Subject"]);
                        $("#EditPermission").val(data["Permission"]);

                    }
                });
                $.ajax({
                    url: '@Url.Action("GetRoleMemberData", "Member")',
                    data: { RoleId: $(this).attr('Id') },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $('#EditMemberList').text("");
                        $.each(data,
                            function (i, item) {
                                $('#EditMemberList')
                                    .append($('<option></option>').val(item.Key).text(item.Value));
                            });
                    }
                });
                $.ajax({
                    url: '@Url.Action("GetRoleMemberSelectData", "Member")',
                    data: { RoleId: $(this).attr('Id') },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $('#EditMemberListSelect').text("");
                        $.each(data,
                            function (i, item) {
                                $('#EditMemberListSelect')
                                    .append($('<option></option>').val(item.Key).text(item.Value));
                            });
                    }
                });


                initMemberListSelect();

                $("#EdittoRight").click(function () {

                    $("#EditMemberList").children(":selected").each(function () {
                        $(this).appendTo("#EditMemberListSelect");
                    });
                    initMemberListSelect();
                });

                $("#EdittoLeft").click(function () {

                    $("#EditMemberListSelect").children(":selected").each(function () {
                        $(this).appendTo("#EditMemberList");
                    });
                    initMemberListSelect();
                });

                function initMemberListSelect() {
                    var list = '';
                    $("#EditMemberListSelect").children().each(function () {
                        list += $(this).val() + ",";
                    });
                    $("#EditMemberListSelect").val(list);
                }


                $("#UpdateRole").click(function () {

                    if ($("#EditSubject").val() !== "") {
                        var MemberListSelectstr = "";
                        $('#EditMemberListSelect option').each(function () {
                            MemberListSelectstr += $(this).val() + ",";
                        });
                        MemberListSelectstr += ",";
                        MemberListSelectstr = MemberListSelectstr.replace(",,", "");

                        var formData = new FormData();
                        formData.append('Id', $("#EditRoleId").val());
                        formData.append('Subject', $("#EditSubject").val());
                        formData.append('Permission', $("#EditPermission").val());
                        formData.append('MemberList', MemberListSelectstr);
                        EditRoleMember(formData);
                    } else {
                        $("#EditSubjectmessage").text("請輸入權限名稱");

                    }

                    function EditRoleMember(formData) {

                        $.ajax({
                            url: '@Url.Action("EditRoleMember", "Member")',
                            data: formData,
                            type: 'post',
                            contentType: false, // 告诉jQuery不要去這置Content-Type
                            processData: false, // 告诉jQuery不要去處理發送的數據 
                            cache: false,
                            async: false,
                            dataType: 'json',
                            success: function (data) {
                                if (data["Message"] === "Success") {
                                    $(".popup_tip").hide();
                                    alert("修改成功");
                                    location.href = '@Url.Action("index", "Member")';
                                } else {
                                    alert("修改失敗");
                                }


                            }

                        });
                    }
                });
            });


            $(".DelRoles").click(function () {
                $("#RoleListPanel").hide();
                $("#DelRolePanel").show();
                $.ajax({
                    url: 'Role/TreeScript/' + $(this).attr('Id'),
                    data: { id: $(this).attr('Id') },
                    type: 'get',
                    cache: false,
                    async: false,
                    success: function (data) {
                        eval(data);
                        $("#tree5").dynatree("getTree").reload();
                    }
                });
                $.ajax({
                    url: '@Url.Action("GetRoleData", "Member")',
                    data: { RoleId: $(this).attr('Id') },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $("#DelRoleId").val(data["Id"]);
                        $("#DelSubject").text(data["Subject"]);

                    }
                });
                $.ajax({
                    url: '@Url.Action("GetRoleMemberSelectData", "Member")',
                    data: { RoleId: $(this).attr('Id') },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $('#DelMemberListSelect').text("");
                        $.each(data,
                            function (i, item) {
                                $('#DelMemberListSelect')
                                    .append($('<option></option>').val(item.Key).text(item.Value));
                            });
                    }
                });


                $("#DelRole").click(function () {

                    $.ajax({
                        url: '@Url.Action("DelRoleMember", "Member")',
                        data: { RoleId: $("#DelRoleId").val() },
                        type: 'post',
                        cache: false,
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            if (data["Message"] === "Success") {
                                $(".popup_tip").hide();
                                alert("刪除成功");
                                location.href = '@Url.Action("index", "Member")';
                                } else {
                                    alert("刪除失敗");
                                }
                            }
                    });
                });






            });


        });
            $("#AddRole").click(function () {

                $("#RoleListPanel").hide();
                $("#AddRolePanel").show();
                $.ajax({
                    url: 'Role/TreeScript/0',
                    data: { id: 0 },
                    type: 'get',
                    cache: false,
                    async: false,

                    success: function (data) {
                        eval(data);
                        $("#tree3").dynatree("getTree").reload();
                    }
                });
                $("#toRight").click(function () {

                    $("#MemberList").children(":selected").each(function () {
                        $(this).appendTo("#MemberListSelect");
                    });
                });

                $("#toLeft").click(function () {

                    $("#MemberListSelect").children(":selected").each(function () {
                        $(this).appendTo("#MemberList");
                    });
                });
                $("#CreateRole").click(function () {
                    if ($("#Subject").val() === "") {
                        $("#AddSubjectmessage").text("請輸入權限名稱");
                    } else {
                        $("#AddSubjectmessage").text("");
                    }
                    if ($("#Subject").val() !== "" && $("#AddSubjectmessage").text() === "") {


                        var formData = new FormData();
                        formData.append('Subject', $("#Subject").val());
                        formData.append('Permission', $("#Permission").val());
                        formData.append('MemberList', $("#MemberListSelect").val());


                        addRoleMember(formData);
                    }

                    function addRoleMember(formData) {

                        $.ajax({
                            url: '@Url.Action("CreateRoleMember", "Member")',
                            data: formData,
                            type: 'post',
                            contentType: false, // 告诉jQuery不要去這置Content-Type
                            processData: false, // 告诉jQuery不要去處理發送的數據 
                            cache: false,
                            async: false,
                            dataType: 'json',
                            success: function (data) {
                                if (data["Message"] === "Success") {
                                    $(".popup_tip").hide();
                                    alert("新增成功");
                                    location.href = '@Url.Action("index", "Member")';
                            } else {
                                alert("新增失敗");
                            }


                        }

                        });
                }

                });
            });

    </script>
}