﻿@model PtBusToSchool.Models.MemberLogin

@{
    ViewBag.Title = "Login";
}

<h2 style="text-align: center;">系統登入</h2>
<style>
    #content.open {
        margin-left: 0;
    }
    #sidebar {
        display: none!important;
    }
    #content {
        margin-left: 0;
    }
    .hamburger-menu {
        display: none;
    }
    fieldset {
        width: 320px;
        margin: 0 auto;
    }
    fieldset table {
      width: 100%;
    }
    #loginForm input[type=text],
    #loginForm input[type=password] {
      box-sizing: border-box;
      width: 100%;
    }
    .field-validation-error {
      display: block;
      padding: 5px;
    }

        fieldset td {
            padding-right: 0;
        }
</style>
<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>系統登入</legend>
                  <div>@Html.LabelFor(m => m.UserName)</div>
                  <div>@Html.TextBoxFor(m => m.UserName)</div>
                  <div>@Html.ValidationMessageFor(m => m.UserName)</div>
                  
                  <div>@Html.LabelFor(m => m.Password)</div>
                  <div>@Html.PasswordFor(m => m.Password)</div>
                  <div>@Html.ValidationMessageFor(m => m.Password)</div>
                  
<input type="hidden" value="@Request["ReturnUrl"]" name="ReturnUrl"/>
            <div align="right" style="padding: 10px 0;">
                <a id="forgotPassword" class="popup_btn" style="color: gray;" href="#ForgotPasswordPanel">忘記密碼</a>
            </div>
            <div align="center">
                <div style="color:red;">@ViewBag.message</div>
                <input type="submit" value="登入" />
            </div>


        </fieldset>
    }
</section>

<div id="ForgotPasswordPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div href="" class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">忘記密碼</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                <label>請輸入帳號</label>
                <input id="account" name="account"/>
                <div>系統將發送新密碼至設定信箱</div>
 <span id="Accountmessage" style="color: red"></span>
                </div>
                <div class="confirm-group">
                <a class="btn btn-primary match" style="cursor: pointer">確定</a>
                </div>
            </div>

            <div class="success_msg">
                系統已重新發送新密碼至您信箱，請前往收信，登入後請您再修改密碼。
            </div>
            <div class="error_msg">
                查無此帳號資料，如有疑問請聯絡屏東客運管理人員。
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
        
               $(".datepicker").datepicker();
            $(".error_msg").hide();
            $(".success_msg").hide();
            $(".match").click(function () {
                var Account = $("#account").val();
                if (Account !== null) {
                    $.get("/StudentReservation/ForgotPassword", { account: $("#account").val() })
                        .done(function (data) {
                            $(".popup_tip").hide();
                         
                            if (data === "Success!") {
                                $(".success_msg").show();
                               
                            } else {
                                $(".error_msg").show();
                             
                            }
                        });
                }

            });

        });


    </script>
}

