﻿@{
    ViewBag.Title = "匯出平/假日上下車分配表";
 
}
<style>
	#barchart {
		margin-top: 50px;
	}
</style>
<h2>平/假日上下車分配表</h2>
@using (Html.BeginForm())
{
    <div class="input-text-group">

        <div>
            <label for="">
                乘車日期:
            </label>

            <input type="text" id="StartDate" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" />
            ~
            <input type="text" id="EndDate" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
        </div>
        <div>
            <label for="">路線:</label>
            @Html.DropDownList("SearchByCarLine", (IEnumerable<SelectListItem>)ViewBag.CarLine)

        </div>
        <div>
            <label for="">報表種類:</label>
         
           <select id="SearchByReportType" name="SearchByReportType">
                <option value="上車">上車</option>
                <option value="下車">下車</option>
               </select>

            
            <input id="filter" class="btn btn-primary" type="button" value="搜尋" />
            <input class="btn btn-primary" type="submit" name="excel" value="匯出Excel(.xlsx)" />
        </div>

    </div>

}

<div id="barchart"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <link rel="stylesheet" href="/Content/c3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });

        $("#filter").click(function(event) {
            let StartDate = $('#StartDate').val()
            let EndDate = $('#EndDate').val()
            let CarLineID = $('#SearchByCarLine').val()
            let ReportType = $('#SearchByReportType').val()

            d3.json("http://ptdrts.myerstone.com.tw/Report/BarChartJSON?startDate="+StartDate+"&endDate="+EndDate+"&carlineid="+CarLineID+"&type="+ReportType , function(data) {

                // var barX = ['x', '7', '8', '9', '10', '11', '12', '13', '14'];
                // var barY = ['sample', 30, 100, 400, 150, 200, 300, 250, 400];

                let barX = data.Data[0].Value
                console.log(barX)

                let barY = []
                // barY.push(data.Data[1].Value)
                barY.push(data.Data[2].Value)
                console.log(barY)

                var chart4 = c3.generate({
                    bindto: '#barchart',
                    data: {
                        // x: 'x',
                        // y: 'y',
                        // xFormat: '%Y/%m/%d',
                        columns: 
                            barY
                        ,
                        // axes: {
                        //     比例: 'y2'
                        // },
                        type: 'bar'
                    },
                            
                    axis: {
                        x: {
                            // show: true,
                            type: 'categories',
                            // categories: ['07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00'],
                            categories: barX
                            // type: 'timeseries'

                        },
                        y: {
                            tick: {
                                format: d3.format('.2%'),
                                // count: 10,
                                max: 30
                            }
                            // min: 0,
                            // max: 150
                        },
                        // y2: {
                        //     show: true,
                        //     label: 'Y2 Label',
                        //     tick: {
                        //         format: d3.format('.2%')
                        //     }
                        // }
                    },
                    grid: {
                        y: {
                            show:true
                        }
                    },
                    tooltip: {
                        format: {
                            // title: function (d) { return 'Data ' + d; },
                            // value: function (value, ratio, id) {
                            //     var format = id === 'data1' ? d3.format(',') : d3.format('$');
                            //     return format(value);
                            // }
                            // value: d3.format(',') // apply this format to both y and y2
                        }
                    },

                    // color: colorArrayForLineChart,
                    legend: {
                        show: false,
                        position: 'bottom'
                    }
                });
                //closeLoadingPage()
            });

        });

    </script>

}
