﻿@using PtBusToSchool.Models
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.EndReservation>
@{
    ViewBag.Title = "報表分析";
    int pagesize = ViewBag.pagesize;
}
<style>
    .table {
        width: 2500px;
    }
</style>

<h2>駕駛紀錄</h2>
@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>
            <label for="">
                出車日期:
            </label>

            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/>
            ~
            <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker"/>
        </div>
        <div>
            <label for="">駕駛人員:</label>
            @Html.DropDownList("SearchByDrivers", (IEnumerable<SelectListItem>)ViewBag.Drivers, "請選擇")
        </div>
        <div>
            <label for="">行駛路線:</label>
            @Html.DropDownList("SearchByCarLine", (IEnumerable<SelectListItem>)ViewBag.CarLineId, "請選擇")

            <input class="btn btn-primary" type="submit" value="搜尋" />
            <input class="btn btn-primary" type="submit" name="excel" value="匯出Excel(.xlsx)" />

        </div>


    </div>

}
@*出車日期、駕駛人、車種、車牌、路線、班次、起站、起站時間、迄站、迄站時間、工時（行車分鐘數）、總載客人數*@

    <table class="table table-v">
        <tr>
            <th>出車日期
            </th>
            <th>駕駛人員
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Car.CarType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Car.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarLineId)
            </th>
            <th>發車時間
            </th>
            <th>起站
            </th>
            <th>迄站
            </th>
            <th>里程數(公里)
            </th>
             <th>Google計算里程數(公里)
            </th>
            <th>一般載客數
            </th>
            <th>晚鳥載客數
            </th>
             <th>臨時載客數
            </th>
            <th>總載客數
            </th>

        </tr>
        <tbody>
 @foreach (var item in Model)
 {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentSendCar.ParentSendCar.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarType.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentSendCar.LineName.CarId) (@Html.DisplayFor(modelItem => item.ParentSendCar.LineName.Subject))
                    </td>

                      @{
     string[] allstation = item.ParentSendCar.LineName.Line.Split('→');
     int starttimecount = 0;
     int endsitecount = 0;
    
     string[] alltime = item.CarTime.Split('、');
     string starttime = "";
     for (int i = 0; i < alltime.Length; i++)
     {
         if (!string.IsNullOrEmpty(alltime[i]))
         {
             starttimecount = i;
             starttime = alltime[i];
             break;
         }
     }
     for (int i = alltime.Length - 1; i > 0; i--)
     {
         if (!string.IsNullOrEmpty(alltime[i]))
         {
             endsitecount = i;
             break;
         }
     }
     //foreach (var items in alltime)
     //{
     //    if (!string.IsNullOrEmpty(items))
     //    {
     //        starttime = items;
     //        break;
     //    }
     //}
     string startstation = allstation[starttimecount];
     string endstation = allstation[endsitecount];
     List<StudentReservation> studentReservations = ViewBag.StudentReservation;
     List<Passers> passers = ViewBag.Passers;
     string carlineid = item.ParentSendCar.LineName.Id + "";
     string carNo = item.CarNo + "";
     var FirststudentReservations = studentReservations.Where(x => x.ReservationDate == item.ParentSendCar.ParentSendCar.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == item.Car.Subject && x.TakeStatus == TakeState.已報到 && x.ReservationStatus == ReservationState.預約成功).ToList();
     var SecondstudentReservations = studentReservations.Where(x => x.ReservationDate == item.ParentSendCar.ParentSendCar.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == item.Car.Subject && x.TakeStatus == TakeState.已報到 && x.ReservationStatus == ReservationState.晚鳥預約成功).ToList();

     int passersnum = 0;
     int Firstnum = 0;
     int Secondnum = 0;
     var takepassers = passers.FirstOrDefault(x => x.Date == item.ParentSendCar.ParentSendCar.StartDate && x.Line == item.ParentSendCar.LineName.Subject && x.CarNo == item.CarNo && x.TakeCar == item.Car.Subject);
     int totalpeople = 0;
     if (FirststudentReservations != null)
     {
         totalpeople += FirststudentReservations.Count;
         Firstnum = FirststudentReservations.Count;
     }
     if (SecondstudentReservations != null)
     {
         totalpeople += SecondstudentReservations.Count;
         Secondnum = SecondstudentReservations.Count;
     }
     if (takepassers != null)
     {
         totalpeople += takepassers.People;
         passersnum = takepassers.People;
     }

                      }
                           <td>
                        @starttime
                    </td>
                    <td>
                        @startstation
                    </td>

                    <td>
                        @endstation
                    </td>
                    <td>
                        @{
     double? totolKM = item.EndKM - item.StartKM;

                        }
                        @totolKM @if(totolKM.HasValue){<input type="button" class="btn btn-primary popup_btn inputID" id="@item.Id" data-startkm="@item.StartKM" data-endKm="@item.EndKM" href="#changePanel" value="編輯"/>}

                    </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.TotalKMForGoogle)
                    </td>
                    <td>
                        @Firstnum
                    </td>
                    <td>
                        @Secondnum
                    </td>
                     <td>
                        @passersnum
                    </td>
                    <td>@totalpeople</td>

                </tr>
 }
            @* @foreach (var item in Model.Where(x => x.ParentId == null))
            {
                if (ViewBag.CarLine == null)
                {
                    foreach (var items in item.ChildEndReservation)
                    {
                        if (ViewBag.DriversId == null)
                        {
                            foreach (var driveritem in items.ChildEndReservation)
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Driver.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.CarType.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.LineName.CarId) (@Html.DisplayFor(modelItem => items.LineName.Subject))
                    </td>
                    @{
                                string[] allstation = items.LineName.Line.Split('→');
                                string startstation = allstation[0];
                                string endstation = allstation[allstation.Length - 1];
                                string[] alltime = driveritem.CarTime.Split('、');
                                string starttime = alltime[0];
                                string endtime = alltime[alltime.Length - 1];
                                List<StudentReservation> studentReservations = ViewBag.StudentReservation;
                                List<Passers> passers = ViewBag.Passers;
                                string carlineid = items.LineName.Id + "";
                                string carNo = driveritem.CarNo + "";
                                var FirststudentReservations = studentReservations.Where(x => x.ReservationDate == item.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == driveritem.Car.Subject && x.TakeStatus == TakeState.已報到&&x.ReservationStatus==ReservationState.預約成功).ToList();
                                var SecondstudentReservations = studentReservations.Where(x => x.ReservationDate == item.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == driveritem.Car.Subject && x.TakeStatus == TakeState.已報到 && x.ReservationStatus == ReservationState.晚鳥預約成功).ToList();

                                int passersnum = 0;
                        int Firstnum = 0;
                        int Secondnum = 0;
                                 var takepassers = passers.FirstOrDefault(x => x.Date == item.StartDate && x.Line == items.LineName.Subject && x.CarNo == driveritem.CarNo && x.TakeCar == driveritem.Car.Subject);
                                int totalpeople = 0;
                                if (FirststudentReservations != null)
                                {
                                    totalpeople += FirststudentReservations.Count;
                                    Firstnum = FirststudentReservations.Count;
                                }
                                if (SecondstudentReservations != null)
                                {
                                    totalpeople += SecondstudentReservations.Count;
                                    Secondnum = SecondstudentReservations.Count;
                                }
                        if (takepassers != null)
                        {
                            totalpeople += takepassers.People;
                            passersnum = takepassers.People;
                        }

                    }
                        <td>
                        @starttime
                    </td>
                    <td>
                        @startstation
                    </td>

                    <td>
                        @endstation
                    </td>

                    <td>
                        @Firstnum
                    </td>
                    <td>
                        @Secondnum
                    </td>
                     <td>
                        @passersnum
                    </td>
                    <td>@totalpeople</td>


                </tr>

                            }
                        }
                        else
                        {
                            foreach (var driveritem in items.ChildEndReservation.Where(x => x.DriverId == ViewBag.DriversId))
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Driver.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.CarType.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.LineName.CarId) (@Html.DisplayFor(modelItem => items.LineName.Subject))
                    </td>
                    @{
                                string[] allstation = items.LineName.Line.Split('→');
                                string startstation = allstation[0];
                                string endstation = allstation[allstation.Length - 1];
                                string[] alltime = driveritem.CarTime.Split('、');
                                string starttime = alltime[0];
                                string endtime = alltime[alltime.Length - 1];
                                List<StudentReservation> studentReservations = ViewBag.StudentReservation;
                                List<Passers> passers = ViewBag.Passers;
                                string carlineid = items.LineName.Id + "";
                                string carNo = driveritem.CarNo + "";
                                var takepeople = studentReservations.Where(x => x.ReservationDate == item.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == driveritem.Car.Subject && x.TakeStatus == TakeState.已報到).ToList();
                                var takepassers = passers.FirstOrDefault(x => x.Date == item.StartDate && x.Line == items.LineName.Subject && x.CarNo == driveritem.CarNo && x.TakeCar == driveritem.Car.Subject);
                                int totalpeople = takepeople.Count;
                                if (takepassers != null)
                                {
                                    totalpeople += takepassers.People;
                                }
                    }
                    <td>
                        @startstation
                    </td>
                    <td>
                        @starttime
                    </td>
                    <td>
                        @endstation
                    </td>
                    <td>
                        @endtime
                    </td>

                    <td>@totalpeople</td>


                </tr>

                            }
                        }



                    }
                }
                else
                {
                    foreach (var items in item.ChildEndReservation.Where(x => x.CarLineId == ViewBag.CarLine))
                    {
                        if (ViewBag.DriversId == null)
                        {
                            foreach (var driveritem in items.ChildEndReservation)
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Driver.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.CarType.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.LineName.CarId) (@Html.DisplayFor(modelItem => items.LineName.Subject))
                    </td>
                    @{
                                string[] allstation = items.LineName.Line.Split('→');
                                string startstation = allstation[0];
                                string endstation = allstation[allstation.Length - 1];
                                string[] alltime = driveritem.CarTime.Split('、');
                                string starttime = alltime[0];
                                string endtime = alltime[alltime.Length - 1];
                                List<StudentReservation> studentReservations = ViewBag.StudentReservation;
                                List<Passers> passers = ViewBag.Passers;
                                string carlineid = items.LineName.Id + "";
                                string carNo = driveritem.CarNo + "";
                                var takepeople = studentReservations.Where(x => x.ReservationDate == item.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == driveritem.Car.Subject && x.TakeStatus == TakeState.已報到).ToList();
                                var takepassers = passers.FirstOrDefault(x => x.Date == item.StartDate && x.Line == items.LineName.Subject && x.CarNo == driveritem.CarNo && x.TakeCar == driveritem.Car.Subject);
                                int totalpeople = takepeople.Count;
                                if (takepassers != null)
                                {
                                    totalpeople += takepassers.People;
                                }
                    }
                    <td>
                        @startstation
                    </td>
                    <td>
                        @starttime
                    </td>
                    <td>
                        @endstation
                    </td>
                    <td>
                        @endtime
                    </td>

                    <td>@totalpeople</td>


                </tr>

                            }
                        }
                        else
                        {
                            foreach (var driveritem in items.ChildEndReservation.Where(x => x.DriverId == ViewBag.DriversId))
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Driver.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.CarType.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driveritem.Car.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.LineName.CarId) (@Html.DisplayFor(modelItem => items.LineName.Subject))
                    </td>
                    @{
                                string[] allstation = items.LineName.Line.Split('→');
                                string startstation = allstation[0];
                                string endstation = allstation[allstation.Length - 1];
                                string[] alltime = driveritem.CarTime.Split('、');
                                string starttime = alltime[0];
                                string endtime = alltime[alltime.Length - 1];
                                List<StudentReservation> studentReservations = ViewBag.StudentReservation;
                                List<Passers> passers = ViewBag.Passers;
                                string carlineid = items.LineName.Id + "";
                                string carNo = driveritem.CarNo + "";
                                var takepeople = studentReservations.Where(x => x.ReservationDate == item.StartDate && x.ReservationCarLine == carlineid && x.ReservationCarNo == carNo && x.TakeCar == driveritem.Car.Subject && x.TakeStatus == TakeState.已報到).ToList();
                                var takepassers = passers.FirstOrDefault(x => x.Date == item.StartDate && x.Line == items.LineName.Subject && x.CarNo == driveritem.CarNo && x.TakeCar == driveritem.Car.Subject);
                                int totalpeople = takepeople.Count;
                                if (takepassers != null)
                                {
                                    totalpeople += takepassers.People;
                                }
                    }
                    <td>
                        @startstation
                    </td>
                    <td>
                        @starttime
                    </td>
                    <td>
                        @endstation
                    </td>
                    <td>
                        @endtime
                    </td>

                    <td>@totalpeople</td>


                </tr>

                            }
                        }



                    }
                }






            }*@
        </tbody>
    </table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, pagesize)
</div>
<div id="changePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div class="input-text-group">
                    <input type="hidden" id="thisId" />
                    <div>
                        <label for="">起始里程數</label>
                        <input id="startkm" name="startkm">
                    </div>
                    <div>
                        <label for="">結束里程數</label>
                        <input id="endkm" name="endkm"  >
                    </div>

               
                     <div class="confirm-group">
                    <a href="" class="btn btn-primary">取消</a>
                    <input id="changeKM" class="btn btn-success" type="button" value="更新" />
                </div>
                </div>


            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
      $(".inputID").click(function () {
            $("#thisId").val($(this).attr('Id'));
            $("#startkm").val($(this).attr('data-startkm'));
            $("#endkm").val($(this).attr('data-endkm'));
          
           
        });
        $("#changeKM").click(function () {
            if (!window.confirm('你確定要變更此筆里程數嗎?')) {
                return false;
            }
            var endReservationId = $("#thisId").val();
          
            if ($("#startkm").val() === "") {
                alert("請輸入起始里程數");
               
            }
            if ($("#endkm").val() === "") {
                alert("請輸入結束里程數");
              
            }
            if ($("#startkm").val() === "" || $("#endkm").val() === "") {
                return;
            }
            if ($("#startkm").val() > $("#endkm").val()) {
                alert("起始不可能大於結束");
                return;
            }
            var startkm = $("#startkm").val();
            var endkm = $("#endkm").val();
          
                
  
            $.ajax({
                url: '@Url.Action("ChangeKm", "Report")',
                data: { id: endReservationId, startkm: startkm, endkm: endkm },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    
                        alert("修改成功");
                        window.location.reload();
                  
                }

            });
           });
    </script>

}
