﻿@using PtBusToSchool.Models
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.StudentReservation>
@{
    ViewBag.Title = "報表分析";
    List<CarLine> carline = ViewBag.CarLine;
    List<string> TakeStateList = ViewBag.TakeStateList;
}

<h2>乘客搭乘紀錄 </h2>
@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>
            <label for="">
                乘車日期:
            </label>

            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" />
            ~
            <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
            </div>
        <div>
            <label for="">行駛路線:</label>
            @Html.DropDownList("SearchByCarLine", (IEnumerable<SelectListItem>) ViewBag.CarLineId, "請選擇")

        </div>
        <div>
            <label for="">行駛時間:</label>
            @Html.DropDownList("SearchByStartTime", (IEnumerable<SelectListItem>) ViewBag.TimeList, "請選擇")
            ~
             @Html.DropDownList("SearchByEndTime", (IEnumerable<SelectListItem>) ViewBag.TimeList, "請選擇")
        </div>
             <div>
            <label for="">報到情況:</label>
              @{
                int i = 0;
                var checkedTN = false;
            }
            @if (Session["TakeStateId"] != null)
            {
                string[] reservationStateId = (string[])Session["TakeStateId"];


                foreach (var item in TakeStateList)
                {
                    checkedTN = false;
                    foreach (var items in reservationStateId)
                    {
                        if (i.ToString() == items)
                        {
                            checkedTN = true;
                            break;
                        }
                    }
                    if (checkedTN)
                    {
                        <input type="checkbox" name="TakeStateId" checked="checked" value="@i">@item
                    }
                    else
                    {
                         <input type="checkbox" name="TakeStateId" value="@i">@item
               
                    }



                   
                

                    i++;
                }

            }
            else
            {

                foreach (var item in TakeStateList)
                {
        
                <input type="checkbox" name="TakeStateId" value="@i" >@item
                    i++;
                }
            }
        </div>
    </div>
    <div class="input-date-group">
        <div>
           
            
            <input class="btn btn-primary" type="submit" value="搜尋" />
            <input class="btn btn-primary" type="submit" name="excel" value="匯出Excel(.xlsx)" />
        </div>
    </div>
}

    <table class="table table-v" width="1500">
        <tr>
            <th>乘車日期
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarLine)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Startstation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Endstation)
            </th>
            <th>
               預定上車時間
            </th>
          
           <th>
               報到狀態
            </th>
        
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>

                    <td>
                      @{
                int carlineid = Convert.ToInt16(item.ReservationCarLine);
                        }
                        @foreach (var items in carline.Where(x => x.Id == carlineid))
                        {
                            @Html.Raw(items.CarId)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationCarNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Startstation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endstation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationTime)
                    </td>

                    <td>
                      
                            @Html.DisplayFor(modelItem => item.TakeStatus)
                       
                       
                    </td>
                  
                </tr>
            }
        </tbody>
    </table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>

}