﻿@{
    ViewBag.Title = "匯出OD表";
 
}

<h2>OD表</h2>
@using (Html.BeginForm())
{
    <div class="input-text-group">

        <div>
            <label for="">
                乘車日期:
            </label>

            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" />
            ~
            <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
        </div>
        <div>
            <label for="">路線:</label>
            @Html.DropDownList("SearchByCarLine", (IEnumerable<SelectListItem>)ViewBag.CarLine)

        </div>
        <div>
            <label for="">報表種類:</label>
         
           <select id="SearchByReportType" name="SearchByReportType">
                <option value="總預約">總預約</option>
                <option value="已報到">已報到</option>
               </select>

            
            <input class="btn btn-primary" type="submit" name="excel" value="匯出Excel(.xlsx)" />
        </div>

    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>

}
