﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.StudentsStopDetail

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>StudentsStopDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StopDay)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StopDay,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.StudentsStopDetail>.GetDisplayName("StopDay") })
            @Html.ValidationMessageFor(model => model.StopDay)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.EndDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("StudentId")
            @Html.ValidationMessageFor(model => model.StudentId)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
