﻿@using MvcPaging
@model MvcPaging.IPagedList<PtBusToSchool.Models.StudentsStopDetail>

@{
    ViewBag.Title = "停權歷史紀錄";
}

<h2>停權歷史紀錄</h2>

@*<p>
    @Html.ActionLink("新增", "Create")
</p>*@

    @using (Html.BeginForm())
{
@*<div>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)：@Html.DropDownList("SearchByStudentId", (IEnumerable<SelectListItem>)ViewBag.StudentId, "請選擇") 
        
	</div>*@
	<div>
	    停權日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker"/><font color="red">(兩者都要選才有效果)</font>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Students.StudentId)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Students.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StopDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)
        </th>


    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Students.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.Name)
        </td>
        <td>
           @item.StartDate.Date.ToString("yyyy/MM/dd")
        <td>
            @Html.DisplayFor(modelItem => item.StopDay)
        </td>
        <td>
            @item.EndDate.Value.AddDays(-1).ToString("yyyy/MM/dd")
        </td>


        @* <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
           @Html.ActionLink("內容", "Details", new { id=item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td> *@
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

