﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Passers

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Passers</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.Date)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Line)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Line,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("Line") })
            @Html.ValidationMessageFor(model => model.Line)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarsiteId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CarsiteId")
            @Html.ValidationMessageFor(model => model.CarsiteId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarNo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarNo,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("CarNo") })
            @Html.ValidationMessageFor(model => model.CarNo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.People)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.People,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("People") })
            @Html.ValidationMessageFor(model => model.People)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TakeCar)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TakeCar,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("TakeCar") })
            @Html.ValidationMessageFor(model => model.TakeCar)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
