﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.Passers

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Passers</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.Date)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Line)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Line,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("Line") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarsiteId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CarsiteId")
            @Html.ValidationMessageFor(model => model.CarsiteId)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarNo,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("CarNo") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.People)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.People,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("People") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TakeCar)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TakeCar,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Passers>.GetDisplayName("TakeCar") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
