﻿@using MvcPaging
@model MvcPaging.IPagedList<PtBusToSchool.Models.Passers>

@{
    ViewBag.Title = "臨時乘車資訊";
}

<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("新增", "Create")
</p>*@

    @using (Html.BeginForm())
{
<div class="input-text-group">
    <div>
        @*<label for="">
        @Html.DisplayNameFor(model => model.FirstOrDefault().CarsiteId)
        </label>
        @Html.DropDownList("SearchByCarsiteId", (IEnumerable<SelectListItem>) ViewBag.CarsiteId, "請選擇")*@
    </div>
    <div>
        <label for="">
        @Html.DisplayNameFor(model => model.FirstOrDefault().Line)
        </label>
        @Html.DropDownList("SearchByCarLine", (IEnumerable<SelectListItem>) ViewBag.CarLineId, "請選擇")
                                                                                      
    </div>
</div>
<div class="input-date-group">
        
	<div>
	<label for="">搭乘日期</label>

    <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
        <input class="btn btn-primary" type="submit" value="搜尋" />

    </div>

    </div>

    
}

<table class="table">
    <tr>
        <th>
           搭乘日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Line)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Site.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().People)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TakeCar)
        </th>
    @*  
        <th></th>*@
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.People)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakeCar)
        </td>
      
  @*      <td>
           @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @Html.ActionLink("內容", "Details", new { id=item.Id }) | 
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>*@
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

