﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.Holiday

@{
    ViewBag.Title = "國定假日及週末編輯";
}

<h2>國定假日及週末編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Holiday</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.HolidayDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.HolidayDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.HolidayDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Holiday>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsHoliday)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsHoliday, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsHoliday)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.holidayCategory)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.holidayCategory,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Holiday>.GetDisplayName("holidayCategory") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.description,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.Holiday>.GetDisplayName("description") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁" />
            <input class="btn btn-success" type="submit" value="更新" /> 
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
