﻿@using MvcPaging
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.Holiday>

@{
    ViewBag.Title = "國定假日及週末列表";
}

<h2>
    國定假日及週末列表
    @Html.ActionLink("新增", "Create" ,null,new {@class = "btn btn-primary"})
    <a class="btn btn-primary GetHoliday" style="cursor: pointer">取得假日(人事行政局)</a>
</h2>


@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject) @Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsHoliday) @Html.DropDownList("SearchByIsHoliday", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))), "請選擇")

        </div>
        <div>
            放假日期 <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
            ~
            <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
            <input class="btn btn-primary" type="submit" value="搜尋" />
        </div>
    </div>
    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HolidayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsHoliday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().holidayCategory)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().description)
        </th>*@
       
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHoliday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.holidayCategory)
                </td>
              @*  <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>*@
              <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id },new { @class = "btn btn-primary"}) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id })  *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id },new { @class = "btn btn-danger"})
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
        $(".GetHoliday").click(function () {
                      $.get("/Holiday/GetJson").done(function (data) {
                if (data["Message"] === "成功") {
                    alert("已取得");
                    window.location = "/Holiday/index";
                } 
            });
        });

    </script>
}

