﻿@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model MvcPaging.IPagedList<PtBusToSchool.Models.StudentReservation>

@{
    ViewBag.Title = "已接收預約資訊";
    List<CarLine> carline = ViewBag.CarLine;
  List<string> reservationStateList = ViewBag.reservationStateList;
}

<style>
    #content {
        width: 2000px;
    }
</style>
<h2>@ViewBag.Title</h2>


    @using (Html.BeginForm())
{

 <div class="input-radio-group">   
    <div>
        <label for="">
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationStatus)
        </label>
        @{
            int i = 0;
            var checkedTN = false;
        }
        @if (Session["reservationStateId"] != null)
        {
            string[] reservationStateId = (string[]) Session["reservationStateId"];
           
           
            foreach (var item in reservationStateList)
            {
                checkedTN = false;
                foreach (var items in reservationStateId)
                {
                    if (i.ToString() == items)
                    {
                        checkedTN = true;
                        break;
                    }
                }
                if (checkedTN)
                {
                    <input type="checkbox" name="reservationStateId" checked="checked" value="@i">@item
                }
                else
                {
                     <input type="checkbox" name="reservationStateId" value="@i">@item
           
                }

                i++;
            }

        }
        else
        {

            foreach (var item in reservationStateList)
            {
    
            <input type="checkbox" name="reservationStateId"  value="@i" >@item
                i++;
            }
        }
        
    </div>
</div>



  <div class="input-date-group">
        <div>
            <label for="">預約日期</label>
            <input type="text" name="SearchByinitStartDate" value="@ViewData["SearchByinitStartDate"]" class = "datepicker"/>
            ~
            <input type="text" name="SearchByinitEndDate" value="@ViewData["SearchByinitEndDate"]" class = "datepicker"/>
        </div>
        <div>
            <label for="">乘車日期</label>
            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
            ~
            <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
        </div>
</div>
<div class="input-text-group">
    <div>
        <label for="">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Student)
        </label>

        @Html.InputSearchBox("SearchByStudent", ViewData["SearchByStudent"])
        <label for="">
            @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)
        </label>

        @Html.InputSearchBox("SearchByStudentId", ViewData["SearchByStudentId"])

        
        
    </div>
    <div>
            <label for="">
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarLine)
            </label>

            @Html.DropDownList("SearchByReservationCarLine", (IEnumerable<SelectListItem>)ViewBag.CarLineId, "請選擇")
   <label for="">
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarNo)
        </label>
 @Html.DropDownList("SearchByReservationCarNo", (IEnumerable<SelectListItem>)ViewBag.CarNo, "請選擇")
        <input class="btn btn-primary" type="submit" value="搜尋" />
    </div>
</div>

        


    
}

<table class="table table-v" width="1500">
    <tr>
        <th>
            乘車日期
        </th>
        <th>
            預約日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().StudentCardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Startstation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Endstation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationCarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReservationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TakeStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TakeCar)
        </th>

    </tr>
    <tbody>
    @foreach (var item in Model.OrderByDescending(x => x.InitDate))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @item.InitDate.Value.Date.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.StudentCardId)
            </td>
            <td>
                @{
                    int carlineid = Convert.ToInt16(item.ReservationCarLine);
                }
                @foreach (var items in carline.Where(x => x.Id == carlineid))
                {
                    @Html.Raw(items.Subject)
                }



                @*@Html.DisplayFor(modelItem => item.ReservationCarLine)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startstation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endstation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationCarNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationStatus)
            </td>
            <td>


                @if (item.TakeStatus == TakeState.特殊情況無法搭乘 || item.TakeStatus == TakeState.取消預約)
                {

                    <input type="button" class="btn btn-primary popup_btn inputDetailID" id="@item.Id" href="#ReasonDetailPanel" value="詳情"/>
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeCar)
            </td>

        </tr>
    }
    </tbody>
</table>


<div id="ReasonDetailPanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">詳情</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">

                <div class="input-text-group">

                    <div>
                        <label for="">變更日期</label>
                        <input id="EditDate" disabled>
                    </div>
                    <div>
                        <label for="">變更人員</label>
                        <input id="EditName" disabled>
                    </div>

               
                    <div>
                        <label for="">原因</label>
                        <textarea id="ReasonDetail" cols="50" rows="5" disabled></textarea>
                        
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
        $(".inputDetailID").click(function() {
            var studentdetailId = $(this).attr('Id');
            $("#EditDate").val("");
            $("#EditName").val("");
            $("#ReasonDetail").text("");
            $.ajax({
                url: '@Url.Action("GetReason", "Students")',
                data: { studentdetailId: studentdetailId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function(data) {

                    $("#EditDate").val(data["Update"]);
                    $("#EditName").val(data["Updater"]);
                    $("#ReasonDetail").text(data["Reason"]);
                }

            });
        });
    </script>
}

