﻿@using PtBusToSchool.Models
@{
    ViewBag.Title = "歡迎使用管理系統";
    List<SendCar> carLinesToday = ViewBag.CarlineToday;
    List<CarlineCheck> carlinecheck = ViewBag.CarlineCheck;
    List<SendCar> carLinesTomorrow = ViewBag.CarlineTomorrow;
    List<FutureCarlineReservation> futureCarlineReservations = ViewBag.FutureCarlineReservation;
    List<int> totaltomorrow = ViewBag.Totaltomorrow;
    List<string> sendCarIds = ViewBag.SendCarIds;
    //List<SendCar> carLinesTomorrow = ViewBag.CarlineTomorrow;
    //IQueryable<EndReservation> endReservationstoday = null;
    //IQueryable<SendCar> sendCarReservationtomorrow = null;
    //IQueryable<EndReservation> endReservationtomorrow = null;
    //if (ViewBag.endReservationtodayYN)
    //{
    //    endReservationstoday = ViewBag.endReservationtoday;
    //}
    //if (ViewBag.haveendReservationstomorrow)
    //{
    //    endReservationtomorrow = ViewBag.endReservationtomorrow;
    //}
    //else
    //{
    //     sendCarReservationtomorrow = ViewBag.Reservationtomorrow;
    //}

    DateTime today = DateTime.Today.Date;
}

<link rel="stylesheet" href="/Content/c3.css">
<style>
    #content {
        padding: 0px;
    }
     div#page-dashboard {
      height: 750px;
      overflow: hidden;
    }

    body {
        background-color: #f3f1f1;
    }
    .btn.btn-primary {
        font-size: 12px;
        padding: 3px 10px;
    }
    h2 {
        position: relative;
    }
    h2 a.btn {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 5px;
        font-weight: 400;
    }

    .infoBar1 .SelectTabPanelContent {
        height: 245px;
    }
    .infoBar2 .SelectTabPanelContent {
        height: 625px;
    }
    @@media (max-width: 1440px) {
        .infoBar2 .SelectTabPanelContent {
            height: 622px;
        }

    }
    


</style>
@if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
{


    <script>
       
        window.location.href = '@ViewBag.ReturnUrl';
    </script>
}
else
{
<div class="loading-page">
    <div class="loading-page-gif">
        <img src="/images/Spinner.gif" alt="">
        <div>分析中，請稍候...</div>
    </div>
</div>


<div class="infoBar-time">
    <div style="margin-bottom: 10px;"><span class="year"></span><span class="month"></span><span class="date"></span></div>
    <span class="week"></span>
</div>
<div class="infoBar1">
    <h2>>@today.Date.ToString("yyyy/MM/dd") 預約及乘車概況</h2>
    <ul class="infoBar-total">
        <li>
            <div class="float">
                <img src="/SVG/home1.svg" alt="">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <h4>新增一般預約</h4>
            <span>@ViewBag.studentReservationToday </span>筆
                <div>今日接收到預約（不含晚鳥預約）</div>
        </li>
        <li>
            <div class="float">
                <img src="/SVG/home2.svg" alt="">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <h4>新增晚鳥預約</h4>
            <span>@ViewBag.studentSecondReservation</span> 筆
                <div>僅計算今日晚鳥預約資訊</div>

        </li>
        <li>
            <div class="float">
                <img src="/SVG/home3.svg" alt="">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <h4>搭乘人數</h4>
            <span>@(ViewBag.studentReservationSuccessTakeToday)/</span> <font size="5px" style="color:#03d1ec;">@(ViewBag.studentReservationSuccessToday) </font>  人
                <div>今日預約總人數（含晚鳥）及實際乘車人數</div>

        </li>
        <li>
            <div class="float">
                <img src="/SVG/home4.svg" alt="">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <h4>臨時乘車人數</h4>
            <span>@ViewBag.Passers</span> 人
                <div>僅計算今日臨時乘車人數</div>

        </li>
        <div class="clear"></div>

        <!--
			<li>

				<div>
					<i class="fa fa-bell" aria-hidden="true"></i>
				</div>
				<div>@(DateTime.Today.Date.AddDays(1).ToString("MM/dd"))尚待媒合</div>
				<span>@ViewBag.studentReservationNot</span>
			</li>
			<li>
			<div>
					<i class="fa fa-calendar" aria-hidden="true"></i>
				</div>
				<div>媒合成功比例</div>
				<span>@(ViewBag.studentReservationallSuccess)%</span>
			</li>
		    <li>
		        <div>
		            <i class="fa fa-bus" aria-hidden="true"></i>
		        </div>
		        <div>實際乘車比例</div>
		        <span>@(ViewBag.studentReservationallTakeSuccess)%</span>
		    </li>
            <li style="display:none">
				<div>
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div>使用者<br>比例</div>
				<span>999</span>
			</li>
            -->


    </ul>

     @if (ViewBag.CanSend)
     {
         <h2>>@today.Date.ToString("yyyy/MM/dd") 預約報到情況
             <a href="/home/nowWhere" class="btn btn-info">車輛動態</a>
         </h2>
     }
     else
     {
           <h2>>@today.Date.ToString("yyyy/MM/dd") 預約報到情況
             </h2>
     }
    <div class="SelectTabWrap">
        <div class="SelectTabPanel">
            <div class="SelectTabPanelTitle">
                <div class="Select">
                    @foreach (var item in carLinesToday.Take(1))
                    {
                        <label for="">@item.LineName.CarId</label>
                        <div>@item.LineName.Subject</div>
                    }

                </div>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="SelectTabPop">
                <ul class="SelectTabPanelTitle">
                    @foreach (var item in carLinesToday)
                    {
                        <li>
                            <a href="#@item.LineName.CarId">
                                <label for="">@item.LineName.CarId</label>
                                <div>@item.LineName.Subject</div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div>
                @foreach (var item in carLinesToday)
                {
                    <div id="@item.LineName.CarId" class="SelectTabPanelContent">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>班次</th>
                                    <th>發車時間</th>
                                    <th>總預約人數</th>
                                    <th>已報到人數</th>
                                    <th width="140">乘車比例</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in carlinecheck.Where(x => x.CarlineId == item.LineName.Id))
                                {
                                    if (items.TotalReservation != 0)
                                    {
                                    <tr>
                                        <td>@items.CarNo</td>
                                        <td>@items.Time</td>
                                        <td>@items.TotalReservation</td>
                                        <td>@items.TotalCheck</td>
                                        <td>
                                            <div class="barChart" style="background: #e7e7e7;">
                                                <div class="percen" style="width: @(items.TakeRatio)%;">
                                                </div>
                                            </div>
                                            <span class="barChart-info">@(items.TakeRatio)%</span>

                                        </td>
                                    </tr>}
                                }
                            </tbody>
                        </table>
                    </div>
                }



            </div>
        </div>
    </div>
</div>


<div class="infoBar2">
    <h2>>@today.AddDays(1).Date.ToString("yyyy/MM/dd") 預約概況</h2>

    <div class="SelectTabWrap">
        <div class="SelectTabPanel">
            <div class="SelectTabPanelTitle">
                <div class="Select">
                    @foreach (var item in carLinesTomorrow.Take(1))
                    {
                        <label for="">@item.LineName.CarId</label>
                        <div>@item.LineName.Subject</div>
                    }

                </div>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="SelectTabPop">
                <ul class="SelectTabPanelTitle">
                    @foreach (var item in carLinesTomorrow)
                    {
                        <li>
                            <a href="#T@(item.LineName.CarId)">
                                <label for="">@item.LineName.CarId</label>
                                <div>@item.LineName.Subject</div>
                            </a>
                        </li>
                    }



                </ul>
            </div>
            <div>
                @{
                    int i = 0;
                    int k = 0;
                }
                @foreach (var item in carLinesTomorrow)
                {
                    k = 0;
                    <div id="T@(item.LineName.CarId)" class="SelectTabPanelContent">
                        <div style="position: relative; height: 40px;">
                            <div style="position: absolute; left: 0; bottom: 0;">
                                Total <span style="font-size: 23px;">@totaltomorrow[i]</span> 人
                            </div>
                            @if (ViewBag.CanSend)
                            {
                                  <div style="position: absolute; right: 0; bottom: 0;">
                                <a href="/Sendcar/SendCarDetails/@sendCarIds[i]" class="btn btn-info">前往派車</a>
                            </div>
                            }
                          
                        </div>
                        <table class="table gridTable">
                            <tbody>
                                @{
                    var futureCarlineReservation = futureCarlineReservations.Where(x => x.CarlineId == item.LineName.Id).ToList();
                                }
                                @for (int t = 0; t < futureCarlineReservation.Count(); t += 3)
                                {
                                    <tr>
                                        <td>
                                            <div class="time">@futureCarlineReservation[t].Time</div>
                                            <div class="total">
                                                <span>@futureCarlineReservation[t].Reservation</span>人
                                            </div>
                                        </td>
                                        @if ((t + 1) < futureCarlineReservation.Count())
                                        {
                                              <td>
                                            <div class="time">@futureCarlineReservation[t + 1].Time</div>
                                            <div class="total">
                                                <span>@futureCarlineReservation[t + 1].Reservation</span>人
                                            </div>
                                        </td>
                                        }
                                       @if ((t + 2) < futureCarlineReservation.Count())
                                       {
                                           <td>
                                               <div class="time">@futureCarlineReservation[t + 2].Time</div>
                                               <div class="total">
                                                   <span>@futureCarlineReservation[t + 2].Reservation</span>人
                                               </div>
                                           </td>
                                       }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>


                                i++;

                }

            </div>
        </div>
    </div>

</div>

<div class="infoBar3">
    <h2>&nbsp;</h2>
    <div class="infoBar-card" style="height: 250px">
        <div class="piechart">
            <h3>使用者比例</h3>
            <div id="piechart1"></div>

        </div>
        <div class="piechart">
            <h3>滿意度調查</h3>
            <div id="piechart2"></div>

        </div>
        <div class="piechart">
            <h3>媒合成功比例</h3>
            <div id="piechart3"></div>
        </div>
        <div class="clear"></div>
    </div>
    <h2>>服務總覽</h2>
    <div class="infoBar-card">
        <div class="search-tab">
            <div style="display: none" class="input-select-group">
                <div>
                    <label for="">查詢期間</label>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="input-date-group">
                <div>
                     <label for="">日期</label><input type="text" class="datepicker" name="" id="StartRangeDate" Readonly="" value="@ViewBag.Rangestartdate" > ~ <input type="text" class="datepickers" name="" id="EndRangeDate" Readonly="" value="@ViewBag.Rangeenddate" >
                     <a id="LineChartChange" class="btn btn-primary" href="###">查詢</a>

                </div>
            </div>
        </div>
        <div id="linechart"></div>
    </div>
</div>

<div class="clear"></div>
}
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script>
        //讀取中
        popLoadingPage()
        setInterval(closeLoadingPage , 2000)

        //選擇日期設定
        //$(".datepickers").datepicker();
        var endRangeDate =$('#EndRangeDate').val();
        $(".datepicker").datepicker({
            maxDate:endRangeDate

        });
        $(".datepickers").datepicker({
            maxDate:endRangeDate

        });

      @*
      $('#StartRangeDate').change(function() {
            var startRangeDate =$('#StartRangeDate').val();
            var endRangeDate ;
            $.ajax({
                url: '@Url.Action("GetDate", "Home")',
                data: { Date: startRangeDate },
                 type: 'post',
                 cache: false,
                 async: false,
                 dataType: 'json',
                 success: function (data) {
                     endRangeDate=data["Date"];
                    }

            });
            //
            alert(endRangeDate);
            $(".datepickers").datepicker("destroy");

            $(".datepickers").datepicker({
                minDate:startRangeDate,
                maxDate:endRangeDate
                //inline: true
            });
            $(".datepickers").datepicker("refresh");
        });
      *@

        //下拉選單切換
        $('.SelectTabPop').hide();
        $('.SelectTabPanelContent').hide();
        $('.SelectTabPanelContent:nth-of-type(1)').show();
        $('.SelectTabPanelTitle').click(function(event) {
            $(this).next().slideDown();
        });
        $('.SelectTabPop > ul > li').click(function(event) {
            let TabContent = $(this).parents('.SelectTabPop').next().find('.SelectTabPanelContent');
            let LinkTarget = $(this).find('a').attr('href');
            let SelectCurrent = $(this).find('a').html();
            let SelectButton = $(this).parents('.SelectTabPop').prev().find('.Select');
            TabContent.hide();
            $(LinkTarget).fadeIn();
            $(SelectButton).html(SelectCurrent);
            event.preventDefault();
            $(this).parents('.SelectTabPop').fadeOut();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script>
        //圖表
        
        var colorArrayForPieChart = {
            pattern: ['rgb(220, 237, 255)', 'rgb(91, 136, 255)', 'rgb(224, 134, 234)','rgb(172, 177, 255)','rgb(171, 98, 230)']
        }
        d3.json("http://ptdrts.myerstone.com.tw/home/Getphotoone", function(data) {
            //popLoadingPage()
            let convertPieData = [];
            for(i=0;data.Data[0].length>i;i++){
                let aryJ = []
                aryJ.push(data.Data[0][i].Status);
                aryJ.push(data.Data[0][i].Value);
                convertPieData.push(aryJ);
            };


            var chart1 = c3.generate({
                bindto: '#piechart1',
                size: {
                    height: 200,
                    width: 200
                },
                data: {
                    columns: convertPieData,
                    type: 'pie'
                },
                color: colorArrayForPieChart,
                tooltip: {
                    show: false
                },
                legend: {
                    show: true,
                    item: {
                        onclick: function () {}
                    }
                }
            });

            let str = "<h3>使用者比例</h3><div>" + data.Data[0][0].Status + " <span>" + data.Data[0][0].Value + "</span>％</div><div>" + data.Data[0][1].Status + " <span>" + data.Data[0][1].Value + "</span>％</div><div>" + data.Data[0][2].Status + " <span>" + data.Data[0][2].Value + "</span>％</div>"

            // $('#piechart1').append(str);
        });


        d3.json("http://ptdrts.myerstone.com.tw/home/Getphototwo", function(data) {
            let convertPieData = [];
            for(i=0;data.Data[0].length>i;i++){
                let aryJ = []
                aryJ.push(data.Data[0][i].Status);
                aryJ.push(data.Data[0][i].Value);
                convertPieData.push(aryJ);
            };


            var chart1 = c3.generate({
                bindto: '#piechart2',
                size: {
                    height: 200,
                    width: 200
                },
                data: {
                    columns: convertPieData,
                    type: 'donut'
                },
                color: colorArrayForPieChart,
                tooltip: {
                    show: false
                },
                legend: {
                    show: true,
                    item: {
                        onclick: function () {}
                    }
                }
            });

            let str = "<h3>滿意度比例</h3><div>" + data.Data[0][0].Status + " <span>" + data.Data[0][0].Value + "</span>％</div><div>" + data.Data[0][1].Status + " <span>" + data.Data[0][1].Value + "</span>％</div><div>" + data.Data[0][2].Status + " <span>" + data.Data[0][2].Value + "</span>％</div><div>" + data.Data[0][3].Status + " <span>" + data.Data[0][3].Value + "</span>％</div><div>"+ data.Data[0][4].Status + " <span>" + data.Data[0][4].Value + "</span>％</div>"

            // $('#piechart2').append(str);
        });

        d3.json("http://ptdrts.myerstone.com.tw/home/Getphotothree", function(data) {
            let convertPieData = [];
            for(i=0;data.Data[0].length>i;i++){
                let aryJ = []
                aryJ.push(data.Data[0][i].Status);
                aryJ.push(data.Data[0][i].Value);
                convertPieData.push(aryJ);
            };


            var chart1 = c3.generate({
                bindto: '#piechart3',
                size: {
                    height: 200,
                    width: 200
                },
                data: {
                    columns: convertPieData,
                    type: 'pie'
                },
                color: colorArrayForPieChart,
                tooltip: {
                    show: false
                },
                legend: {
                    show: true,
                    item: {
                        onclick: function () {}
                    }
                }
            });

            let str = "<h3>媒合成功比例</h3><div>" + data.Data[0][0].Status + " <span>" + data.Data[0][0].Value + "</span>％</div><div>" + data.Data[0][1].Status + " <span>" + data.Data[0][1].Value + "</span>％</div><div>" + data.Data[0][2].Status + " <span>" + data.Data[0][2].Value + "</span>％</div>"

            // $('#piechart3').append(str);

        });

        var StartDate = $('#StartRangeDate').val()
        var EndDate = $('#EndRangeDate').val()
        var colorArrayForLineChart = {
            pattern: ['#ff546d', '#34D9AC', 'orange']
        }


        d3.json("http://ptdrts.myerstone.com.tw/home/Linechart?StartRangeDate=" + StartDate + "&EndRangeDate=" + EndDate , function(data) {


            let LineArray = []
            for(i=0;data.Data.length>i;i++){
                LineArray.push(data.Data[i].Value)
            }

            LineArray[0].unshift('x')

            console.log(LineArray)


            var chart4 = c3.generate({
                bindto: '#linechart',
                data: {
                    x: 'x',
                    xFormat: '%Y/%m/%d',
                    columns: LineArray,
                    type: 'line'
                },
                axis: {
                    x: {
                        show: true,
                        type: 'timeseries',

                    },
                    y: {
                        show: true,
                        //tick: {
                        //count: 5,
                        //values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
                        //}
                        min: 0,
                        max: 100
                    }
                },

                color: colorArrayForLineChart,
                legend: {
                    show: true,
                    position: 'bottom'
                }
            });
            //closeLoadingPage()
        });

        $('#LineChartChange').click(function(event) {
            let StartDate = $('#StartRangeDate').val()
            let EndDate = $('#EndRangeDate').val()
            d3.json("http://ptdrts.myerstone.com.tw/home/Linechart?StartRangeDate=" + StartDate + "&EndRangeDate=" + EndDate , function(data) {


                let LineArray = []
                for(i=0;data.Data.length>i;i++){
                    LineArray.push(data.Data[i].Value)
                }

                LineArray[0].unshift('x')

                console.log(LineArray)

                var chart4 = c3.generate({
                    bindto: '#linechart',
                    data: {
                        x: 'x',
                        xFormat: '%Y/%m/%d',
                        columns: LineArray,
                        type: 'line'
                    },
                    axis: {
                        x: {
                            show: true,
                            type: 'timeseries',

                        },
                        y: {
                            show: true,
                            //tick: {
                            //count: 5,
                            //values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
                            //}
                            min: 0,
                            max: 100
                        }
                    },

                    color: colorArrayForLineChart,
                    legend: {
                        show: true,
                        position: 'bottom'
                    }
                });

            });
        });

    </script>

}




