﻿@using PtBusToSchool.Models
@{
    ViewBag.Title = "歡迎使用管理系統";
    List<SendCar> carLinesToday = ViewBag.CarlineToday;
    List<SendCar> carLinesTomorrow = ViewBag.CarlineTomorrow;
    IQueryable<EndReservation> endReservationstoday = null;
    IQueryable<SendCar> sendCarReservationtomorrow = null;
    IQueryable<EndReservation> endReservationtomorrow = null;
    if (ViewBag.endReservationtodayYN)
    {
        endReservationstoday = ViewBag.endReservationtoday;
    }
    if (ViewBag.haveendReservationstomorrow)
    {
        endReservationtomorrow = ViewBag.endReservationtomorrow;
    }
    else
    {
         sendCarReservationtomorrow = ViewBag.Reservationtomorrow;
    }
}

<link rel="stylesheet" href="/Content/c3.css">
<style>
	#content {
		padding: 0px;
	}
    body {
        background-color: #e6e6e6;
    }
	
</style>



	<div class="infoBar-time">
		<div style="margin-bottom: 10px;"><span class="year"></span><span class="month"></span><span class="date"></span></div>
		<span class="week"></span>
	</div>
	<div class="infoBar1">
        <h2>>2017/10/01預約及乘車概況</h2>
		<ul class="infoBar-total">
            <li>
                <div class="float">
                    <img src="/SVG/home1.svg" alt="">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <h4>新增一般預約</h4>
                <span>@ViewBag.studentReservationToday </span> 筆
                <div>今日接收到非晚鳥預約資訊皆列入計算</div>
            </li>
			<li>
				<div class="float">
                    <img src="/SVG/home2.svg" alt="">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</div>
				<h4>新增晚鳥預約</h4> 
				<span>@ViewBag.studentReservationToday </span> 筆
                <div>僅計算今日接收到晚鳥預約資訊</div>

			</li>
			<li>
				<div class="float">
                    <img src="/SVG/home3.svg" alt="">
					<i class="fa fa-check" aria-hidden="true"></i>
				</div>
				<h4>預約搭乘人數</h4>
				<span>@ViewBag.studentReservationSuccessToday</span>
                <div>今日預約總人數（含晚鳥）及實際報到人數</div>

			</li>
			<li>
				<div class="float">
                    <img src="/SVG/home4.svg" alt="">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<h4>臨時乘車人數</h4>
				<span>@ViewBag.studentReservationFailToday </span> 人
                <div>僅計算今日臨時乘車路人</div>

			</li>
            <div class="clear"></div>

            <!--
			<li>
				
				<div>
					<i class="fa fa-bell" aria-hidden="true"></i>
				</div>
				<div>@(DateTime.Today.Date.AddDays(1).ToString("MM/dd"))尚待媒合</div>
				<span>@ViewBag.studentReservationNot</span>
			</li>
			<li>
			<div>
					<i class="fa fa-calendar" aria-hidden="true"></i>
				</div>
				<div>媒合成功比例</div>
				<span>@(ViewBag.studentReservationallSuccess)%</span>
			</li>
		    <li>
		        <div>
		            <i class="fa fa-bus" aria-hidden="true"></i>
		        </div>
		        <div>實際乘車比例</div>
		        <span>@(ViewBag.studentReservationallTakeSuccess)%</span>
		    </li>
            <li style="display:none">
				<div>
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div>使用者<br>比例</div>
				<span>999</span>
			</li>
            -->
			
			
		</ul>

       
<h2>>2017/10/01預約報到情況</h2>
    <div class="SelectTabWrap">
        <div class="SelectTabPanel">
            <div class="SelectTabPanelTitle">
                <div class="Select">
                    <label for="">509</label>
                    <div>路線名稱</div>
                </div>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="SelectTabPop">
                <ul class="SelectTabPanelTitle">
                    <li>
                        <a href="#tab1">
                        <label for="">509</label>
                        <div>路線名稱</div>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2">
                        <label for="">510</label>
                        <div>路線名稱</div>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div>
                <div id="tab1" class="SelectTabPanelContent">
                    <table class="table">
                        <thead>
                            <tr>    
                                <th>#</th>
                                <th>發車時間</th>
                                <th>總預約人數</th>
                                <th>已報到人數</th>
                                <th width="140">乘車比例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 13%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">13%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 42%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">42%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 82%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">82%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 77%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">77%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 13%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">13%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 42%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">42%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 82%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">82%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 77%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">77%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 13%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">13%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 42%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">42%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 82%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">82%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 77%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">77%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 13%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">13%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 42%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">42%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 82%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">82%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 77%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">77%</span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab2" class="SelectTabPanelContent">
                    <table class="table">
                        <thead>
                            <tr>    
                                <th>#</th>
                                <th>發車時間</th>
                                <th>總預約人數</th>
                                <th>已報到人數</th>
                                <th width="250">乘車比例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 40%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">40%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 60%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">60%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 55%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">55%</span>

                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>07:30</td>
                                <td>20</td>
                                <td>18</td>
                                <td>
                                    <div class="barChart">
                                        <div class="percen" style="width: 89%;">
                                            
                                        </div>
                                    </div>
                                    <span class="barChart-info">89%</span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="infoBar2">
<h2>>2017/10/02預約概況</h2>

    <div class="SelectTabWrap">
        <div class="SelectTabPanel">
            <div class="SelectTabPanelTitle">
                <div class="Select">
                    <label for="">509</label>
                    <div>路線名稱</div>
                </div>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="SelectTabPop">
                <ul class="SelectTabPanelTitle">
                    <li>
                        <a href="#tab6">
                        <label for="">509</label>
                        <div>路線名稱</div>
                        </a>
                    </li>
                    <li>
                        <a href="#tab7">
                        <label for="">510</label>
                        <div>路線名稱</div>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div >
                <div id="tab6" class="SelectTabPanelContent">
                    <div style="position: relative;height:40px;">
                    <div style="position: absolute;left: 0;bottom: 0;"> Total <span style="font-size:23px;">76</span> 人</div>
                    <div style="position: absolute;right: 0;bottom: 0;"><a href="" class="btn btn-info">前往派車</a></div>
                    </div>
                    <table class="table gridTable">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>18</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div id="tab7" class="SelectTabPanelContent">
                    <table class="table gridTable">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>22</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>44</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>66</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>11</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>98</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>32</span>人</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>4</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>8</span>人</div>
                                </td>
                                <td>
                                    <div class="time">07:30</div>
                                    <div class="total"><span>1</span>人</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="infoBar3">
    <h2>&nbsp;</h2>
    <div class="infoBar-card">
        <div class="piechart">
            <div id="piechart1"></div>
            <h3>使用者比例</h3>
            <div>一般預約 ？？％</div>
            <div>晚鳥預約 ？？％</div>
            <div>臨時乘車 ？？％</div>
        </div>
        <div class="piechart">
            <div id="piechart2"></div>
            <h3>服務車輛比例</h3>
            <div>甲類大客車 ？？％</div>
            <div>甲類電動車 ？？％</div>
            <div>九人座 ？？％</div>
        </div>
        <div class="piechart">
            <div id="piechart3"></div>
            <h3>媒合成功比例</h3>
            <div>媒合成功 ？？％</div>
            <div>媒合失敗 ？？％</div>
        </div>
        <div class="clear"></div>
    </div>
    <h2>>近30日服務總覽</h2>
    <div class="infoBar-card">
        <div class="search-tab">
            <div class="input-select-group">
                <div>
                    <label for="">查詢期間</label>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="input-date-group">
                <div>
                    <label for="">日期</label><input type="date" name="" id=""> ~ <input type="date" name="" id="">
                </div>
            </div>
        </div>
        <div id="linechart"></div>
    </div>
</div>

<div class="clear"></div>


    <script>
        $('.SelectTabPop').hide();
        $('.SelectTabPanelContent').hide();
        $('.SelectTabPanelContent:nth-of-type(1)').show();
        $('.SelectTabPanelTitle').click(function(event) {
          $(this).next().slideDown();
         });
        $('.SelectTabPop > ul > li').click(function(event) {
            let TabContent = $(this).parents('.SelectTabPop').next().find('.SelectTabPanelContent');
            let LinkTarget = $(this).find('a').attr('href');
            let SelectCurrent = $(this).find('a').html();
            let SelectButton = $(this).parents('.SelectTabPop').prev().find('.Select');
            TabContent.hide();
           $(LinkTarget).fadeIn();
            $(SelectButton).html(SelectCurrent);
            event.preventDefault();
            $(this).parents('.SelectTabPop').fadeOut();
        });
        
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script>
        var data = [
          ['一班預約', 25],
          ['晚鳥預約', 10],
          ['臨時乘車', 65]
        ];
        var data2 = [
            ['預約總人數', 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310],
            ['媒合成功', 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310],
            ['搭乘總人數', 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310, 30, 50, 100, 230, 300, 310]
        ];
        var data3 = [
          ['甲類大客車', 25],
          ['甲類電動車', 10],
          ['九人座', 65]
        ];
        var data4 = [
          ['媒合成功', 65],
          ['媒合失敗', 35]
        ];

        var chart4_axis = ['10/1', '10/2', '10/3', '10/4', '10/5', '10/6', '10/7', '10/8', '10/9','10/10', '10/11', '10/12', '10/13', '10/14', '10/15', '10/16', '10/17', '10/18','10/19', '10/20', '10/21', '10/22', '10/23', '10/24', '10/25', '10/26', '10/27','10/28', '10/29', '10/30','10/31'];

        var chart1 = c3.generate({
            bindto: '#piechart1',
            size: {
                    height: 150,
                    width: 150
            },
            data: {
                columns: data,
                type: 'pie',
                
                colors: {
                            一班預約: '#03d1ec',
                            晚鳥預約: '#000',
                            臨時乘車: 'white'
                }
            },
            tooltip: {
                show: false
            },
            legend: {
                show: false
            }
        })

        var chart2 = c3.generate({
            bindto: '#piechart2',
            size: {
                    height: 150,
                    width: 150
            },
            data: {
                columns: data3,
                type: 'pie',
                colors: {
                            甲類大客車: '#03d1ec',
                            甲類電動車: '#000',
                            九人座: 'white'
                        }
            },
            legend: {
                show: false
            },
            tooltip: {
                    show: false
                }
        })

        var chart3 = c3.generate({
            bindto: '#piechart3',
            size: {
                    height: 150,
                    width: 150
            },
            data: {
                columns: data4,
                type: 'pie',
                colors: {
                           媒合成功: '#03d1ec',
                            媒合失敗: '#000'
                        }
            },
            legend: {
                show: false
            },
            tooltip: {
                show: false
            }
        })

        var chart4 = c3.generate({
            bindto: '#linechart',
            axis: {
                    x: {
                        show: false,
                        type: 'category',
                        categories: chart4_axis,
                        tick: {
                            count: 5
                        }
                    },
                    y: {
                        show: true,
                        tick: {
                            count: 3,
                            values: [100, 200, 300]
                        }
                    }
                },
            data: {
                columns: data2,
                type: 'line',
                colors: {
                            預約總人數: '#FFD966',
                            媒合成功: '#34D9AC',
                            搭乘總人數: 'orange'
                        }
            },
            legend: {
                show: true,
                position: 'bottom'
            }
        });
    </script>







	<div class="index-table" style="display: none;">
	<h2>@(DateTime.Today.Date.ToString("yyyy/MM/dd"))班表  </h2>
<div class="label-tab">
    <ul class="label-tab-btn">
        @foreach (var item in carLinesToday)
        {
            <li>
                <a href="#@item.LineName.Subject">
                     <label for="">@item.LineName.CarId</label>
                  <div>@item.LineName.Subject</div>
                </a>
            </li>
        }

    </ul>
    <ul class="label-tab-content">
        @if (ViewBag.endReservationtodayYN)
        {

            foreach (var item in carLinesToday)
            {
            <li id="@item.LineName.Subject">
                @{
                string[] line = item.LineName.Line.Split('→');
                var carnolist = endReservationstoday.Where(x => x.LineName.Subject == item.LineName.Subject).ToList();
                var carnolistnum = 0;
                if (carnolist.Count != 0)
                {
                    carnolistnum = carnolist[0].ChildEndReservation.Count;
                }
                }
                @if (carnolistnum > 0)
                {
                    <table class="table timeTable">
                        <thead>
                        <tr>
                            <th></th>
                            @foreach (var lineitem in line)
                            {
                                <th>@lineitem</th>
                            }
                        </tr> 
                        </thead>
                        <tbody>   
                            @foreach (var CarNoitem in carnolist[0].ChildEndReservation)
                            {
                                string[] cartimearr = CarNoitem.CarTime.Split('、');
                                string[] peoplearr = CarNoitem.People.Split('、');
                                int i = 0;
                                int total = 0;
                                <tr>
                                    <td>@cartimearr[0]
                                        <div>@CarNoitem.Driver.Subject </div>
                                          <div>@CarNoitem.Car.Subject </div>
                                    </td>
                                    @foreach (var CarTimeitem in cartimearr)
                                    {
                                        string[] updownpeople = peoplearr[i].Split(':');
                                        total = total + Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                                        <td>
                                            <div>@CarTimeitem</div>
                                            @if (peoplearr[i] != "0:0")
                                            {
                                                  <div>▲@updownpeople[0]　▼@updownpeople[1]</div>
                                             <div>總: @total</div>
                                            }
                                        </td>
                                        i++;
                                    }
                                </tr>
                            }
                        </tbody>   
                    </table>
                }
                else
                {
                    <h2>此路線今日不開</h2>
                }
            </li>
            }
        }
        else
        {
            <h2>今日不開車</h2>
        }


    </ul>
</div>

@if (ViewBag.haveendReservationstomorrow)
{
    <h2>@(DateTime.Today.Date.AddDays(1).ToString("yyyy/MM/dd"))班表 </h2>
    <div class="label-tab">
    <ul class="label-tab-btn">
        @foreach (var item in carLinesTomorrow)
        {  
            <li>
                <a href="#a@(item.LineName.Subject)">
                      <label for="">@item.LineName.CarId</label>
                    <div>@item.LineName.Subject</div>
                </a>
            </li>
        }
    </ul>

    <ul class="label-tab-content">
        @foreach (var item in carLinesTomorrow)
        {
            <li id="a@(item.LineName.Subject)">
                @{
                string[] line = item.LineName.Line.Split('→');
                var carnolist = endReservationtomorrow.Where(x => x.LineName.Subject == item.LineName.Subject).ToList();
                var carnolistnum = 0;
                if (carnolist.Count != 0)
                {
                    carnolistnum = carnolist[0].ChildEndReservation.Count;
                }
                }
                   @if (carnolistnum > 0)
                {
                     <table class="table timeTable">
                        <thead>
                        <tr>
                            <th></th>
                            @foreach (var items in line)
                            {
                                <th>@items</th>
                            }

                        </tr>
                        </thead>
                        <tbody>
                          @foreach (var CarNoitem in carnolist[0].ChildEndReservation)
                            {
                                string[] cartimearr = CarNoitem.CarTime.Split('、');
                                string[] peoplearr = CarNoitem.People.Split('、');
                                int i = 0;
                                int total = 0;
                                <tr>
                                    <td>@cartimearr[0]</td>
                                    @foreach (var CarTimeitem in cartimearr)
                                    {
                                        string[] updownpeople = peoplearr[i].Split(':');
                                        total = total + Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                                        <td>
                                            <div>@CarTimeitem</div>
                                         @if (peoplearr[i] == "0:0")
                                         {
                                              <div></div>
                                         }
                                         else
                                         {
                                                 <div>▲@updownpeople[0]　▼@updownpeople[1]</div>
                                             <div>總: @total</div>
                                         }
                                              
                                            
                                        </td>
                                        i++;
                                    }
                                </tr>
                            }   
                      </tbody>
                    </table>
                         }
                else
                {
                    <h2>此路線明日不開</h2>
                }
            </li>
        }
    </ul>

</div>

    
    
    
}
else
{
    <h2>@(DateTime.Today.Date.AddDays(1).ToString("yyyy/MM/dd"))待媒合清單 <a href="" class="btn btn-info">前往媒合</a> </h2>
    <div class="label-tab">
    <ul class="label-tab-btn">
        @foreach (var item in carLinesTomorrow)
        {
            <li>
                <a href="#a@(item.LineName.Subject)"> <label for="">@item.LineName.CarId</label><div>@item.LineName.Subject</div></a>
            </li>
        }
    </ul>

    <ul class="label-tab-content">
        @foreach (var item in carLinesTomorrow)
        {
            <li id="a@(item.LineName.Subject)">
                @{
                string[] line = item.LineName.Line.Split('→');
                var carnolist = sendCarReservationtomorrow.Where(x => x.LineName.Subject == item.LineName.Subject).ToList();
                var carnolistnum = 0;
                if (carnolist.Count != 0)
                {
                    carnolistnum = carnolist[0].ChildSendCar.Count;
                }
                }
                   @if (carnolistnum > 0)
                {
                     <table class="table timeTable">
                     <thead>
                        <tr>
                            <th></th>
                            @foreach (var items in line)
                            {
                                <th>@items</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                          @foreach (var CarNoitem in carnolist[0].ChildSendCar)
                            {
                                string[] cartimearr = CarNoitem.CarNoTime.Time.Split('、');
                                string[] peoplearr = CarNoitem.People.Split('、');
                                int i = 0;
                                int total = 0;
                                <tr>
                                    <td>@cartimearr[0]</td>
                                    @foreach (var CarTimeitem in cartimearr)
                                    {
                                        string[] updownpeople = peoplearr[i].Split(':');
                                        total = total + Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                                        <td>
                                            <div>@CarTimeitem</div>
                                         @if (peoplearr[i] == "0:0")
                                         {
                                              <div></div>
                                         }
                                         else
                                         {
                                                 <div>▲@updownpeople[0]　▼@updownpeople[1]</div>
                                             <div>總: @total</div>
                                         }
                                              
                                            
                                        </td>
                                        i++;
                                    }
                                </tr>
                            }   
                      </tbody>
                    </table>
                         }
                else
                {
                    <h2>此路線沒有時刻表</h2>
                }
            </li>
        }
    </ul>

</div>

}

</div>
<div class="clear"></div>
