﻿@{
    ViewBag.Title = "車輛動態";
}


<style>
    .map-wrap {
      width: 1200px;
    }
  	#map{
            height: 700px;
            width: 100%;
        }
    .infoWindowTitle {
      font-size: 22px;
      color: orange;
    }

    .gridListCard {
      display: block;
      list-style-type: none;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
    }
    .gridListCard li{
      /*border-right: 1px solid #CCC;*/
      margin-bottom: 1%;
      /*border-radius: 5px;*/
      letter-spacing: 2px;
      box-sizing: border-box;
      /*background: #f7f7f7;*/
      color: #0011a2;
      float: left;
      width: 15%;
      padding: 10px;
      margin-right: 1%;
      /*height: 190px;*/
      overflow: hidden;
    }
    .gridListCard li:last-of-type {
      border-right: 0;
    }
    .gridListCard div {
      padding: 5px;
      line-height: 1.5;
    }
    .gridListCard label{
      padding: 0;
      font-weight: 600;
      vertical-align: top;
      display: inline-block;
      /*width: 100px;*/
    }
    .gridListCard span {
      vertical-align: top;
      display: inline-block;
    }
 </style>
<h2>車輛動態</h2>

<div class="map-wrap">
  <ul class="gridListCard"></ul>
  <div id="map"></div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaDMFwpHFneVGA2rVpq0JUeMJN5f6Yb7I&callback=initMap"></script>
<script>
   	var map;
   	var data;
   	var markers=[];
   	var currentInfoWindow = '';

   	function initMap() {
   	 map = new google.maps.Map(document.getElementById('map'), {
   	  zoom: 15,
   	  center: {lat: 22.644393, lng: 120.609771}
   	 });
   	  getData();
   	}

   	function getData(){ 
   	  var xhr = new XMLHttpRequest();
   	  xhr.open('get','http://ptdrts.myerstone.com.tw/home/GetNowWhere');
   	  xhr.send(null);
   	  xhr.onload = function(){
   	    var data = JSON.parse(xhr.responseText)
   	    for(var i=0;data.length>i;i++){
   	      loadData(data[i].Lat,data[i].Lon,data[i].Car,data[i].CanTakePeople,data[i].CarLine,data[i].Image)
          console.log(data[i].Image)

   	    }
        let str = ''
        for (var i = 0; data.length > i; i++) {
          str += '<li><div><label for="">車牌</label><span>'+data[i].Car+'</span></div><div><label for="">可搭乘人數</label><span>'+data[i].CanTakePeople+'</span></div></li>'
        }
        $('.gridListCard').html(str);

   	  }
   	}

   	function loadData(lat,lng,title,CanTakePeople,CarLine,CarImage){

      var image = {
        url: '/images/nowwhere/' + CarImage,
        size: new google.maps.Size(100, 100),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(50, 50)
      };
      var contentStr = '<div class="infoWindowTitle">' + title + '</div><div>可搭乘人數：'+ CanTakePeople + '</div><div>路線名稱：' + CarLine + '</div>';
   	  var infowindow = new google.maps.InfoWindow({
   	    content: contentStr
   	  });
   	  var marker = new google.maps.Marker({
   	    position: {lat: parseFloat(lat), lng: parseFloat(lng)},
   	    title: title,
   	    map: map,
        icon: image
   	  });
   	  marker.addListener('click', function() {
   	     if(currentInfoWindow != '')   
   	      {    
   	        currentInfoWindow.close();   
   	        currentInfoWindow = '';   
   	      }   
   	      infowindow.open(map, marker);   
   	      currentInfoWindow = infowindow; 
   	  });
   	  markers.push(marker);
   	}

    setInterval(initMap, 60000);

</script>


