﻿@using MvcPaging
@model IPagedList<PtBusToSchool.Models.EndReservation>

@{
    ViewBag.Title = "虛擬路線時刻列表";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.linename != null)
{
}
else if (ViewBag.carnotime != null)
{

}
else
{

    using (Html.BeginForm())
    {
    <div class="input-text-group">
    <div>
        <label for="">
        @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
        </label>

        <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/>
        <input type="submit" value="搜尋" />

    </div>
    </div>

    }
}
 <div align="center">
    所在位置: @Html.ActionLink("最上層", "Index", new { id = 0 })@Html.Raw(ViewBag.Path)
</div>
@if (ViewBag.linename != null)
{
    
    <table class="table">
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LineName.Subject)
            </th>


        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>



                    <td>
                        @Html.ActionLink(item.LineName.Subject, "Index", new { id = item.Id })
                    </td>


                    <td>

                        @Html.Hidden("ID", item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    
}
else if (ViewBag.carnotime != null)
{
    
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarNo)
            </th>
            @{
    string[] carlinearr = ViewBag.carnotime.Split('→');
                      
            }


            @foreach (var item in carlinearr)
            {
                <th>@item</th>
                @*<th>每站上下車人數</th>*@
            }

        </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CarNo
                        <div>司機:@item.Driver.Subject</div>
                        <div>車牌:@item.Car.Subject</div>
                     

                    </td>
                    @{
                string[] timearr = item.CarTime.Split('、');
                string[] peoplearr = item.People.Split('、');
                int total = 0;
                    }
                    @for (int i = 0; i < timearr.Length; i++)
                    {
                        if (string.IsNullOrEmpty(timearr[i]))
                        {
                        <td>X</td>
                        }
                        else
                        {
                            <td>@timearr[i]
                        @{ string[] updownpeople = peoplearr[i].Split(':');
                     total+=Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);} 
                   
                        <div>上:@updownpeople[0]</div>
                       <div>下:@updownpeople[1]</div>
                        <div>車上人數:@total</div>
                    </td>
                    
                        
                        
                        
                        }



                    }





                </tr>
            }
        </tbody>
    </table>
        
        
        
}
else
{

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().People)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Level)
        </th>*@

        </tr>
        <tbody>
            @foreach (var item in Model.Where(x => x.StartDate != null))
            {
                <tr>



                    <td>
                        @Html.ActionLink(item.StartDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd"), "Index", new { id = item.Id, date = item.StartDate })
                    </td>
                    @*  <td>
            @Html.DisplayFor(modelItem => item.LineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.People)
        </td>*@

                    <td>

                        @Html.Hidden("ID", item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="label-tab">
    <ul class="label-tab-btn">
        <li>
            <a href="">
                 <label for="">班次</label>
              <div>路線名稱</div>
            </a>
        </li>
    </ul>
    <ul class="label-tab-content">
        <li id="">
            <table class="table timeTable">
                <thead>
                <tr>
                    <th>表格標題</th>
                    <th>表格標題</th>
                    <th>表格標題</th>
                    <th>表格標題</th>
                </tr> 
                </thead>
                <tbody>   
                    <tr>
                        <td>sdsdasdsasadsdssd</td>
                        <td>sdsdasdsasadsdssd</td>
                        <td>sdsdasdsasadsdssd</td>
                        <td>sdsdasdsasadsdssd</td>
                        <td>sdsdasdsasadsdssd</td>
                        <td>sdsdasdsasadsdssd</td>
                    </tr>
                </tbody>   
            </table>
        </li>
    </ul>
</div>






<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

