﻿@using MvcPaging
@using PtBusToSchool.Models
@model IPagedList<PtBusToSchool.Models.EndReservation>

@{
    ViewBag.Title = "媒合歷史紀錄查詢";
    List<SendCar> carlinelist = ViewBag.linename;
    IQueryable<EndReservation> endReservationstoday = null;

    if (ViewBag.endReservationtodayYN)
    {
        endReservationstoday = ViewBag.endReservationtoday;
    }
}

<h2>@Html.Raw(ViewBag.Path) @ViewBag.Title</h2>



    @using (Html.BeginForm())
    {
    <div class="input-text-group">
        <div>
            <label for="">
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
            </label>

            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/>
            <input class="btn btn-primary" type="submit" value="搜尋" />

        </div>
    </div>

    }



<div style="height: 40px;"></div>

@if (ViewBag.linename != null)
{
    
@*<table class="table">
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LineName.Subject)
            </th>


        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>



                    <td>
                        @Html.ActionLink(item.LineName.Subject, "Index", new { id = item.Id })
                    </td>


                    <td>

                        @Html.Hidden("ID", item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
    <div class="label-tab">
        <ul class="label-tab-btn">

            @foreach (var item in carlinelist)
            {
                <li>
                    <a href="#@item.LineName.Id">
                        <label for="">@item.LineName.CarId</label>
                        <div>@item.LineName.Subject</div>
                    </a>
                </li>
            }

        </ul>
        <ul class="label-tab-content">
            @if (ViewBag.endReservationtodayYN)
            {
                foreach (var item in carlinelist)
                {
                <li id="@item.LineName.Id">
                    @{
                    string[] line = item.LineName.Line.Split('→');
                    var carnolist = endReservationstoday.Where(x => x.LineName.Subject == item.LineName.Subject).ToList();
                    var carnolistnum = 0;
                    if (carnolist.Count != 0)
                    {
                        carnolistnum = carnolist[0].ChildEndReservation.Count;
                    }
                    }
                    @if (carnolistnum > 0)
                    {
                        <table class="table" style="width:2500px;">
                            <thead>
                            
                            <tr>

                                <th>駕駛 / 站名</th>
                                	<th>上下車名單</th>
                            @foreach (var lineitem in line)
                            {
                                <th>@lineitem</th>
                            }
                            </tr>
                            </thead>
                            <tbody>
                                 @foreach (var CarNoitem in carnolist[0].ChildEndReservation)
                                 {
                                     string[] cartimearr = CarNoitem.CarTime.Split('、');
                                     string[] peoplearr = CarNoitem.People.Split('、');
                                     int i = 0;
                                     int total = 0;
                                <tr>

                                    <td>@cartimearr[0]
                                        <div>@CarNoitem.Driver.Subject </div>
                                        <div>@CarNoitem.Car.Subject </div>
                                    </td>
                                     <td>
                                               @Html.ActionLink("詳情", "UpDownList", new { id = CarNoitem.Id }, new { @class = "btn btn-primary" }) 
                                         </td>
                                    @foreach (var CarTimeitem in cartimearr)
                                    {
                                        string[] updownpeople = peoplearr[i].Split(':');
                                        total = total + Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                                        <td>
                                            <div>@CarTimeitem</div>
                                            @if (peoplearr[i] != "0:0")
                                            {
                                                  <div>▲@updownpeople[0]　▼@updownpeople[1]</div>
                                             <div>總: @total</div>
                                            }
                                        </td>
                                            i++;
                                    }
                                </tr>
                                 }   
                            </tbody>
                        </table>
                     
                    }
                    else
                    {
                        <h2>此路線今日不開</h2>
                    }


                </li>
                }

            }
            else
            {
                <h2>此路線今日不開</h2>
            }



        </ul>
    </div>@*
//}
//else
//{
    if (ViewBag.show)
    {
          <table class="table">
        <tr>

            <th>
              
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
            </th>

        </tr>
        <tbody>
              <tr>



                <td>
        @foreach (var item in Model.Where(x => x.StartDate != null))
        {
          
                    @Html.ActionLink(item.StartDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd"), "NewIndex", new { id = item.Id, date = item.StartDate }, new { @class = "btn btn-primary" })
                   
         

                    @Html.Hidden("ID", item.Id)
             
        }
                       </td>
            </tr>
        </tbody>
    </table>
    <div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
    }*@
}



@if (ViewBag.Noshow)
{
       <h2 style="color:red">很抱歉您查詢的日期無任何資料</h2>
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

