﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.CarLine

@{
    ViewBag.Title = "路線管理新增";
}

<h2>路線管理新增</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>CarLine</legend>

        @Html.Hidden("ParentId", Request["ParentId"])



        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)


        </div>
             <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEn)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEn, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("SubjectEn")})

        </div>
        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Line)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.Line, new { placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("Line") })
            @Html.ValidationMessageFor(model => model.Line)


        </div>

        <div class="editor-field">
            @if (Request["ParentId"] == null)
            {
                int i = 0;
                foreach (var item in ViewBag.CarSite)
                {
                    i++;
               <input type="checkbox" name="carSiteArray" value="@item.Subject">@item.Subject
                    if (i%10 == 0)
                    {
                        <br />
                    }
                }
            }
        </div>
          <div class="editor-label" >
            @Html.LabelFor(model => model.MaxPassengers)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MaxPassengers, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("MaxPassengers")})
            @Html.ValidationMessageFor(model => model.MaxPassengers)


        </div>
           <div class="editor-label" >
            @Html.LabelFor(model => model.MinPassengers)

        </div>
        <div class="editor-field" >
            @Html.TextBoxFor(model => model.MinPassengers, new { placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("MinPassengers") })
            @Html.ValidationMessageFor(model => model.MinPassengers)


        </div>

        @Html.Hidden("ListNum", "0")
        <div align="center">
            <input class="btn btn-primary" type="submit" value="新增" />
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
