﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.CarLine

@{
    ViewBag.Title = "路線管理編輯";
    List<CarLine>carLineChild = ViewBag.CarLineChild;
    Boolean showornoshow = false;
}

<h2>路線管理編輯</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CarLine</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)



        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("Subject")})

        </div>
             <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEn)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEn, new {placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("SubjectEn")})

        </div>
        <div class="editor-field">
        @{ int i = 0;}
        @foreach (var item in ViewBag.CarSite)
        {
            i++;
            showornoshow = false;
            foreach (var itemchild in carLineChild)
            {
                if (item.Subject == itemchild.Subject)
                {
                    <input type="checkbox" name="carSiteArray" value="@item.Subject" checked="checked">@item.Subject
                    showornoshow = true;
                }
            }
            if (!showornoshow)
            {
                 <input type="checkbox" name="carSiteArray" value="@item.Subject" >@item.Subject
            }
           
                if (i%10 == 0)
                {
                    <br />
                }
        }
        </div>
           <div class="editor-label" >
            @Html.LabelFor(model => model.MaxPassengers)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MaxPassengers, new { placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("MaxPassengers") })
            @Html.ValidationMessageFor(model => model.MaxPassengers)


        </div>
         <div class="editor-label" >
            @Html.LabelFor(model => model.MinPassengers)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MinPassengers, new { placeholder = ModelsAttributeHelper<PtBusToSchool.Models.CarLine>.GetDisplayName("MinPassengers") })
            @Html.ValidationMessageFor(model => model.MinPassengers)


        </div>
        @Html.HiddenFor(model => model.Line)

        @Html.HiddenFor(model => model.ListNum)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.UpdateDate)
        <div align="center">
            <input class="btn btn-primary" type="submit" value="更新" />
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
