﻿@using MvcPaging
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.CarLine>

@{
    ViewBag.Title = "路線管理列表";
}

<h2>路線管理列表</h2>

@if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
{

}
else
{
    <div class="top">
        @Html.ActionLink("新增", "Create", new { ParentId = @ViewBag.ParentId },new { @class = "btn btn-primary" })
    </div>
}
@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)：@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])

    </div>
    <div>
        發布日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
        ~
        <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    <div>
        <input type="submit" value="搜尋" />
    </div>

    
}
<div align="center">
    所在位置: @Html.ActionLink("最上層", "Index", new { id = 0 })@Html.Raw(ViewBag.Path)
</div>
<div class="scroll-table">
<table class="table table-v" style="width: 1200px;">
    <tr>

        @if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
        {
            <th>站點名稱</th>
        }
        else
        {
            <th width="250">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SubjectEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MaxPassengers)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MinPassengers)
            </th>
        }

        @if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
        {
            <th>行經路線順序
            </th>
            <th>新行經路線順序
            </th>
        }

        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>
        @if (Request.Url.Segments.Length < 4)
        {
            <th></th>
        }

    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @if (item.Level > 1)
                {
                  
                    <td>
                          @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                      @Html.Hidden("CID", item.Id)
                }
                else
                {
                    <td>
                        @Html.ActionLink(item.Subject, "Index", new { id = item.Id })
                    </td>
                }
                @if (item.ParentId == null)
                {
                     <td>

                        @Html.DisplayFor(modelItem => item.SubjectEn)
                    </td>
                    <td width="400">
                        @Html.DisplayFor(modelItem => item.Line)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.MaxPassengers)
                    </td>
                     <td>

                        @Html.DisplayFor(modelItem => item.MinPassengers)
                    </td>
                }
                @if (item.ParentId != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ListNum)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.ListNum, new {@class = "position"})
                    </td>
                  
                    
                }

                <td style="display: none">
                    @Html.DisplayFor(modelItem => item.Poster)
                </td>
                <td style="display: none">
                    @Html.DisplayFor(modelItem => item.InitDate)
                </td>
                <td style="display: none">
                    @Html.DisplayFor(modelItem => item.Updater)
                </td>
                <td style="display: none">
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                @if (item.ParentId == null)
                {
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.Id },new { @class = "btn btn-primary" }) 
                          @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                       @* @Html.ActionLink("刪除", "Delete", new { id = item.Id })*@
                        <input type="hidden" value="@item.Id" id="ID"/>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>
</div>
@if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
{
    using (Html.BeginForm("Sort", null))
    {
    <div>
        <input type="hidden" id="sortData" name="sortData" />
        <input type="submit" value="更新排序" />
        <span>(請拖曳表格進行排序)</span>
    </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    @if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
    {
        <script>
            $(document).ready(function () {
                $("tbody").tableDnD({
                    onDragClass: "showDragHandle",
                    onDrop: function (table, row) {
                        var rows = table.rows;
                        var map = "";
                        for (var i = 0; i < rows.length; i++) {
                            $(rows[i]).find(".position").val(i + 1);
                            map += $(rows[i]).find("#CID").val() + ":" + (i + 1) + ",";
                        }
                        $("#sortData").val(map);
                    }
                });
            });
        </script>
        <style>
            .position {
                width: 27px;
            }
        </style>
    }
}


