﻿@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model MvcPaging.IPagedList<PtBusToSchool.Models.CarLine>

@{
    ViewBag.Title = "路線時刻管理";
    DateTime yearhundred = ViewBag.yearhundred;
    List<TimeSchedule> timeSchedules = ViewBag.TimeSchedule;
}
<style>
    input {
        width: auto;
    }
</style>
<h2>@ViewBag.Title
    <a id="AddLine" class="popup_btn btn btn-primary" href="#AddLinePanel">新增</a>
</h2>

@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>

            @Html.DisplayNameFor(model => model.FirstOrDefault().Category)：@Html.DropDownList("SearchByCategory", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.HolidayCategory))), "請選擇")

        </div>
        <div>
            <label for="">@Html.DisplayNameFor(model => model.FirstOrDefault().CarId)</label>
            @Html.InputSearchBox("SearchByCarId", ViewData["SearchByCarId"])
            <label for="">@Html.DisplayNameFor(model => model.FirstOrDefault().Subject)</label>
            @Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
            <input class="btn btn-primary" type="submit" value="搜尋" />
        </div>
    </div>@*
    <div class="input-date-group">
      
        <div>
            <label for="">發布日期</label>
            <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepickers"/>
            ~
        <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepickers"/>
            <input class="btn btn-primary" type="submit" value="搜尋" />

        </div>


    </div>*@
    
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarId)
        </th>
        <th width="250">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubjectEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
        </th>
<th>
           啟用時間
        </th>
<th>
           停用時間
        </th>
        <th></th>


    </tr>
    <tbody>
        @foreach (var item in Model.Where(x => x.ParentId == null).OrderByDescending(x=>x.InitDate))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>


                <td>

                    @Html.DisplayFor(modelItem => item.SubjectEn)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Category)
                </td>

                @{
                    var startend = timeSchedules.FirstOrDefault(x => x.CarLineId == item.Id);
                }
                <td>

                    @startend.StartDate.Value.Date.ToString("yyyy/MM/dd")
                </td>

                <td>

                      @startend.EndDate.Value.Date.ToString("yyyy/MM/dd")
                </td>


                <td>

                    @using (Html.BeginForm("ExportExcel", "CarLine", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@item.Id" id="CarLineId" name="CarLineId"/>
                        <input class="btn btn-primary" type="submit" name="excel" value="匯出Excel(.xlsx)" />
                        <input type="button" class="popup_btn EditLine btn btn-primary"  id="@item.Id" href="#EditLinePanel" value="編輯"/>
                        @Html.ActionLink("詳情", "TimeDetail", new { id = item.Id }, new { @class = "btn btn-primary" })
                          
                    }




                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @* @Html.ActionLink("刪除", "Delete", new { id = item.Id })*@
                    <input type="hidden" value="@item.Id" id="ID"/>

                </td>

            </tr>
        }
    </tbody>
</table>


<div id="AddLinePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div href="" class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">新增路線</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">

                    <div>
                        <label for="">
                            <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().CarId)
                        </label>

                        <input id="CarId" name="CarId" />
                        <span id="CarIdmessage" style="color: red"></span>
                    </div>

                    <div>
                        <label for="">
                            <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
                        </label>

                        <input id="Subject" name="Subject" /><span id="Subjectmessage" style="color: red"></span>
                    </div>


                    <div>
                        <label for="">
                            <font color="red">*</font>路線英文
                        </label>

                        <input id="SubjectEn" name="SubjectEn" /><span id="SubjectEnmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>適用類型</label>

                        <select id="Category" name="Category"></select>

                    </div>
                    <div>
                        <label for="">
                            <font color="red">*</font>最大容客數
                        </label>

                        <input id="MaxPassengers" name="MaxPassengers" value="0" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" /><span id="MaxPassengersmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">
                            <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().MinPassengers)
                        </label>

                        <input id="MinPassengers" name="MinPassengers" value="0" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" /><span id="MinPassengersmessage" style="color: red"></span>
                    </div>

                    <div>
                        <label for="">
                            <font color="red">*</font>時刻表
                        </label>
                        <input id="UpFiles" type="file" name="UpFiles" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <span id="UpFilesmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">
                            <font color="red">*</font>啟用時間
                        </label>

                        <input id="StartDate" readonly="" name="StartDate" class="datepicker" /><span id="StartDatemessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">
                            停用時間
                        </label>

                        <input id="EndDate" readonly="" name="EndDate" class="datepicker" /><span id="EndDatemessage" style="color: red"></span>
                    </div>

                </div>
                <div class="confirm-group">
                    <input id="tomorrow" class="tomorrow" type="hidden" value="@ViewBag.tomorrow"/>
                    <input id="yearhundred" class="yearhundred" type="hidden" value="@yearhundred.Date.ToString("yyyy/MM/dd")" />
                    <a href="" class="btn btn-primary">取消</a>

                    <input id="CreateLine" class="CreateLine btn btn-success" type="button" value="確定" />
                </div>
            </div>

        </div>


    </div>

</div>

<div id="EditLinePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div href="" class="closepop">
            <img width="30" height="30" src="~/images/close-btn.svg" alt="">
            <h3 style="color: white">編輯路線</h3>
        </div>
        <div class="banner">
            <div class="popup_tip">
                <div class="input-text-group">
                    <div>

                        <label for="">
                            <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().CarId)
                        </label>

                        <input id="EditCarId" name="CarId" />
                        <span id="EditCarIdmessage" style="color: red"></span>
                    </div>

                    <div>
                        <label for="">
                            <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
                        </label>

                        <input id="EditSubject" name="Subject" /><span id="EditSubjectmessage" style="color: red"></span>
                    </div>


                    <div>
                        <label for=""><font color="red">*</font>路線英文</label>

                        <input id="EditSubjectEn" name="SubjectEn" /><span id="EditSubjectEnmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for=""><font color="red">*</font>適用類型</label>

                        <select id="EditCategory" name="Category"></select>

                    </div>
                    <div>
                        <label for=""><font color="red">*</font>最大容客數</label>

                        <input id="EditMaxPassengers" name="MaxPassengers" value="0" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" /><span id="EditMaxPassengersmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">
                            <font color="red">*</font>@Html.DisplayNameFor(model => model.FirstOrDefault().MinPassengers)
                        </label>

                        <input id="EditMinPassengers" name="MinPassengers" value="0" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" /><span id="EditMinPassengersmessage" style="color: red"></span>
                    </div>
                    <div>
                        <label for="">
                            <font color="red">*</font>啟用時間
                        </label>
                        <input id="EditStartDate" disabled>
                    </div>
                    <div>
                        <label for="">
                            停用時間
                        </label>

                        <input id="EditEndDate" readonly="" name="EditEndDate" class="datepicker" /><span id="EditEndDatemessage" style="color: red"></span>
                    </div>
                    @*  <div>
                    <label for="">重新上傳時刻表</label>
                    <input id="EditUpFiles" type="file" name="UpFiles" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /><span id="EditUpFilesmessage" style="color: red"></span>
                </div>*@

                    <div class="confirm-group">
                        <input id="CarlineId" class="CarlineId" type="hidden" />
                        <a href="" class="btn btn-primary">取消</a>

                        <input id="UpdateLine" class="UpdateLine btn btn-success" type="button" value="確定" />
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            //$("tbody").tableDnD({
            //    onDragClass: "showDragHandle",
            //    onDrop: function(table, row) {
            //        var rows = table.rows;
            //        var map = "";
            //        for (var i = 0; i < rows.length; i++) {
            //            $(rows[i]).find(".position").val(i + 1);
            //            map += $(rows[i]).find("#CID").val() + ":" + (i + 1) + ",";
            //        }
            //        $("#sortData").val(map);
            //    }
            //});


        });

        $(".datepickers").datepicker();
        $(".datepicker").datepicker({
            minDate: $("#tomorrow").val(),
            inline: true
        });
        $("#StartDate").change(function () {
            $("#EndDate").val($("#yearhundred").val());

        });
        $("#AddLine").click(function () {

            $.ajax({
                url: '@Url.Action("GetCategory", "CarLine")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    var category = "";
                    $.each(data, function () {

                        var count = data["Count" + i].split('#');
                        if (count[0] === "0") {
                            category += '<option value="' + count[0] + '" selected>' + count[1] + "</option>";
                        } else {
                            category += '<option value="' + count[0] + '">' + count[1] + "</option>";
                        }
                        i++;
                    });
                    //console.log(status);
                    document.querySelector('#Category').innerHTML = category;
                }
            });
        });
        $("#CreateLine").click(function () {

            if ($("#CarId").val() === "") {
                $("#CarIdmessage").text("請輸入路線編號");
            } else {
                $("#CarIdmessage").text("");
            }
            if ($("#Subject").val() === "") {
                $("#Subjectmessage").text("請輸入路線名稱");
            } else {
                $("#Subjectmessage").text("");
            }
            if ($("#SubjectEn").val() === "") {
                $("#SubjectEnmessage").text("請輸入路線英文");
            } else {
                $("#SubjectEnmessage").text("");
            }
            if ($("#MaxPassengers").val() === "") {
                $("#MaxPassengersmessage").text("請輸入車上最大容客數");
            } else {
                $("#MaxPassengersmessage").text("");
            }
            if ($("#MinPassengers").val() === "") {
                $("#MinPassengersmessage").text("請輸入最低發車人數");
            } else {
                $("#MinPassengersmessage").text("");
            }
            if ($("#UpFiles").val() === "") {
                $("#UpFilesmessage").text("請上傳時刻表");
            } else {
                $("#UpFilesmessage").text("");
            }
            var str = $("#StartDate").val();
            var StartDateValid = dateValidationCheck(str);
            if (StartDateValid) {

                $("#StartDatemessage").text("");


            } else {
                $("#StartDatemessage").text("請輸入 YYYY/MM/DD 日期格式");
            }
            str = $("#EndDate").val();
            var EndDateValid = dateValidationCheck(str);
            if (EndDateValid) {

                $("#EndDatemessage").text("");


            } else {
                $("#EndDatemessage").text("請輸入 YYYY/MM/DD 日期格式");
            }
            if ($("#UpFiles").val().substring($("#UpFiles").val().lastIndexOf('.'), $("#UpFiles").val().length) === ".xls" || $("#UpFiles").val().substring($("#UpFiles").val().lastIndexOf('.'), $("#UpFiles").val().length) === ".xlsx") {
                $("#UpFilesmessage").text("");
            } else {
                $("#UpFilesmessage").text("您上傳的檔案非EXCEL格式(.xls,.xlsx)");
            }

            if ($("#CarId").val() !== "" && $("#Subject").val() !== "" && $("#SubjectEn").val() !== "" && $("#MaxPassengers").val() !== "" && $("#MinPassengers").val() !== "" && $("#UpFiles").val() !== "" && $("#StartDate").val() && $("#CarIdmessage").text() === "" && $("#Subjectmessage").text() === "" && $("#SubjectEnmessage").text() === "" && $("#MaxPassengersmessage").text() === "" && $("#MinPassengersmessage").text() === "" && $("#UpFilesmessage").text() === "" && $("#StartDatemessage").text() === "" && $("#EndDatemessage").text() === "") {

                var CarId = $("#CarId").val();
                var Subject = $("#Subject").val();
                var SubjectEn = $("#SubjectEn").val();
                var MaxPassengers = $("#MaxPassengers").val();
                var MinPassengers = $("#MinPassengers").val();
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var Category = ($("#Category").val());

                var formData = new FormData();
                formData.append('CarId', CarId);
                formData.append('Subject', Subject);
                formData.append('SubjectEn', SubjectEn);
                formData.append('MaxPassengers', MaxPassengers);
                formData.append('MinPassengers', MinPassengers);
                formData.append('UpFiles', $('#UpFiles')[0].files[0]);
                formData.append('StartDate', StartDate);
                formData.append('EndDate', EndDate);
                formData.append('Category', Category);
                CreateCarLine(formData);
            }

            function CreateCarLine(formData) {
                console.log(UpFiles);
                $.ajax({
                    url: '@Url.Action("newindexAdd", "CarLine")',
                    //data: { CarId: CarId, Subject: Subject, SubjectEn: SubjectEn, MaxPassengers: MaxPassengers, MinPassengers: MinPassengers, UpFiles: UpFiles },
                    data: formData,
                    type: 'post',
                    contentType: false, // 告诉jQuery不要去這置Content-Type
                    processData: false, // 告诉jQuery不要去處理發送的數據 
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("新增成功");
                            location.href = '@Url.Action("newindex", "CarLine")';
                        } else {
                            alert("新增失敗，路線編號已存在");
                        }

                    }
                });
            }
        });
        $(".EditLine").click(function () {

            $.ajax({
                url: '@Url.Action("GetCategory", "CarLine")',
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    var i = 0;
                    var category = "";
                    $.each(data, function () {

                        var count = data["Count" + i].split('#');

                        category += '<option value="' + count[0] + '">' + count[1] + "</option>";

                        i++;
                    });
                    //console.log(status);
                    document.querySelector('#EditCategory').innerHTML = category;
                }
            });
            var ss = $(this).attr('Id');

            $.ajax({
                url: '@Url.Action("GetEditLineData", "CarLine")',
                data: { CarLineId: ss },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $("#CarlineId").val(data["Id"]);
                    $("#EditCarId").val(data["CarId"]);
                    $("#EditSubject").val(data["Subject"]);
                    $("#EditSubjectEn").val(data["SubjectEn"]);
                    $("#EditMaxPassengers").val(data["MaxPassengers"]);
                    $("#EditMinPassengers").val(data["MinPassengers"]);
                    $("#EditStartDate").val(data["StartDate"]);
                    $("#EditEndDate").val(data["EndDate"]);
                    $("#EditCategory").val(data["Category"]);
                }

            });



        });


        $("#UpdateLine").click(function () {
            if ($("#EditCarId").val() === "") {
                $("#EditCarIdmessage").text("請輸入路線編號");
            } else {
                $("#EditCarIdmessage").text("");
            }
            if ($("#EditSubject").val() === "") {
                $("#EditSubjectmessage").text("請輸入路線名稱");
            } else {
                $("#EditSubjectmessage").text("");
            }
            if ($("#EditSubjectEn").val() === "") {
                $("#EditSubjectEnmessage").text("請輸入路線英文");
            } else {
                $("#EditSubjectEnmessage").text("");
            }
            if ($("#EditMaxPassengers").val() === "") {
                $("#EditMaxPassengersmessage").text("請輸入車上最大容客數");
            } else {
                $("#EditMaxPassengersmessage").text("");
            }
            if ($("#EditMinPassengers").val() === "") {
                $("#EditMinPassengersmessage").text("請輸入最低發車人數");
            } else {
                $("#EditMinPassengersmessage").text("");
            }


            var str = $("#EditEndDate").val();

            var EditEndDateValid = dateValidationCheck(str);
            if (EditEndDateValid) {
                $("#EditEndDatemessage").text("");
            } else {
                $("#EditEndDatemessage").text("請輸入 YYYY/MM/DD 日期格式");
            }


            //if ($("#EditUpFiles").val() !== "") {

            //    if ($("#EditUpFiles").val().substring($("#EditUpFiles").val().lastIndexOf('.'), $("#EditUpFiles").val().length) === ".xls" || $("#EditUpFiles").val().substring($("#EditUpFiles").val().lastIndexOf('.'), $("#EditUpFiles").val().length) === ".xlsx")

            //        $("#EditUpFilesmessage").text("");
            //    else {
            //        $("#EditUpFilesmessage").text("您上傳的檔案非EXCEL格式(.xls,.xlsx)");
            //    }
            //}
            if ($("#EditCarId").val() !== "" && $("#EditSubject").val() !== "" && $("#EditSubjectEn").val() !== "" && $("#EditMaxPassengers").val() !== "" && $("#EditMinPassengers").val() !== "" && $("#EditCarIdmessage").text() === "" && $("#EditSubjectmessage").text() === "" && $("#EditSubjectEnmessage").text() === "" && $("#EditMaxPassengersmessage").text() === "" && $("#EditMinPassengersmessage").text() === "" && $("#EditUpFilesmessage").text() === "" && $("#EditEndDatemessage").text() === "") {
                var CarLineId = $("#CarlineId").val();
                var CarId = $("#EditCarId").val();
                var Subject = $("#EditSubject").val();
                var SubjectEn = $("#EditSubjectEn").val();
                var MaxPassengers = $("#EditMaxPassengers").val();
                var MinPassengers = $("#EditMinPassengers").val();
                var StartDate = $("#EditStartDate").val();
                var EndDate = $("#EditEndDate").val();
                var Category = ($("#EditCategory").val());


                var formData = new FormData();
                formData.append('Id', CarLineId);
                formData.append('CarId', CarId);
                formData.append('Subject', Subject);
                formData.append('SubjectEn', SubjectEn);
                formData.append('MaxPassengers', MaxPassengers);
                formData.append('MinPassengers', MinPassengers);
                formData.append('StartDate', StartDate);
                formData.append('EndDate', EndDate);
                formData.append('Category', Category);
                //formData.append('UpFiles', $('#EditUpFiles')[0].files[0]);


                UpdateCarLine(formData);
            }

            function UpdateCarLine(formData) {

                $.ajax({
                    url: '@Url.Action("EditLine", "CarLine")',
                    data: formData,
                    type: 'post',
                    contentType: false, // 告诉jQuery不要去這置Content-Type
                    processData: false, // 告诉jQuery不要去處理發送的數據 
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data["Message"] === "Success") {
                            $(".popup_tip").hide();
                            alert("修改成功");
                            location.href = '@Url.Action("newindex", "CarLine")';
                        } else {
                            alert("修改失敗，路線編號已存在");
                        }

                    }

                });
            }
        });


    </script>
    <style>
        .position {
            width: 27px;
        }
    </style>

}


