﻿@using MvcPaging
@using PtBusToSchool.Models
@model List<TimeSchedule>
@{
    ViewBag.Title = "時刻表";
}

<h2>@ViewBag.Subject 
  <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁" />
</h2>

<ul class="infoList">
    <li><b>新增者</b> <span>@ViewBag.Poster</span></li>
    <li><b>新增日期</b> <span>@ViewBag.InitDate</span></li>
    <li><b>路線資訊更新者</b> <span>@ViewBag.lineUpdater</span></li>
    <li><b>路線資訊更新日期</b> <span>@ViewBag.lineUpdateDate</span></li>
    
</ul>
<div class="label-tab-content" width="100%">
<table id="fixTable" class="table timeTable" >
    <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarNo)
            </th>

            @{ string[] carlinearr = ViewBag.AllLine.Split('→'); }
            @foreach (var item in carlinearr)
            {
            <th>@item</th>
            }
    </tr>
    <tbody>
        
           @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarNo)
                </td>
                @{
                string[] timearr = item.Time.Split('、');
                }
                @foreach (var items in timearr)
                {
                    <td>@items</td>
                }
              
            </tr>
            }

    </tbody>
</table>
</div>