﻿@{
    ViewBag.Title = "up";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="editor-field">
        <input type="file" name="UpImageFiles" />


    </div>
    <p>
        <input type="submit" value="上傳" />
    </p>
}