﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.CarType

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>CarType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Type,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarType>.GetDisplayName("Type") })
            @Html.ValidationMessageFor(model => model.Type)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
