﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.CarType

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CarType</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Type,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.CarType>.GetDisplayName("Type") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <div align="center">
            <input class="btn btn-primary" type="submit" value="更新" /> 
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
