﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.TimeSchedule

@{
    ViewBag.Title = "站到站時刻表新增";
}

<h2>新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   <div style="color: red"> @ViewBag.Message</div>
    <fieldset>
        <legend>TimeSchedule</legend>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.CarNo)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.CarNo,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.TimeSchedule>.GetDisplayName("CarNo") })
            @Html.ValidationMessageFor(model => model.CarNo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarLineId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CarLineId")
            @Html.ValidationMessageFor(model => model.CarLineId)
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Time)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.Time,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.TimeSchedule>.GetDisplayName("Time") })
            @Html.ValidationMessageFor(model => model.Time)
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.FileName)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.FileName,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.TimeSchedule>.GetDisplayName("FileName") })
            @Html.ValidationMessageFor(model => model.FileName)
       
            
        </div>
            <div>
             <input type="checkbox" name="updateTorF" />只匯入時間(不會入第一欄的站點)
        </div>
       <div class="editor-field">
            <input type="file" name="UpFiles" />

        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
