﻿@model PtBusToSchool.Models.TimeSchedule

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3 style="text-align: center;padding: 10px;color:red;">你確定要刪除嗎?</h3>
<fieldset>
    <legend>TimeSchedule</legend>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div align="center">
        <input class="btn btn-danger" type="submit" value="刪除" /> |
        <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
    </div>
}
