﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.TimeSchedule
@{
    ViewBag.Title = "站到站時刻表編輯";
}

<h2>站到站時刻表</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     @ViewBag.Message
    <fieldset style="text-align: center;">
        <legend>TimeSchedule</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label"  style="display: none">
            @Html.LabelFor(model => model.CarNo)
        </div>
        <div class="editor-field"  style="display: none">
            @Html.TextBoxFor(model => model.CarNo,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.TimeSchedule>.GetDisplayName("CarNo") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarLineId)
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("CarLineId")
            @Html.ValidationMessageFor(model => model.CarLineId)*@
           @Model.LineName.Subject
        </div>

        <div class="editor-label"  style="display: none">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field"  style="display: none">
            @Html.TextBoxFor(model => model.Time,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.TimeSchedule>.GetDisplayName("Time") })
           
        </div>

        <div class="editor-label"  style="display: none">
            @Html.LabelFor(model => model.FileName)
        </div>
        <div class="editor-field"  style="display: none">
            @Html.TextBoxFor(model => model.FileName,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.TimeSchedule>.GetDisplayName("FileName") })
           
        </div>

       
        <div>
           
            <input type="checkbox" name="updateTorF"/>只匯入時間(不會入第一欄的站點)
        </div>
          <div>
              <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
        </div>
        <div class="editor-field">
            <input type="file" name="UpFiles"/>

        </div>
        
      @Html.HiddenFor(model => model.CarLineId)
      @*@Html.HiddenFor(model => model.LineName)*@
        @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <div align="center">
            <input class="btn btn-primary" type="submit" value="更新" />
            <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
