﻿@using MvcPaging
@using PtBusToSchool.Models
@model MvcPaging.IPagedList<PtBusToSchool.Models.TimeSchedule>

@{
    ViewBag.Title = "站到站時刻列表";
   
}

<h2>站到站時刻列表</h2>
@if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
{
    int parentid = Convert.ToInt16(Request.Url.Segments[3]);
    <p>
          
    @Html.ActionLink("重新上傳", "Edit", new { id = parentid })
    </p>
}
else
{
   <div class="top">
    @Html.ActionLink("新增", "Create", new { ParentId = @ViewBag.ParentId },new { @class = "btn btn-primary" })
</div>
    
}

@if (Request.Url.Segments.Length == 4 && Request.Url.Segments[3] != "0")
{
}
else
{


    using (Html.BeginForm())
     {
         <div>
             @Html.DisplayNameFor(model => model.FirstOrDefault().CarLineId)：@Html.DropDownList("SearchByCarLineId", (IEnumerable<SelectListItem>) ViewBag.CarLineId, "請選擇")
          

         </div>
         <div>
             發布日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker"/>
         </div>
         <div>
             <input type="submit" value="搜尋"/>
         </div>


     }
}
    <div align="center">
    所在位置: @Html.ActionLink("最上層", "Index", new { id = 0 })@Html.Raw(ViewBag.Path)
</div>

<div style="color:red;text-align: center;">@ViewBag.Message </div>

<table class="table table-v">
    <tr>

        @if (Request.Url.Segments.Length ==4&& Request.Url.Segments[3] != "0")
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarNo)
            </th>
            string[] carlinearr = ViewBag.AllLine.Split('→');

            foreach (var item in carlinearr)
            {
            <th>@item</th>
            }

        }
        else
        {

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarLineId)
            </th>
        }


    </tr>
    <tbody>
        @if (Request.Url.Segments.Length == 2 || Request.Url.Segments.Length == 4 && Request.Url.Segments[3] == "0")
        {
            foreach (var item in Model.Where(x => x.ParentId == null))
            {
            <tr>
                <td>
                    @Html.ActionLink(item.LineName.Subject, "Index", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id },new { @class = "btn btn-primary" }) 
                      @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id },new { @class = "btn btn-danger" })
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
            }
        }
        else
        {

            int parentid = Convert.ToInt16(Request.Url.Segments[3]);
            foreach (var item in Model.Where(x => x.ParentId == parentid).OrderBy(x => x.CarNo).OrderBy(x=>x.Id))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarNo)
                </td>
                @{
                string[] timearr = item.Time.Split('、');
                }
                @foreach (var items in timearr)
                {
                    <th>@items</th>
                }
              
            </tr>
            }



        }

    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}












