﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.SendMail

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>SendMail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.SendMail>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.SendMail>.GetDisplayName("Email") })
            @Html.ValidationMessageFor(model => model.Email)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SuccessMail)

        </div>
        <div class="editor-field">
                 @Html.DropDownListFor(model => model.SuccessMail, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType)),BooleanType.否))
            @Html.ValidationMessageFor(model => model.SuccessMail)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FailMail)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FailMail, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType)),BooleanType.否))
            @Html.ValidationMessageFor(model => model.FailMail)
       
            
        </div>

        <p>
            <input type="submit" class="btn btn-success" value="新增" /><input type="button" class="btn btn-primary" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
