﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.SendMail

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SendMail</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.SendMail>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.SendMail>.GetDisplayName("Email") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SuccessMail)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SuccessMail, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.SuccessMail)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FailMail)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FailMail, new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.FailMail)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
