﻿
@using MvcPaging
@using PtBusToSchool.Helpers
@model MvcPaging.IPagedList<PtBusToSchool.Models.SendMail>

@{
    ViewBag.Title = "收信人列表";
}

<h2>收信人列表</h2>


    @Html.ActionLink("新增", "Create",null,new {@class="btn btn-primary"})


 @*   @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)：@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().SuccessMail)：@Html.DropDownList("SearchBySuccessMail", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))),"請選擇")
                     @Html.DisplayNameFor(model => model.FirstOrDefault().FailMail)：@Html.DropDownList("SearchByFailMail", new SelectList(Enum.GetValues(typeof(PtBusToSchool.Models.BooleanType))),"請選擇")
        
	</div>
	<div>
	發布日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SuccessMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FailMail)
        </th>
    @*    <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>*@
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuccessMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailMail)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>*@
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id },new{@class="btn btn-primary"}) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id },new{@class="btn btn-danger"})
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

