﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Illegalsetting

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Illegalsetting</legend>
<div class="input-text-group">
    <div>
            <font color="red">*</font><Label for="">未報到次數</Label>
             <input id="Illegalnum" name=Illegalnum onkeyup="value = value.replace(/[^\d]/g, '')"/>
               <div id="Illegalnummessage" style="color: red"></div>
             @Html.ValidationMessageFor(model => model.Illegalnum)
    </div>
    <div>
            <font color="red">*</font><Label for="">應停權天數</Label>

             <input id="Illegalday" name=Illegalday onkeyup="value = value.replace(/[^\d]/g, '')"/>
              <div id="Illegaldaymessage" style="color: red"></div>
            @Html.ValidationMessageFor(model => model.Illegalday)
        
    </div>
</div>

       
      <p>
        <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁"/>
            <input  type="submit" disabled="disabled" class="btn btn-primary jq-btn" value="確定"/>
    </p>
           
       
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Illegalday").keyup(function () {
            checknull();
        });
        $("#Illegalnum").keyup(function () {
            checknull();
        });

        function checknull() {
            if ($("#Illegalday").val() !== "" && $("#Illegalnum").val() !== "") {
                $("#Illegaldaymessage").text("");
                $("#Illegalnummessage").text("");
                
                $('.jq-btn').prop("disabled", false);
            } else {
                if ($("#Illegalday").val() === "" && $("#Illegalnum").val() !== "") {
                    $("#Illegaldaymessage").text("請輸入違規停權天數");
                    $("#Illegalnummessage").text("");
                    $('.jq-btn').prop("disabled", true);
                } else if ($("#Illegalnum").val() === "" && $("#Illegalday").val() !== "") {
                    $("#Illegalnummessage").text("請輸入未報到次數");
                    $("#Illegaldaymessage").text("");
                    $('.jq-btn').prop("disabled", true);
                } else {
                    $("#Illegaldaymessage").text("請輸入違規停權天數");
                    $("#Illegalnummessage").text("請輸入未報到次數");
                    $('.jq-btn').prop("disabled", true);
                }
            }
        }
    </script>

}
