﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Illegalsetting

@{
    ViewBag.Title = "累計違規規則新增";
}

<style>
    fieldset {
        width: 250px;
        /*margin: 0 auto;*/
    }
</style>


    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
   

        <div class="editor-label">
           <font color="red">*</font> <Label for="">累計未報到次數</Label>

        </div>
        <div class="editor-field">
            <input id="CumulativeIllegalnum" name=CumulativeIllegalnum onkeyup="value = value.replace(/[^\d]/g, '')"/>
                <div id="CumulativeIllegalnummessage" style="color: red"></div>
         @Html.ValidationMessageFor(model => model.CumulativeIllegalnum)  
          

        </div>

        <div class="editor-label">
            <font color="red">*</font>  <Label for="">累計未報到停權天數</Label>

        </div>
        <div class="editor-field">
            <input id="CumulativeIllegalday" name=CumulativeIllegalday onkeyup="value = value.replace(/[^\d]/g, '')"/>
              <div id="CumulativeIllegaldaymessage" style="color: red"></div>
            @Html.ValidationMessageFor(model => model.CumulativeIllegalday)  <font color="red">@ViewBag.CumulativeIllegaldayMessage</font>
       
            
        </div>

        
         <div class="confirm-group"> 
            <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁"/>
            <input type="submit" disabled="disabled" class="btn btn-success jq-btn" value="確定"/>
        </div>
           
        
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#CumulativeIllegalday").keyup(function() {
            checknull();
        });
        $("#CumulativeIllegalnum").keyup(function() {
            checknull();
        });

        function checknull() {
            if ($("#CumulativeIllegalday").val() !== "" && $("#CumulativeIllegalnum").val() !== "") {
                $("#CumulativeIllegaldaymessage").text("");
                $("#CumulativeIllegalnummessage").text("");
                $('.jq-btn').prop("disabled", false);
            } else {
                if ($("#CumulativeIllegalday").val() === "" && $("#CumulativeIllegalnum").val() !== "") {
                    $("#CumulativeIllegaldaymessage").text("請輸入累計違規停權天數");
                    $("#CumulativeIllegalnummessage").text("");
                    $('.jq-btn').prop("disabled", true);
                } else if ($("#CumulativeIllegalnum").val() === "" && $("#CumulativeIllegalday").val() !== "") {
                    $("#CumulativeIllegalnummessage").text("請輸入累計未報到次數");
                    $("#CumulativeIllegaldaymessage").text("");
                    $('.jq-btn').prop("disabled", true);
                } else {
                    $("#CumulativeIllegaldaymessage").text("請輸入累計違規停權天數");
                    $("#CumulativeIllegalnummessage").text("請輸入累計未報到次數");
                    $('.jq-btn').prop("disabled", true);
                }
            }
        }
    </script>
}
