﻿
@using PtBusToSchool.Models
@model PtBusToSchool.Models.Illegalsetting

@{
    ViewBag.Title = "編輯";
}

<style>
    fieldset {
        width: 250px;
        /*margin: 0 auto;*/
    }
</style>

<h2>編輯</h2>

    @using (Html.BeginForm())
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Illegalsetting</legend>

        @Html.HiddenFor(model => model.Id)

        @if (Model.Illegalnum.HasValue)
        {
            <div class="editor-label">
              <font color="red">*</font>  @Html.LabelFor(model => model.Illegalnum)
            </div>
            <div class="editor-field">
             
        <input id="Illegalnum" name=Illegalnum onkeyup="value = value.replace(/[^\d]/g, '')" value="@Model.Illegalnum"/>
                  <div id="Illegalnummessage" style="color: red"></div>
             @Html.ValidationMessageFor(model => model.Illegalnum)
            </div>

            <div class="editor-label">
            <font color="red">*</font>    @Html.LabelFor(model => model.Illegalday)
            </div>
            <div class="editor-field">

                <input id="Illegalday" name=Illegalday onkeyup="value = value.replace(/[^\d]/g, '')" value="@Model.Illegalday"/>
                   <div id="Illegaldaymessage" style="color: red"></div>
            @Html.ValidationMessageFor(model => model.Illegalday)
            </div>

        }
        else if (Model.CumulativeIllegalnum.HasValue)
        {
            <div class="editor-label">
              <font color="red">*</font>  @Html.LabelFor(model => model.CumulativeIllegalnum)
            </div>
            <div class="editor-field">

                <input id="CumulativeIllegalnum" name=CumulativeIllegalnum onkeyup="value = value.replace(/[^\d]/g, '')" value="@Model.CumulativeIllegalnum"/>
                  <div id="CumulativeIllegalnummessage" style="color: red"></div>
         @Html.ValidationMessageFor(model => model.CumulativeIllegalnum)  
            </div>

            <div class="editor-label">
            <font color="red">*</font>    @Html.LabelFor(model => model.CumulativeIllegalday)
            </div>
            <div class="editor-field">
                <input id="CumulativeIllegalday" name=CumulativeIllegalday onkeyup="value = value.replace(/[^\d]/g, '')" value="@Model.CumulativeIllegalday"/>
                   @Html.ValidationMessageFor(model => model.CumulativeIllegalday)  <font color="red">@ViewBag.CumulativeIllegaldayMessage</font>
       
            </div>
        }
        else
        {
               <div class="editor-label">
            <font color="red">*</font>    @Html.LabelFor(model => model.ForeverStopCumulativeIllegalnum)
            </div>
            <div class="editor-field">

                <input id="ForeverStopCumulativeIllegalnum" name=ForeverStopCumulativeIllegalnum onkeyup="value = value.replace(/[^\d]/g, '')" value="@Model.ForeverStopCumulativeIllegalnum"/>
                  <div id="ForeverStopCumulativeIllegalnummessage" style="color: red"></div>
         @Html.ValidationMessageFor(model => model.ForeverStopCumulativeIllegalnum)
            </div>

     
        }
     
       

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <div class="confirm-group">
            <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁" />
               <input type="submit"  class="btn btn-success jq-btn" value="確定"/> 
        </div>
    </fieldset>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $("#Illegalday").keyup(function () {
        
        checknull();
    });
    $("#Illegalnum").keyup(function () {
        checknull();
    });

    function checknull() {
        if ($("#Illegalday").val() !== "" && $("#Illegalnum").val() !== "") {
            $("#Illegaldaymessage").text("");
            $("#Illegalnummessage").text("");
            $('.jq-btn').prop("disabled", false);
        } else {
            if ($("#Illegalday").val() === "" && $("#Illegalnum").val() !== "") {
                $("#Illegaldaymessage").text("請輸入違規停權天數");
                $("#Illegalnummessage").text("");
                $('.jq-btn').prop("disabled", true);
            } else if ($("#Illegalnum").val() === "" && $("#Illegalday").val() !== "") {
                $("#Illegalnummessage").text("請輸入未報到次數");
                $("#Illegaldaymessage").text("");
                $('.jq-btn').prop("disabled", true);
            } else {
                $("#Illegaldaymessage").text("請輸入違規停權天數");
                $("#Illegalnummessage").text("請輸入未報到次數");
                $('.jq-btn').prop("disabled", true);
            }
        }
    }

    $("#ForeverStopCumulativeIllegalnum").keyup(function () {

        checknullforever();
    });

    function checknullforever() {
        if ($("#ForeverStopCumulativeIllegalnum").val() !== "") {
            $("#ForeverStopCumulativeIllegalnummessage").text("");
            $('.jq-btn').prop("disabled", false);
        } else {
            if ($("#ForeverStopCumulativeIllegalnum").val() === "") {
                $("#ForeverStopCumulativeIllegalnummessage").text("請輸入永久停權累計違規次數");
                $('.jq-btn').prop("disabled", true);
            }
        }
    }
  
       $("#CumulativeIllegalday").keyup(function() {
           checknullCumulative();
       });
    $("#CumulativeIllegalnum").keyup(function() {
        checknullCumulative();
    });

    function checknullCumulative() {
        if ($("#CumulativeIllegalday").val() !== "" && $("#CumulativeIllegalnum").val() !== "") {
            $("#CumulativeIllegaldaymessage").text("");
            $("#CumulativeIllegalnummessage").text("");
            $('.jq-btn').prop("disabled", false);
        } else {
            if ($("#CumulativeIllegalday").val() === "" && $("#CumulativeIllegalnum").val() !== "") {
                $("#CumulativeIllegaldaymessage").text("請輸入累計違規停權天數");
                $("#CumulativeIllegalnummessage").text("");
                $('.jq-btn').prop("disabled", true);
            } else if ($("#CumulativeIllegalnum").val() === "" && $("#CumulativeIllegalday").val() !== "") {
                $("#CumulativeIllegalnummessage").text("請輸入累計未報到次數");
                $("#CumulativeIllegaldaymessage").text("");
                $('.jq-btn').prop("disabled", true);
            } else {
                $("#CumulativeIllegaldaymessage").text("請輸入累計違規停權天數");
                $("#CumulativeIllegalnummessage").text("請輸入累計未報到次數");
                $('.jq-btn').prop("disabled", true);
            }
        }
    }
   



    </script>

}
