﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.Illegalsetting

@{
    ViewBag.Title = "永久停權規則新增";
}


    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset style="width: 300px;">
   

        <div class="editor-label">
           <font color="red">*</font> <Label for="">永久停權累計未報到次數</Label>

        </div>
        <div class="editor-field">
             <input id="ForeverStopCumulativeIllegalnum" name=ForeverStopCumulativeIllegalnum onkeyup="value = value.replace(/[^\d]/g, '')"/>
            <div id="ForeverStopCumulativeIllegalnummessage" style="color: red"></div>
         @Html.ValidationMessageFor(model => model.ForeverStopCumulativeIllegalnum)


        </div>


        <div class="confirm-group">
          <input type="button" onclick="history.back()" class="btn btn-primary" value="上一頁" />
            <input type="submit" disabled="disabled" class="btn btn-success jq-btn" value="確定"/>
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

       <script>
           $("#ForeverStopCumulativeIllegalnum").keyup(function () {
               
               checknull();
           });
          
           function checknull() {
               if ($("#ForeverStopCumulativeIllegalnum").val() !== "" ) {
                   $("#ForeverStopCumulativeIllegalnummessage").text("");
               $('.jq-btn').prop("disabled", false);
               } else {
                   if ($("#ForeverStopCumulativeIllegalnum").val() === "" ) {
                       $("#ForeverStopCumulativeIllegalnummessage").text("請輸入永久停權累計違規次數");
                      $('.jq-btn').prop("disabled", true);
                   } 
               }
           }
    </script>
}
