﻿@using MvcPaging
@model MvcPaging.IPagedList<PtBusToSchool.Models.Illegalsetting>

@{
    ViewBag.Title = "停權規則管理";
}

<h2>@ViewBag.Title</h2>

<div class="top">
    @* @Html.ActionLink("新增", "Create") *@
     @* @Html.ActionLink("累計違規新增", "CumulativeCreate") *@

     <a id="" class="popup_btn btn btn-primary" href="#">新增</a>
     <a id="" class="popup_btn btn btn-primary" href="#">累計違規新增</a>
</div>

    @using (Html.BeginForm())
{
<div>
    
	</div>
    
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Illegalnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Illegalday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CumulativeIllegalnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CumulativeIllegalday)
        </th>
     
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Illegalnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Illegalday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CumulativeIllegalnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CumulativeIllegalday)
        </td>
      
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @Html.ActionLink("內容", "Details", new { id=item.Id }) | @
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>*@




<table class="table">
    <tr>
 <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Illegalnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Illegalday)
        </th>

        <tbody>
        @foreach (var item in Model.Where(x => x.Illegalnum.HasValue))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Illegalnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Illegalday)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new {id = item.Id}) |
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new {id = item.Id})
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
        </tbody>
       
    </tr>
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CumulativeIllegalnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CumulativeIllegalday)
        </th>

        <th></th>
        <tbody>
        @foreach (var item in Model.Where(x => x.CumulativeIllegalday.HasValue))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CumulativeIllegalnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CumulativeIllegalday)
                </td>

                <td>
                    @Html.ActionLink("編輯", "Edit", new {id = item.Id}) |
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new {id = item.Id})
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
     
        </tbody>
      
    </tr>
  
</table>

            <div class="pager">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            </div>









@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

