﻿@using MvcPaging
@using PtBusToSchool.Models
@model MvcPaging.IPagedList<PtBusToSchool.Models.Illegalsetting>

@{
    ViewBag.Title = "停權規則管理";
    List<TermsofService> termsofServices = ViewBag.TermofService;
}

<style>
    #content {
        /*background: aliceblue;*/
    }
</style>

<h2>@ViewBag.Title</h2>

<ul class="grid-card">
    <li>
        <h3>停權規則</h3>
        @if (Model.Where(x => x.Illegalnum.HasValue).ToList().Count == 0)
        {
            @Html.ActionLink("未報到規則新增", "Create", new { }, new { @class = "btn btn-primary" })
        }

        @Html.ActionLink("累計未報到規則新增", "CumulativeCreate", new { }, new { @class = "btn btn-primary" })
        @if (Model.Where(x => x.ForeverStopCumulativeIllegalnum.HasValue).ToList().Count == 0)
        {
            @Html.ActionLink("永久停權規則新增", "ForeverStopCreate", new { }, new { @class = "btn btn-primary" })
        }
        <div class="overflow">
            <table width="100%">
                @foreach (var item in Model.Where(x => x.Illegalnum.HasValue))
                {
                <tr>
                    <td width="65%" >未報到@(item.Illegalnum)次，停權@(item.Illegalday)天 </td>
                    <td>@Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                    <td></td>
                </tr>
                }
                @foreach (var item in Model.Where(x => x.CumulativeIllegalday.HasValue).OrderBy(x => x.CumulativeIllegalnum))
                {
                <tr>
                    <td width="">累計未報到@(item.CumulativeIllegalnum)次，停權@(item.CumulativeIllegalday)天 </td>
                    
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                }
                @foreach (var item in Model.Where(x => x.ForeverStopCumulativeIllegalnum.HasValue).OrderBy(x => x.ForeverStopCumulativeIllegalnum))
                {
                    <td width="">累計未報到@(item.ForeverStopCumulativeIllegalnum)次，永久停權 </td>
                    <td>@Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })</td>

                }
            </table>
        </div>
       
    </li>
    <li>
        
        @if (termsofServices.Count==0)
        {
            @Html.ActionLink("服務條款新增", "Create", "TermsofService", new {}, new {@class = "btn btn-success"})
        }
        else
        {
            <h3>服務條款 </h3>
            foreach (var item in termsofServices)
            {
                <div class="conform-group">
                    <div><b>@item.InitDate.Value.Date.ToString("yyyy/MM/dd")， 
                    @if (!string.IsNullOrEmpty(item.Updater))
                    {
                        @item.Updater <acronym >更新</acronym>
                    }
                    else
                    {
                          @item.Poster<acronym > 建立</acronym>
                    }
                      </b>  </div>
                    @Html.ActionLink("編輯", "Edit", "TermsofService", new {id = item.Id}, new {@class = "btn btn-primary"})
                </div>

                <div class="overflow">@Html.Raw(item.Content)</div>
               
            }

        }


    </li>
    <div class="clear"></div>
</ul>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

