﻿<p>親愛的 DRTS 網站會員您好：</p>
<p>您是否忘記您在DRTS帳號資訊了呢？<br />DRTS網站收到您的密碼重設要求，故發出這封「忘記密碼通知」信函。</p>
<p>為保護您的資料，以下提供您新的會員密碼，請您務必儘快登入<a href ='http://ptdrts.myerstone.com.tw'>DRTS</a>網站，至 變更密碼 重新設定您的密碼，謝謝！</p>
<p>
    帳號: ##account##<br/>
    密碼: ##password##<br/>
    ================================================
</p>
本電子郵件之內容及其附件係由 DRTS網站所傳送，所含之資料僅供指定之收件人使用。<br/>
除了本電子郵件所指定之收件人外，任何人或公司不得就本電子郵件全部或部分之內容為閱讀、複製、轉寄、公開、保存或為其他使用。<br/>
若您非指定之收件人，請立即通知DRTS網站管理員，並完全刪除本電子郵件，謝謝您的合作。