﻿<p>管理者您好：</p>

<p>您是否忘記派完##tomorrow##所有的班次的車呢？</p>
<p>DRTS網站媒合時發現有班次未派車，故發出這封「未媒合通知」信函。</p>

<p>為保護預約學生的權力，請您盡快登入DRTS的網站進行派車媒合 <a href ='http://ptdrts.myerstone.com.tw/Sendcar/Sendcarindex'>DRTS</a>，以確保明天能正常運作，謝謝！</p>

 <p>================================================</p>
本電子郵件之內容及其附件係由 DRTS網站所傳送，所含之資料僅供指定之收件人使用。<br/>
除了本電子郵件所指定之收件人外，任何人或公司不得就本電子郵件全部或部分之內容為閱讀、複製、轉寄、公開、保存或為其他使用。<br/>
若您非指定之收件人，請立即通知DRTS網站管理員，並完全刪除本電子郵件，謝謝您的合作。