﻿@using MvcPaging
@using PtBusToSchool.Helpers
@using PtBusToSchool.Models
@model IQueryable<SendCar>

@{
    ViewBag.Title = "班表";
    List<Driver> driverlist = ViewBag.drivers;
    List<SendCar> sendCars = Model.ToList();
    var linename = "";
}

@if (ViewBag.select){
<h2>@ViewBag.date 班表 <input type="button" class="btn btn-primary" id="backSendcar" value="回派遣列表"/></h2>
}else{
<h2>班表 <input type="button" class="btn btn-primary" id="backSendcar" value="回派遣列表"/></h2>
}
@using (Html.BeginForm())
{
    <div class="input-text-group">
        <div>
            <label for="">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Drivers)
            </label>
            @Html.InputSearchBox("SearchByDrivers", ViewData["SearchByDrivers"])
            <label for="">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cars)
            </label>
            @Html.InputSearchBox("SearchByCars", ViewData["SearchByCars"])

            <input class="btn btn-primary" type="submit" value="搜尋" />


        </div>
    </div>

}
<input id="ClassId" class="ClassId" value="@Request.Url.Segments[3]" type="hidden" />

<div style="height: 40px;"></div>

@if (ViewBag.select)
{
  
    <table class="table">
        <tr>
            <th>
               路線
            </th>
            @*<th> @Html.DisplayNameFor(model => model.FirstOrDefault().TimeScheduleId)</th>*@
            <th>發車時間</th>
            <th>媒合前的派車</th>
            <th>媒合後更換的派車</th>
            <th>媒合前的駕駛</th>

            <th>媒合後更換的駕駛</th>

            <th></th>
        </tr>
        <tbody>
            @foreach (var item in sendCars)
            {
                string[] peoplearr = item.People.Split('、');
                Boolean havepeople = false;
                foreach (var peoplearritem in peoplearr)
                {
                    if (peoplearritem != "0:0")
                    {
                        havepeople = true;
                        break;
                    }
                }
                if (havepeople)
                {

                    <tr>
                        <td>@item.ParentSendCar.LineName.CarId @item.ParentSendCar.LineName.Subject</td>
                        @*<td>@item.CarNoTime.CarNo</td>*@

                        @{ string[] timearr = item.CarNoTime.Time.Split('、');}
                        <td>@timearr[0]</td>
                        @if (item.Cars != null)
                        {
                            string[] carid = item.Cars.Split('、');
                            <td>
                                @for (int i = 0; i < carid.Length; i++)
                                {
                                    <div>@carid[i]</div>
                                }
                            </td>
                        }
                        else
                        {
                            <td>選擇不派車</td>
                        }
                        @if (item.ChangeCars != null)
                        {
                            string[] carid = item.ChangeCars.Split('、');
                            <td>
                                @for (int i = 0; i < carid.Length; i++)
                                {
                                    <div style="color: red">@carid[i]</div>
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        @if (item.Drivers != null)
                        {
                            string[] drivers = item.Drivers.Split('、');
                            <td>
                                @for (int i = 0; i < drivers.Length; i++)
                                {
                                    int driverId = Convert.ToInt16(drivers[i]);
                                    foreach (var driverlistitem in driverlist.Where(x => x.Id == driverId))
                                    {
                                        <div>@driverlistitem.Subject</div>
                                    }

                                }
                            </td>
                        }
                        else
                        {
                            <td>無</td>
                        }

                        @if (item.ChangeDrivers != null)
                        {
                            string[] drivers = item.ChangeDrivers.Split('、');
                            <td>
                                @for (int i = 0; i < drivers.Length; i++)
                                {
                                    int driverId = Convert.ToInt16(drivers[i]);
                                    foreach (var driverlistitem in driverlist.Where(x => x.Id == driverId))
                                    {
                                        <div style="color: red">@driverlistitem.Subject</div>
                                    }

                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td>
                            @if (ViewBag.Have)
                            {
                                DateTime sendcartime = Convert.ToDateTime(item.ParentSendCar.ParentSendCar.StartDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd") + " " + Convert.ToDateTime(timearr[0]).ToString("HH:mm"));
                                if (DateTime.Now < sendcartime)
                                {
                                    <input type="button" class="popup_btn btn btn-primary change" id="@item.Id" href="#ChangePanel" value="更換駕駛或車子"/>
                                }

                            }

                        </td>
                    </tr>
                      }
            }



        </tbody>
    </table>

}

else
{
    foreach (var item in sendCars.Where(x => x.Level == 2))
    {
        if (item.ChildSendCar.Where(x => x.ParentId == item.Id).Any())
        {

    <h3>

       @ViewBag.date @item.LineName.CarId (@item.LineName.Subject)

    </h3>

    <table class="table">
        <tr>

            @*<th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TimeScheduleId)
            </th>*@
            <th>發車時間</th>
            <th>發車車牌號碼</th>
            <th>駕駛</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var items in sendCars.Where(x => x.Level == 3 && x.ParentId == item.Id))
            {
                <tr>
                    
                    @*<td>@items.CarNoTime.CarNo</td>*@

                    @{
                string[] peoplearr = items.People.Split('、');
                Boolean havepeople = false;
                foreach (var peoplearritem in peoplearr)
                {
                    if (peoplearritem != "0:0")
                    {
                        havepeople = true;
                        break;
                    }
                }
                string[] timearr = items.CarNoTime.Time.Split('、');
                    }
                    <td>@timearr[0]</td>
                    @if (items.ChangeCars != null && havepeople)
                    {
                        string[] carid = items.ChangeCars.Split('、');
                        <td>
                            @for (int i = 0; i < carid.Length; i++)
                            {
                                <div>@carid[i]</div>
                            }
                        </td>

                    }
                    else if (items.Cars != null && havepeople)
                    {
                        string[] carid = items.Cars.Split('、');
                        <td>
                            @for (int i = 0; i < carid.Length; i++)
                            {
                                <div>@carid[i]</div>
                            }
                        </td>
                    }
                    else if (!havepeople)
                    {
                          <td>不發車</td>
                    }
                    else
                    {
                        if (items.CarNum == 0)
                        {
                        <td>選擇不派車</td>
                        }
                        else
                        {
                        <td>不發車</td>
                        }

                    }
                   @if (items.ChangeDrivers != null && havepeople)
                   {
                       string[] drivers = items.ChangeDrivers.Split('、');
                        <td>
                            @for (int i = 0; i < drivers.Length; i++)
                            {
                                int driverId = Convert.ToInt16(drivers[i]);
                                foreach (var driverlistitem in driverlist.Where(x => x.Id == driverId))
                                {
                                <div>@driverlistitem.Subject</div>
                                }

                            }
                        </td>
                   }
                   else if (items.Drivers != null && havepeople)
                   {
                       string[] drivers = items.Drivers.Split('、');
                        <td>
                            @for (int i = 0; i < drivers.Length; i++)
                            {
                                int driverId = Convert.ToInt16(drivers[i]);
                                foreach (var driverlistitem in driverlist.Where(x => x.Id == driverId))
                                {
                                <div>@driverlistitem.Subject</div>
                                }

                            }
                        </td>
                   }
                   else if (!havepeople)
                   {
                          <td>無</td>
                   }
                   else
                   {
                       if (items.CarNum == 0)
                       {
                        <td>選擇不派車</td>
                       }
                       else
                       {
                        <td>無</td>
                       }

                   }

                    <td>

                        @if (ViewBag.Have && items.Cars != null && items.Drivers != null)
                        {

                            DateTime sendcartime = Convert.ToDateTime(items.ParentSendCar.ParentSendCar.StartDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd") + " " + Convert.ToDateTime(timearr[0]).ToString("HH:mm"));
                            if (DateTime.Now < sendcartime && havepeople)
                            {
                                     <input type="button" class="popup_btn btn btn-primary change" id="@items.Id" href="#ChangePanel" value="更換駕駛或車子"/>
                            }

                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
        }
    }
}
<div id="ChangePanel" class="popup_background">
    <div class="popup_content animated bounceInUp">
        <div class="closepop">

            <h3 style="color: white">更換駕駛或車子</h3>
        </div>
        <div class="banner">
            <div class="popup_tip" id="iframehref">



            </div>


        </div>

    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
        $("#backSendcar").click(function () {
            location.href = '@Url.Action("Sendcarindex", "SendCar")';
 });
 $(".change").click(function () {
     var id = $(this).attr('id');
     var Classid = $("#ClassId").val()
     var iframehref = '<iframe src="http://ptdrts.myerstone.com.tw/SendCar/ChangeDriverCar?id=' + id + '" width="100%;" height="600px;" style=" border:none" ></iframe>';
     document.querySelector('#iframehref').innerHTML = iframehref;
 });
 $(".reload img").click(function () {
     window.location.reload();
 });
    </script>
}

