﻿@using MvcPaging
@using PtBusToSchool.Models
@model PtBusToSchool.Models.EndReservation
@{
    ViewBag.Title = "Change";
    Layout = null;
}

<script src="/Scripts/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="/Content/bootstrap.min.css?170628" />
<link href="/Content/style.css?170324" rel="stylesheet" />
<link href="/Content/style-edit.css?170324" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />
<link rel="stylesheet" href="/Content/fonts/font-awesome/css/font-awesome.min.css" />
<style>
  label {
    width: 130px;
  }
</style>
<h1 style="color: red">@ViewBag.message</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CarNo)
    @Html.HiddenFor(model => model.CarTime)
    @Html.HiddenFor(model => model.People)
    @Html.HiddenFor(model => model.SecondPeople)
    @Html.HiddenFor(model => model.Driver)
    @Html.HiddenFor(model => model.Car)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.GrandParentId)
    @Html.HiddenFor(model => model.Level)
	 @Html.HiddenFor(model => model.TotalKMForGoogle)
 <input type="hidden" name="oldcar" value="@ViewBag.oldCar">
    <div class="input-text-group">
        <div>
            <label for="">車子</label>

            @Html.DropDownList("CarId")
        </div>
        <div>
            <label for="">駕駛</label>
            @Html.DropDownList("DriverId")
        </div>
        <div class="confirm-group">

            <input class="btn btn-primary" type="button" onclick="history.back()" value="上一頁">
            <input class="btn btn-success" type="submit" value="確認" />
        </div>

    </div>



}
@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")