﻿@using MvcPaging
@using PtBusToSchool.Models
@model List<PtBusToSchool.Models.EndReservation>
@{
    ViewBag.Title = "ChangeDriverCar";
    Layout = null;
}

<script src="/Scripts/jquery-1.9.1.js"></script>

  <link href="/Content/style.css?170324" rel="stylesheet" />
    <link href="/Content/style-edit.css?170324" rel="stylesheet" />


    <link href="/Content/site.css" rel="stylesheet"/> <link rel="stylesheet" href="/Content/bootstrap.min.css?170628" />
<link rel="stylesheet" href="/Content/fonts/font-awesome/css/font-awesome.min.css"/>


<table class="Cartypelist table">
    <tbody>
    @foreach (var item in Model)
    {
          <tr>
              <td>@item.Car.CarType.Type</td>
              <td>@item.Car.Subject</td>
               <td>@item.Driver.Subject</td>
        <td style="text-align: right;">
            @*<input type="button" class=" btn-primary EditCartype" id="@item.Id" value="變更">*@
            @Html.ActionLink("變更", "Change", new {id = item.Id}, new {@class = "btn btn-primary"})
        </td>
    </tr>
    }
   
    </tbody>
</table>
<div class="confirm-group">

           <input type="button" class="btn btn-primary" id="close"  value="確定"/>
        </div>


@Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
<script>
    $('#close').click(function() {
        parent.location.reload();

    });
   
</script>