﻿@using PtBusToSchool.Models
@model PtBusToSchool.Models.SendCar

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>SendCar</legend>

        <div class="editor-label" >
            @Html.LabelFor(model => model.ParentId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("ParentId")
            @Html.ValidationMessageFor(model => model.ParentId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarLineId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CarLineId")
            @Html.ValidationMessageFor(model => model.CarLineId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeScheduleId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("TimeScheduleId")
            @Html.ValidationMessageFor(model => model.TimeScheduleId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.People)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.People,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.SendCar>.GetDisplayName("People") })
            @Html.ValidationMessageFor(model => model.People)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarNum,new { placeholder=ModelsAttributeHelper<PtBusToSchool.Models.SendCar>.GetDisplayName("CarNum") })
            @Html.ValidationMessageFor(model => model.CarNum)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
