﻿@model PtBusToSchool.Models.SendCar

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3 style="color:red;text-align: center;">你確定要刪除嗎?</h3>
<fieldset>
    <legend>SendCar</legend>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div align="center">
        <input class="btn btn-primary" type="submit" value="刪除" /> 
        <input class="btn btn-primary" type="button" onclick="history.back()" value="回到上一頁" />
    </div>
}
