﻿
@model PtBusToSchool.Models.SendCar

@{
    ViewBag.Title = "內容";
}

<h2>內容</h2>

<fieldset>
    <legend>SendCar內容</legend>
	<table>
	<tr>
	<td colspan="7">
	 PtBusToSchool.Models.SendCar
	</td>

	</tr>
	<tr>
    <td>
         欄位中文名稱
    </td>
    <td>
      欄位名稱
    </td>
	 <td>
       是否主索引
    </td>
	<td>
	是否唯讀
	</td>
	<td>
	 是否外索引
	</td>
	<td>
	型別
	</td>
</tr>

<tr>
    <td>
         @Html.DisplayNameFor(model => model.ParentSendCar.People)
    </td>
    <td>
       ParentId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 True
	</td>
	<td>
	 Int32
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.StartDate)
    </td>
    <td>
       StartDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.LineName.Subject)
    </td>
    <td>
       CarLineId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 True
	</td>
	<td>
	 Int32
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.CarNoTime.CarNo)
    </td>
    <td>
       TimeScheduleId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 True
	</td>
	<td>
	 Int32
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.People)
    </td>
    <td>
       People
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 String
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.CarNum)
    </td>
    <td>
       CarNum
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 Int32
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Level)
    </td>
    <td>
       Level
    </td>
	 <td>
       False
    </td>
	<td>
	 True
	</td>

	<td>
	 False
	</td>
	<td>
	 Int32
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Poster)
    </td>
    <td>
       Poster
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 String
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.InitDate)
    </td>
    <td>
       InitDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Updater)
    </td>
    <td>
       Updater
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 String
	</td>

</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.UpdateDate)
    </td>
    <td>
       UpdateDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>

	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>

</tr>
</table>
</fieldset>
<p>
    @Html.ActionLink("編輯","Edit", new { id=Model.Id }) |
     <input type="button" onclick="history.back()" value="上一頁" />
</p>
