﻿@using DotNetOpenAuth
@using PtBusToSchool.Models
@model PtBusToSchool.Models.SendCar

@{
    ViewBag.Title = "派車編輯";
    
    List<Cars> selectCars = ViewBag.AllCars;
}
    @if (ViewBag.EndReservations == 0)
           {
<h2>派車編輯</h2>}
else{
<h2>派車清單</h2>
}
<h1 style="color:red">@ViewBag.message</h1>
<h1 style="color: red">@ViewBag.messagetwo</h1>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SendCar</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.StartDate)
        @Html.HiddenFor(model => model.CarLineId)
        @Html.HiddenFor(model => model.TimeScheduleId)
        @Html.HiddenFor(model => model.GrandParentId)
        @Html.HiddenFor(model => model.People)
        @Html.HiddenFor(model => model.CarNum)

        @* <div><b>選擇派車</b></div> *@

         @if (ViewBag.EndReservations == 0)
           {
   
        
        <div class="input-select-group">
            <div>
                @Html.DropDownList("CarStyleId", "請選擇")
                
                <select id="Car" name="Car">
                    <option>------</option>
                </select>
                 <select id="Driver" name="Driver">
                    <option>------</option>
                </select>
                <a class="btn btn-primary ADDCars" style="cursor: pointer">加入</a>
            </div>
        </div>}
          @Html.Hidden("ID", Model.Id)
       @if (selectCars != null && selectCars.Count != 0)
       {
         <table class="table">
            <tr>
  @if (ViewBag.EndReservations == 0)
                  {
                       <th>勾選</th>
                  }
               
                <th>車牌號碼</th>
                <th>車種</th>
                <th>司機</th>
                <th>座位數</th>
                <th>立位數</th>
 @if (ViewBag.EndReservations == 0){
                <th>功能</th>}
            </tr>
       
        @foreach (var item in selectCars)
        {
            <tr>
              @if (ViewBag.EndReservations == 0)
           {
                
                    <td>
                            <input type="checkbox" Id="AllCars" name="AllCars" value="@item.Subject#@item.CarAndDriver.Id" checked="checked"></td>
                    
                }

                @*<td><input type="checkbox" name="AllCars" value="@item.Subject" checked="checked"></td>*@
                <td>@item.Subject</td>
                <td>@item.CarType.Type</td>
                <td>@item.CarAndDriver.Subject</td>
                <td>@item.SeatAmount</td>
                <td>@item.StandAmount</td>
 @if (ViewBag.EndReservations == 0){
                <td> 
  
                        
                            <input type="button" class="btn btn-danger DelCars" id="@item.Id" data-id="@item.DriverId" value="刪除"/>
                       
                      @Html.Hidden("CarId", item.Id)
                      @Html.Hidden("DriversId", item.DriverId)
                </td> }
   
            </tr>
        }
            

             </table>
       }
     

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.UpdateDate)
        <div class="confirm-group">
            <input class="btn btn-primary" type="button" id="goback" value="上一頁" />
 @if (ViewBag.EndReservations == 0)
            {
            <input class="btn btn-success" type="submit" value="確定" />
}       
 </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $('#CarNum').change(function() { ChangeCarNum(); });
            $('#CarStyleId').change(function () {
                ChangeCar();
            });
            $('#Car').change(function () {
                var selectedValue = $('#Car option:selected').val();
                GetDrivers(selectedValue);
            });
            $(".ADDCars").click(function() {
             AddCars();
            });
  $('#goback').click(function() {
                var Id = $('#ID').val();
                $.get("/SendCar/Goback", { Id: Id })
                  .done(function (data) {

                      window.location = "/Sendcar/SendCarDetails/" + data["Id"] + "?date=" + data["date"];
                  });
            });
            $(".DelCars").click(function () {
                 var selectedCarValue = $(this).attr('id');
                var selectedDriverValue = $(this).attr('data-id');
                var editId = $('#ID').val();
                $.get("/SendCar/DelCar", { CarId: selectedCarValue, DriverId: selectedDriverValue, editId: editId })
                        .done(function (data) {

                            window.location = "/SendCar/Edit/" + editId;
                        });
            });
        });

        function AddCars() {
            var selectedCarValue = $('#Car option:selected').val();
            var selectedDriverValue = $('#Driver option:selected').val();
           
            var editId = $('#ID').val();
            if ($.trim(selectedCarValue) !== "------" && $.trim(selectedCarValue) !== "" && $.trim(selectedDriverValue) !== "------" && $.trim(selectedDriverValue) !== "") {
                GetAllCars(selectedCarValue, selectedDriverValue, editId);
            } else {
                var selectedcarValue = $('#CarStyleId option:selected').val();
                if (selectedcarValue === "" || $.trim(selectedCarValue) !== "------" || $.trim(selectedCarValue) !== "" || $.trim(selectedDriverValue) !== "------" || $.trim(selectedDriverValue) !== "") {
                    alert("請確實選擇");
                }

            }
        }
       
        function GetDrivers(selectedValue) {
            $.ajax({
                url: '@Url.Action("GetDriver", "SendCar")',
                data: { CarId: selectedValue },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {

                    if (data.length > 0) {
                        $('#Driver').empty();
                        

                        $.each(data,
                            function (i, item) {


                                $('#Driver').append($('<option></option>').val(item.Key).text(item.Value));
                            });

                    }
                    if (data.length === 0) {
                        $('#Driver').empty();
                        $('#Driver').append($('<option></option>').val('').text('-------'));

                    }
                }
            });
        }

        function ChangeCar() {
            var selectedValue = $('#CarStyleId option:selected').val();

            if ($.trim(selectedValue) != "") {

                GetAllCar(selectedValue);


            } else {
                $('#Car').empty();
                $('#Car').append($('<option></option>').val('------').text('------'));
            }
        }


        function GetAllCar(CarStyleId) {
            $.ajax({
                url: '@Url.Action("GetCar", "SendCar")',
                data: { CarStyleId: CarStyleId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function(data) {

                    if (data.length > 0) {
                        $('#Car').empty();
                        $('#Car').append($('<option></option>').val('').text('請選擇'));

                        $.each(data,
                            function(i, item) {


                                $('#Car').append($('<option></option>').val(item.Key).text(item.Value));
                            });

                    }
                    if (data.length === 0) {
                        $('#Car').empty();
                        $('#Car').append($('<option></option>').val('').text('-------'));

                    }
                }
            });
        }



      @*  function GetAllCars(CarId) {
            $.ajax({
                url: '@Url.Action("AddCar", "SendCar")',
                data: { CarId: CarId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {

                    if (data.length > 0) {
                        $('#Car').empty();
                        $('#Car').append($('<option></option>').val('').text('請選擇'));

                        $.each(data,
                            function (i, item) {


                                $('#Car').append($('<option></option>').val(item.Key).text(item.Value));
                            });

                    }
                    if (data.length === 0) {
                        $('#Car').empty();
                        $('#Car').append($('<option></option>').val('').text('-------'));

                    }
                }
            });
        }*@
        function GetAllCars(selectedCarValue, selectedDriverValue, editId) {

            $.get("/SendCar/AddCar", {
                CarId: selectedCarValue, DriverId: selectedDriverValue, editId: editId
            })
                    .done(function (data) {
                       
                      window.location = "/SendCar/Edit/" + editId;
                    });

           }




        function ChangeCarNum() {

            var selectedValue = $('#CarNum option:selected').val();

        }
    </script>

}
