﻿@using MvcPaging
@model MvcPaging.IPagedList<PtBusToSchool.Models.SendCar>

@{
    ViewBag.Title = "車輛派遣及媒合管理";
}
<style>
    td:last-of-type {
        text-align: right;
    }
    table {
        width: 800px!important;
    }
</style>

<h2>@ViewBag.Title</h2>


@if (ViewBag.linename != null)
{
}
else if (ViewBag.carnotime != null)
{

}
else
{
    using (Html.BeginForm())
    {
    <div class="input-text-group">
    <div>
        <label for="">
           @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
           </label>

           <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
        <input type="submit" value="搜尋" />
      

    </div>
    </div>
  
   

    
    }
}

 <div align="center">
    所在位置: @Html.ActionLink("最上層", "Index", new { id = 0 })@Html.Raw(ViewBag.Path)
</div>


@if (ViewBag.linename != null)
{
       
    <table class="table table-v">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarLineId)
            </th>

            <th></th>
        </tr>
        <tbody>
        @{ int parentid = Convert.ToInt16(ViewBag.linename);
        }
        @foreach (var item in Model)
        {
            <tr>
                 @if (item.ChildSendCar.Where(x => x.ParentId == item.Id).Any())
                    {
                        <td>

                            @Html.ActionLink(item.LineName.Subject, "Index", new {id = item.Id})



                        </td>
                       }
            </tr>
        }
        </tbody>
    </table>


}
else if (ViewBag.carnotime != null)
{
  
    <table class="table table-v">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TimeScheduleId)
            </th>
            @{
    string[] carlinearr = ViewBag.carnotime.Split('→');
                      
            }

             <th>發車時間</th>
            @foreach (var item in carlinearr)
            {
                <th>@item</th>
            }
            <th>派車數</th>
             <th>載客數</th>
            <th></th>
        </tr>
        <tbody>
       
           
        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @item.CarNoTime.CarNo
                </td>
                @{
            string[] peoplearr = item.People.Split('、');
            int total = 0;
            string[] timearr = item.CarNoTime.Time.Split('、');
                }
                <td>@timearr[0]</td>
                @foreach (var items in peoplearr)
                {


                    string[] updownpeople = items.Split(':');
                    total += Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                    if (updownpeople[0] == "0" && updownpeople[1]=="0")
                    {
                        <td>X</td>
                    }
                    else
                    {
                        <td>
                        <div>上:@updownpeople[0]</div>
                       <div>下:@updownpeople[1]</div>
                        <div>車上人數:@total</div>
                    </td> 
                    }
                   

                }
                @if (item.CarNum.HasValue && item.CarNum != 0)
                {
                    <td>
                        @item.CarNum
                    </td>
                }
                else
                {
                    <td>
                        未派車
                    </td>
                }
                    @if (item.Passengers.HasValue && item.Passengers != 0)
                    {
                    <td>
                        @item.Passengers
                    </td>
                    }
                    else
                    {
                    <td>
                      
                    </td>
                    }
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                </td>



            </tr>
        }
        </tbody>
    </table>@*
        
        
    
    
    
    
    
    <h2>預約總人數</h2>
    
       <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TimeScheduleId)
            </th>
      

             <th>發車時間</th>
            @foreach (var item in carlinearr)
            {
                <th>@item</th>
            }
           
            <th></th>
        </tr>
        <tbody>
      
           
        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @item.CarNoTime.CarNo
                </td>
                @{
            string[] peoplearr = item.People.Split('、');
            string[] NoReservationpeoplearr = item.NoReservationPeople.Split('、');
            int totaluppeople = 0;
             int totaldownpeople = 0;
           
            int total = 0;
            string[] timearr = item.CarNoTime.Time.Split('、');
                }
                <td>@timearr[0]</td>
                @for (int i = 0; i < peoplearr.Length; i++)
                {
                    string[] updownpeople = peoplearr[i].Split(':');
                    string[] NoReservationupdownpeople = NoReservationpeoplearr[i].Split(':');     
                    totaluppeople = Convert.ToInt16(updownpeople[0]) + Convert.ToInt16(NoReservationupdownpeople[0]);
                    totaldownpeople = Convert.ToInt16(updownpeople[1]) + Convert.ToInt16(NoReservationupdownpeople[1]);
                    total += totaluppeople - totaldownpeople;
                    <td>
                        <div>上:@totaluppeople</div>
                       <div>下:@totaldownpeople</div>
                        <div>車上人數:@total</div>
                    </td>

                }
         
              
                



            </tr>
        }
        </tbody>
    </table>*@
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
}
else
{
    <table class="table table-v">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
            </th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model.Where(x => x.StartDate != null))
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.StartDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd"), "Index", new { id = item.Id, date = item.StartDate })
                    </td>
                    <td><p> @Html.ActionLink("查看班表", "Arrangeshifts", new { id = item.Id })</p></td>
                    <td>
                        <a class="btn btn-success match" style="cursor: pointer" >媒合</a>
                        @Html.Hidden("QID", item.Id)
                    </td>
                    <td>
                         @Html.ActionLink("刪除", "Delete", new { id = item.Id },new { @class = "btn btn-danger" })
                    </td> 
                </tr>
            }
        </tbody>
    </table>
}
@*@Html.ActionLink("媒合", "Match", new { id = item.Id })||*@

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $(".match").click(function() {
                if (!window.confirm('你確定要媒合嗎?')) {
                    return false;
                }
                var orderid = $(this).next().val();
               $.get("/StudentReservation/NewMatch", { id: orderid })
                    .done(function(data) {
                        alert("媒合已完成");
                        window.location = "/SendCar";
                    });
            });


        });


    </script>
}

