﻿@using MvcPaging
@using PtBusToSchool.Models
@model List<PtBusToSchool.Models.SendCar>

@{
    ViewBag.Title = "派遣清單";
    List<SendCar> btnsendcar = ViewBag.sendcars;
    int i = 0;
    }

<style>
  .table th,
  .table td {
    text-align: center;
  }
  h2 .btn {
  	margin-right: 5px;
  }
</style>

<h2>@ViewBag.StartDate  



       @foreach (var item in btnsendcar)
       {

           foreach (var items in item.ChildSendCar)
           {
               
               i++;
               if (i == 1)
               {
                    Boolean YN = false;
                   foreach (var itemss in items.ChildSendCar)
                   {
                       if (itemss.CarNum.HasValue && itemss.CarNum >= 0)
                       {
                           YN = true;
                       }
                       else
                       {
                           YN = false;
                       }

                   }
                  
                     @items.LineName.CarId
                       <span>的派遣管理</span>

                
                   <div></div>
               }
               if (i != 1)
               {
                   Boolean YN = false;
                   foreach (var itemss in items.ChildSendCar)
                   {
                       if (itemss.CarNum.HasValue && itemss.CarNum >= 0)
                       {
                           YN = true;
                       }
                       else
                       {
                           YN = false;
                       }

                   }
                   if (YN)
                   {
                     
                            @Html.ActionLink(items.LineName.CarId, "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-primary" })
                      

                   }
                   else
                   {
                      
                              @Html.ActionLink(items.LineName.CarId, "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-danger" })
                     
                   }
               }


           }
       }

<input type="button" class="btn btn-primary" id="backSendcar" value="回派遣列表"/>

    </h2>


    <table class="table" style="width: 2000px">
        <tr>
       
          
            @{
                string[] carlinearr = ViewBag.carnotime.Split('→');
                      
            }

             <th>發車時間</th>
            @foreach (var item in carlinearr)
            {
                <th>@item</th>
            }
            
            
             
        </tr>
        <tbody>
       
           
        @foreach (var item in Model)
        {
            <tr>
              
             
                @{
            string[] peoplearr = item.People.Split('、');
            int total = 0;
            string[] timearr = item.CarNoTime.Time.Split('、');
 Boolean show = false;
                }
  @foreach (var items in peoplearr)
                {
                    if (items != "0:0")
                    {
                        show = true;
                        break;
                    }
                }
                @if (show)
                {
                <td>@timearr[0]<div>
                        @if (item.CarNum.HasValue && item.CarNum != 0)
                {
                   
                        @Html.ActionLink("已派"+item.CarNum+"台車", "Edit", new {id = item.Id}, new {@class = "btn btn-primary"}) 
           
                   
                }
                else
                {
                    if (item.CarNum == 0)
                    {
                        
                             @Html.ActionLink("選擇不派車", "Edit", new {id = item.Id}, new {@class = "btn btn-primary"}) 
           
                        
                    }
                    else
                    {
                        
                          @Html.ActionLink("派車", "Edit", new {id = item.Id}, new {@class = "btn btn-primary"}) <input type="button" class="btn btn-danger NoSend" id="@item.Id" value="不派車"/>
           
                  
                    }

                }

                        </div></td>
               foreach (var items in peoplearr)
                {


                    string[] updownpeople = items.Split(':');
                    total += Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                    if (updownpeople[0] == "0" && updownpeople[1] == "0")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                        <div>▲:@updownpeople[0] ▼:@updownpeople[1]</div>
                       <div>總:@total</div>
                    </td> 
                    }

                }
}
            </tr>
 
        }
        </tbody>
    </table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
        $("#backSendcar").click(function () {
            location.href = '@Url.Action("Sendcarindex", "SendCar")';
        });
        $(".NoSend").click(function () {

            var sendCarId = $(this).attr("id");
            $.ajax({
                url: '@Url.Action("NoSend", "SendCar")',
                data: { id: sendCarId },
                   type: 'post',
                   cache: false,
                   async: false,
                   dataType: 'json',
                   success: function (data) {
                       if (data["Message"] === "Success") {
                           window.location.reload();
                        } 
                   }
               });

           });

    </script>
}

