﻿@using MvcPaging
@using PtBusToSchool.Models
@model List<PtBusToSchool.Models.SendCar>

@{
    ViewBag.Title = "派遣清單";
    List<SendCar> btnsendcar = ViewBag.sendcars;
    int i = 0;
    EndReservation endReservations = null;

    if (ViewBag.Have)
    {
        endReservations = ViewBag.endReservations;
    }
 }

<style>
    
   #fixTablePanelHeaderContentFreeze {
    /*display: none!important;*/
   }
  
</style>

<h2>@ViewBag.StartDate


    @foreach (var item in btnsendcar)
    {

        foreach (var items in item.ChildSendCar)
        {
            Boolean YN = false;
            Boolean yntwo = false;
            string enable = "";
            i++;
            if (i == 1)
            {

                foreach (var itemss in items.ChildSendCar)
                {
                    yntwo = false;
                    string[] peoplearr = itemss.People.Split('、');

                    foreach (var peopleitems in peoplearr)
                    {
                        if (peopleitems != "0:0")
                        {
                            yntwo = true;
                            break;
                        }
                    }
                    if (yntwo)
                    {
                        if (itemss.CarNum.HasValue && itemss.CarNum >= 0)
                        {
                            enable += "true";
                        }
                        else
                        {
                            enable += "false";
                        }
                    }
                    else
                    {
                        enable += "nobody";
                    }


                }

 @items.LineName.CarId

        <span>的派遣管理</span>





        <div></div>
            }
            if (i != 1)
            {
                foreach (var itemss in items.ChildSendCar)
                {
                    yntwo = false;
                    string[] peoplearr = itemss.People.Split('、');

                    foreach (var peopleitems in peoplearr)
                    {
                        if (peopleitems != "0:0")
                        {
                            yntwo = true;
                            break;
                        }
                    }
                    if (yntwo)
                    {
                        if (itemss.CarNum.HasValue && itemss.CarNum >= 0)
                        {
                            enable += "true";
                        }
                        else
                        {
                            enable += "false";
                        }
                    }
                    else
                    {
                        enable += "nobody";
                    }


                }
                if (!string.IsNullOrEmpty(enable.Replace("nobody", "")))
                {
                    enable = enable.Replace("nobody", "");
                    if (enable.Contains("false"))
                    {
 @Html.ActionLink(items.LineName.CarId, "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
 @Html.ActionLink(items.LineName.CarId, "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-primary" })
                    }
                }

                else
                {
 @Html.ActionLink(items.LineName.CarId, "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-danger weak" })

                }

                foreach (var itemss in items.ChildSendCar)
                {
                    if (itemss.CarNum.HasValue && itemss.CarNum >= 0)
                    {
                        YN = true;
                    }
                    else
                    {
                        YN = false;
                    }

                }

            }


        }
    }

    <input type="button" class="btn btn-primary" id="backSendcar" value="回派遣列表" />

</h2>

@if (ViewBag.Have)
{

    
     <table id="fixTable" style="width:100%;">
    <tr class="GridviewScrollHeader">


        @{
    string[] carlinearr = ViewBag.carnotime.Split('→');

 }

        <th>發車時間</th>
        <th>上下車名單</th>
        @foreach (var item in carlinearr)
        {

            <th>@item</th>
        }



    </tr>


        @foreach (var item in endReservations.ChildEndReservation)
        {

            <tr class="GridviewScrollHeader">
   
                    

                @{
            string[] peoplearr = item.People.Split('、');
            int total = 0;
            string[] timearr = item.CarTime.Split('、');
            Boolean show = false;
 }
                @foreach (var items in peoplearr)
                {
                    if (items != "0:0")
                    {
                        show = true;
                        break;
                    }
                }
                @if (show)
                {
                    int top = 0;
                    int timecount = 0;
                    foreach (var items in peoplearr)
                    {


                        string[] updownpeople = items.Split(':');
                        total += Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);

                        if (top == 0)
                        {
                            top = total;
                        }
                        else
                        {
                            if (top < total)
                            {
                                top = total;
                            }
                        }



                    }







                    <td>
                        @timearr[0]
                        <div>@item.Driver.Subject</div>
                        <div>@item.Car.Subject</div>
                    </td>
                    
 <td>
                         @Html.ActionLink("詳情", "UpDownList", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                     
                    </td>
              
                  
                    
                    foreach (var items in peoplearr)
                            {


                                string[] updownpeople = items.Split(':');
                                total += Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                                if (updownpeople[0] == "0" && updownpeople[1] == "0")
                                {

                    <td></td>
                                }
                                else
                                {

                                    <td>
                                        @timearr[timecount]
                                        <div>▲:@updownpeople[0] ▼:@updownpeople[1]</div>
                                        <div>總:@total</div>
                                    </td>
                                }
                                
                                timecount++;
                            }
                }
            </tr>

        }
</table>
    
    
    
    
}
else
{
    <table id="fixTable" id="fixTable" style="width:100%;">
    <tr class="GridviewScrollHeader">


        @{
    string[] carlinearr = ViewBag.carnotime.Split('→');

 }

        <th>發車時間</th>
        @foreach (var item in carlinearr)
        {

            <th>@item</th>
        }



    </tr>


        @foreach (var item in Model)
        {

            <tr class="GridviewScrollHeader">


                @{
            string[] peoplearr = item.People.Split('、');
            int total = 0;
            string[] timearr = item.CarNoTime.Time.Split('、');
            Boolean show = true;
 }
                @*foreach (var items in peoplearr)
                {
                    if (items != "0:0")
                    {
                        show = true;
                        break;
                    }
                }*@
                @if (show)
                {
                    int top = 0;
                    foreach (var items in peoplearr)
                    {


                        string[] updownpeople = items.Split(':');
                        total += Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);

                        if (top == 0)
                        {
                            top = total;
                        }
                        else
                        {
                            if (top < total)
                            {
                                top = total;
                            }
                        }



                    }
                    
                    
                    




                    <td>單站最高人數:@top<div>
                        @timearr[0]
                        </div>
                        <div>
                            @if (item.CarNum.HasValue && item.CarNum != 0)
                            {

 @Html.ActionLink("已派" + item.CarNum + "台車", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })


                            }
                            else
                            {
                                if (item.CarNum == 0)
                                {

 @Html.ActionLink("選擇不派車", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })


                                }
                                else
                                {

 @Html.ActionLink("派車", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })

                                <input type="button" class="btn btn-danger NoSend" id="@item.Id" value="不派車"/>


                                }

                            }

                        </div>
                    </td>
                            foreach (var items in peoplearr)
                            {


                                string[] updownpeople = items.Split(':');
                                total += Convert.ToInt16(updownpeople[0]) - Convert.ToInt16(updownpeople[1]);
                                if (updownpeople[0] == "0" && updownpeople[1] == "0")
                                {

                    <td></td>
                                }
                                else
                                {

                    <td>
                        <div>▲:@updownpeople[0] ▼:@updownpeople[1]</div>
                        <div>總:@total</div>
                    </td>
                                }

                            }
                }
            </tr>

        }
</table>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
        $("#backSendcar").click(function () {
            location.href = '@Url.Action("Sendcarindex", "SendCar")';
        });

        // $("#fixTable").tableHeadFixer({"left" : 1}); 
        
        // var windowWidth = $('#content').width()
        // var windowHeight = $(window).height()
        // $('#fixTable').gridviewScroll({ 
        //     width: windowWidth, 
        //     height: windowHeight - 200, 
        //     freezesize: 2 
        // }); 

        $(".NoSend").click(function () {

            var sendCarId = $(this).attr("id");
            $.ajax({
                url: '@Url.Action("NoSend", "SendCar")',
                data: { id: sendCarId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data["Message"] === "Success") {
                        window.location.reload();
                    }
                }
            });

        });

    </script>
}

