﻿@using MvcPaging
@using PtBusToSchool.Models
@model MvcPaging.IPagedList<PtBusToSchool.Models.SendCar>

@{
    ViewBag.Title = "媒合派遣管理";
   List<EndReservation> endReservations = ViewBag.EndReservationsList;
      List<StudentReservation> studentall = ViewBag.students;
    List<StudentReservation> studentsuccess = ViewBag.studentsSuccess;
	 List<SendCar> sendcars=ViewBag.Sendcar;
}

<div class="loading-page">
    <div class="loading-page-gif">
        <img src="Spinner.gif" alt="">
        <div>媒合中，請稍候...</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

@*
    @using (Html.BeginForm())
    {
        <div class="input-text-group">
            <div>
                <label for="">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
                </label>

                <input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/>
                <input class="btn btn-primary" type="submit" value="搜尋"/>


            </div>
        </div>
    }
  *@

<style>
    .SearchResultList li {
        border-right: 1px solid #CCC;
        width: 14.2222%;
        padding: 1%;
        float: left;
        position: relative;
    }
    .SearchResultList .control {
       /* padding: 5px;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0px;*/
    }
    .SearchResultList .time {
        padding: 0px 0 20px 0;
        font-size: 25px;
        text-align: center;

    }
    .SearchResultList .time div {
        padding: 0px 0 15px 0;
    }
    .SearchResultList .title {
        /*background: #f7f7f7;*/
        padding: 0px 0 15px 0;
        font-size: 22px;
        height: 240px;
    }

    .SearchResultList .content {
        padding: 15px 0;
        border-top: 1px dashed #CCC;
        /*border-bottom: 1px solid #CCC;*/
    }
    .SearchResultList .btn-danger {
        margin-right: 5px;

    }
    .SearchResultList .btn {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .state-info li {
      display: inline-block;
      padding-right: 10px;
    }
    .state-info .icon {
      margin-right: 5px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      vertical-align: middle;
    }
    .primary {
      background: #f0f0f0;
      border: 1px solid #d3d3d3;
    }
    .danger {
      background: #ff5454;
    }
    .danger-weak {
      border: 1px solid #ff5454;
    }
</style>


<!--<div style="color: gray;padding: 10px 0;letter-spacing: 2px; ">按鈕狀態說明</div>-->

@* <a href="###" class="btn btn-primary">已完成所有班次派車</a> *@
@* <a href="###" class="btn btn-danger">尚未完成派車</a> *@
@* <a href="###" class="btn btn-danger weak">當日尚無預約</a> *@

<ul class="state-info">
  <li>
    <span class="icon primary"></span><span style="color:#747474">已完成所有班次派車</span>
  </li>
  <li>
    <span class="icon danger"></span><span style="color:#ff5454">尚未完成派車</span>
  </li>
  <li>
    <span class="icon danger-weak"></span><span style="color:#ff5454">當日尚無預約</span>
  </li>
</ul>
<div style="padding: 10px 0;">路線名稱（媒合成功人數/預約總人數）</div>



    @* <h3>@Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)</h3> *@

    <div style="height: 50px;"></div>

    <ul class="SearchResultList">

        @foreach (var item in Model.Where(x => x.StartDate != null))
        {
            <li>

                <div class="title">
                    <div class="time">
                        <div>@item.StartDate.GetValueOrDefault().Date.ToString("yyyy")  </div>
                        <div>@item.StartDate.GetValueOrDefault().Date.ToString("MM/dd") </div>
                        @{
                            string week = item.StartDate.GetValueOrDefault().Date.DayOfWeek.ToString();
                            if (week == "Monday")
                            {
                                week = "一";
                            }
                            else if (week == "Tuesday")
                            {
                                week = "二";
                            }
                            else if (week == "Wednesday")
                            {
                                week = "三";
                            }
                            else if (week == "Thursday")
                            {
                                week = "四";
                            }
                            else if (week == "Friday")
                            {
                                week = "五";
                            }
                            else if (week == "Saturday")
                            {
                                week = "六";
                            }
                            else if (week == "Sunday")
                            {
                                week = "日";
                            }

                        }
                        <div>(@(week))</div>
                    </div>
                <span class="control">
                @Html.ActionLink("查看班表及換車", "Arrangeshifts", new { id = item.Id }, new {@class = "btn btn-success"})
         @{
                    int canmatch = endReservations.Where(x => x.StartDate == item.StartDate).ToList().Count;
                }
                @if (canmatch == 0)
                {
                     var sendcarhave = sendcars.FirstOrDefault(x => x.StartDate == item.StartDate);
                    if (sendcarhave.ChildSendCar.ToList().Count != 0)
                    {
                        <a class="btn btn-info match" style="cursor: pointer" >媒合</a>
                    }

                }

                    @Html.Hidden("QID", item.Id)
                </span>

                </div>





            <div class="content">
            @foreach (var items in item.ChildSendCar)
             {

                 Boolean YN = false;
                 Boolean yntwo = false;
                 string enable = "";
                 foreach (var itemss in items.ChildSendCar)
                 {
                     yntwo = false;
                     string[] peoplearr = itemss.People.Split('、');

                         foreach (var peopleitems in peoplearr)
                         {
                             if (peopleitems != "0:0")
                             {
                                 yntwo = true;
                                 break;
                             }
                         }


                     if (yntwo)
                     {
                         if (itemss.CarNum.HasValue && itemss.CarNum >= 0)
                         {
                             enable += "true";
                         }
                         else
                         {
                             enable += "false";
                         }
                     }
                     else
                     {
                         enable += "nobody";
                     }


                 }

                 if (!string.IsNullOrEmpty(enable.Replace("nobody", "")))
                 {
				   string carlineId = items.CarLineId + "";
                     var allcount = studentall.Where(x =>x.ReservationDate==item.StartDate&& x.ReservationCarLine == carlineId).Count();
                     var successcount = studentsuccess.Where(x => x.ReservationDate == item.StartDate && x.ReservationCarLine == carlineId).Count();
                     enable = enable.Replace("nobody", "");
                     if (enable.Contains("false"))
                     {
                           @Html.ActionLink(items.LineName.CarId+"("+successcount+"/"+allcount +")", "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-danger" })
                     }
                     else
                     {
                         @Html.ActionLink(items.LineName.CarId+"("+successcount+"/"+allcount +")", "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-primary" })
                     }
                 }

                 else
                 {
                      if (canmatch == 0)
                {
                     @Html.ActionLink(items.LineName.CarId+"(0/0)", "SendCarDetails", new { id = items.Id, date = item.StartDate }, new { @class = "btn btn-danger weak" })
                 }
                                }

             }
            </div>


            </li>

        }

        <div class="clear"></div>
    </ul>


<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $(".match").click(function() {
                var orderid = $(this).next().val();
                $.get("/StudentReservation/CanMatch", { id: orderid })
                    .done(function(data) {
                        if (data["Message"] === "失敗") {
                            //$("#matchmessage").text("很抱歉你要媒合的日期尚有班次未派車，或是未選擇不派車");
                           alert("很抱歉你要媒合的日期尚有班次未派車，或是未選擇不派車");
                        } else {
                            if (!window.confirm('你確定要媒合嗎?')) {
                                return false;
                            }

                            $.get("/StudentReservation/NewMatch", { id: orderid })
                                .done(function (data) {
                                    alert("媒合已完成");
                                    window.location = "/SendCar/Sendcarindex";
                                });

                        }
                    });



            });

            $('.time div:contains("六"),.time div:contains("日")').css('color','red');


        });


    </script>
}

