﻿@using PtBusToSchool.Models
@model List<StudentReservation>

@{
    ViewBag.Title = "上下車名單";
   
}

<style>
    table.table {
        width: 2500px;
    }
    .state-info li {
      display: inline-block;
      padding-right: 10px;
    }
    .state-info .icon {
      margin-right: 5px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      vertical-align: middle;
      padding-left: 3px;
    }
    .primary {
      background: #000;
      border: 1px solid #d3d3d3;
    }
    .danger {
      background: #ff5454;
    }
    .checked {
      color: black;
      background: none;

    }
</style>

<input type="button" onclick="history.back()" class="btn btn-primary" value="回派遣管理" />
<h2>上下車名單</h2>
<ul class="state-info">
  
  <li>
    <span class="icon checked">&#10004;</span><span style="color:#747474">已報到成功</span>
  </li>
  <li>
    <span class="icon primary"></span><span style="color:#747474">一般預約</span>
  </li>
  <li>
    <span class="icon danger"></span><span style="color:#747474">晚鳥預約</span>
  </li>
</ul>
<table class="table">
    <tr>
        <th>狀態/站點
        </th>


        @{
            string carline = ViewBag.carline;
            string[] carlinearr = carline.Split('→');
            string time = ViewBag.Time;
            string[] timearr = time.Split('、');
            int timecount = 0;
        }
        @foreach (var item in carlinearr)
        {
            
            <th>@item
                <div>
                    @timearr[timecount]
                </div>
            </th>
          
                timecount++;
            

            

        }


    </tr>
    <tbody>

        <tr>
            <td>上車
            </td>

            @foreach (var item in carlinearr)
            {
                <td>
                  

                    @foreach (var items in Model.Where(x => x.ReservationStatus == ReservationState.預約成功 && x.Startstation == item))
                    {
                       
                           if (items.TakeStatus == TakeState.已報到)
                        {
                            <div>
                               &#10004;&nbsp;@(items.Student)
                            </div>
                        }
                        else
                        {
                               <div>
                            @items.Student
                        </div>
                        }
                    }
                    @foreach (var items in Model.Where(x => x.ReservationStatus == ReservationState.晚鳥預約成功 && x.Startstation == item))
                    {
                        if (items.TakeStatus == TakeState.已報到 )
                        {
                          
                         <div style="Color: red">
                            &#10004;&nbsp;@(items.Student)
                        </div>
                        }
                        else
                        {
                            <div style="Color: red">
                            @items.Student
                        </div>
                        }
                    }
                 
                </td>
            }







        </tr>
        <tr>
            <td>下車
            </td>
            @foreach (var item in carlinearr)
            {
                <td>
               

                    @foreach (var items in Model.Where(x => x.ReservationStatus == ReservationState.預約成功 && x.Endstation == item))
                    {
                        if (items.TakeStatus == TakeState.已報到 && items.DownTime.HasValue)
                        {
                            <div>
                               &#10004;&nbsp;@(items.Student)
                            </div>
                        }
                        else
                        {
                               <div>
                            @items.Student
                        </div>
                        }
                     
                    }
                    @foreach (var items in Model.Where(x => x.ReservationStatus == ReservationState.晚鳥預約成功 && x.Endstation == item))
                    {
                        if (items.TakeStatus == TakeState.已報到 && items.DownTime.HasValue)
                        {
                          
                         <div style="Color: red">
                            &#10004;&nbsp;@(items.Student)
                        </div>
                        }
                        else
                        {
                            <div style="Color: red">
                            @items.Student
                        </div>
                        }
                        
                    }
                 
                </td>
            }

        </tr>


    </tbody>
</table>

